<div class="panel panel-default" ng-controller="teamsController">
  <div ng-show="isLogged" class="panel-body">
    <div>
      <p ng-i18next="teams_intro"></p>
      <p ng-show="!item.bTeamsEditable" ng-i18next="teams_not_editable"></p>
      <p ng-show="item.bTeamsEditable"><span ng-i18next="teams_conditions_intro"></span></p>
      <ul ng-show="item.bTeamsEditable">
        <li ng-if="item.iTeamMaxMembers"><span ng-i18next="teams_conditions_max"></span> {{ item.iTeamMaxMembers }} <span ng-i18next="teams_conditions_members"></span></li>
        <li ng-if="item.idTeamInGroup && item.sTeamMode == 'One'" ng-i18next="teams_conditions_one"></li>
        <li ng-if="item.idTeamInGroup && item.sTeamMode == 'Half'" ng-i18next="teams_conditions_half"></li>
        <li ng-if="item.idTeamInGroup && item.sTeamMode == 'All'" ng-i18next="teams_conditions_all"></li>
        <li ng-if="!item.iTeamMaxMembers && (!item.idTeamInGroup || item.sTeamMode == 'None')" ng-i18next="teams_conditions_none"></li>
      </ul>
      <p ng-if="qualificationState == 1" class="text-success" ng-i18next="teams_qualification_yes"></p>
      <p ng-if="qualificationState <= 0 && !canResetQualificationState" class="text-warning"><span ng-i18next="teams_qualification_no"></span> <span ng-if="qualificationState == 0" ng-i18next="teams_qualification_join"></span></p>
      <p ng-if="canResetQualificationState" class="text-danger"><span ng-i18next="teams_qualification_reset_code"></span> <button class="btn btn-default" ng-click="resetDoNotPossess();" ng-i18next="teams_qualification_reset_code_btn"></button></p>
    </div>
    <div class="text-danger" ng-i18next="{{ error }}"></div>
    <div ng-show="team">
      <hr ng-show="item.bTeamsEditable" />
      <div>
        <span ng-if="team.isAdmin" ng-i18next="teams_team_leading"></span>
        <span ng-if="!team.isAdmin" ng-i18next="teams_team_member"></span>
        : <b>{{ team.sName }}</b>.
      </div>
      <div ng-if="item.bTeamsEditable && (team.isAdmin || team.sPassword)">
        <span ng-i18next="teams_code"></span>
        <input type="text" class="access-code" ng-model="team.sPassword" readonly/>
        <span class="checkboxSwitch" ng-if="team.isAdmin">
          <input type="checkbox" id="codeInscr" class="switch" ng-model="hasPassword" ng-change="changeTeamPassword();">
          <label for="codeInscr"><span></span></label>
       </span>
      </div>
      <hr />
      <table class="table table-bordered table-hover">
        <tr>
          <th ng-i18next="teams_table_members"></th>
          <th ng-i18next="teams_table_since"></th>
          <th ng-if="item.bTeamsEditable && team.isAdmin" ng-i18next="teams_table_remove"></th>
        </tr>
        <tr ng-repeat="child in team.children">
          <td ng-class="{'success': child.qualified}">
            <b ng-if="child.sFirstName || child.sLastName">{{ child.sFirstName }} {{ child.sLastName }} <i>[{{ child.sName }}]</i></b>
            <b ng-if="!child.sFirstName && !child.sLastName">{{ child.sName }}</b>
            <span ng-if="child.isAdmin" ng-i18next="teams_table_leader"></span>
            <span ng-if="child.qualified" ng-i18next="teams_table_qualified"></span>
            <span ng-if="!child.qualified" ng-i18next="teams_table_nonqualified"></span>
          </td>
          <td>{{ child.sStatusDate|date:'short' }}</td>
          <td ng-show="item.bTeamsEditable && team.isAdmin"><button class="btn btn-default" ng-show="child.idGroupChild != userGroupSelf" ng-click="removeTeamMember(child.idGroupChild);" ng-i18next="remove"></button></td>
        </tr>
      </table>
      <div>
        <span ng-if="team.checkRequirements.result">
          <b ng-show="team.iTeamParticipating == 0" class="text-success" ng-i18next="teams_requirements_yes"></b>
          <button ng-show="team.iTeamParticipating == 0" class="btn btn-primary" ng-click="startItem();" ng-i18next="teams_start"></button>
          <b ng-show="team.iTeamParticipating == 1" class="text-success" ng-i18next="teams_started"></b>
        </span>
        <b ng-if="!team.checkRequirements.result" class="text-warning">
          <span ng-i18next="teams_requirements_no"></span>
          <span ng-i18next="{{ team.checkRequirements.error }}"></span>
        </b>
      </div>
      <div style="height: 16px;"></div>
      <div ng-show="item.bTeamsEditable"><button class="btn btn-default" ng-click="leaveTeam();" ng-i18next="teams_leave"></button></div>
    </div>
    <div ng-hide="!item.bTeamsEditable || team || canResetQualificationState">
      <hr />
      <div><span ng-i18next="teams_join_code"></span> <input type="text" ng-model="joinPassword"></input><button class="btn btn-default" ng-click="joinTeam();" ng-i18next="join"></button></div>
      <div ng-hide="qualificationState <= 0"><span ng-i18next="teams_create"></span> <input type="text" ng-model="newTeamName"></input><button class="btn btn-default" ng-click="createTeam();" ng-i18next="create"></button></div>
    </div>
  </div>
  <div ng-show="!isLogged" class="panel-body">
    <p ng-i18next="teams_intro"></p>
    <p ng-i18next="teams_not_logged"></p>
  </div>
</div>
