/*
 * General layout setting:
 *   * overriding jquery-ui-layout strange values)
 *   * making scrollbar unique instead of per-pane
 */
html, body {
   height: 100%;
   width:  100%;
   position:relative;
}
body {
   /*overflow-y: scroll;*/
   overflow-x: auto;
}


#toolbar .sidebar-left-control > * {
  color: #fff;
}
.iframe-task {
   width:800px;
   margin: auto;
   border: 0px;
   display: block;
   overflow: auto;
   height: 500px;
}
.iframe-course {
   width: 100%;
   min-width:600px;
   margin: auto;
   border: 0px;
   display: block;
   overflow:auto;
   height: calc(100vh - 170px);
}
.tabset-task {
   width: 800px;
   margin: auto;
}

/*
 * Main panels
 */
.view-button {
   position:absolute;
   z-index:3;
   overflow:visible;
   top:5px;
   right:5px;
}


/* from http://cpratt.co/twitter-bootstrap-callout-css-styles/ */
.bs-callout {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}
.bs-callout h4 {
    margin-top: 0;
    margin-bottom: 8px;
    font-size:17px;
}
.bs-callout p:last-child {
    margin-bottom: 0;
}
.bs-callout code {
    border-radius: 3px;
}
.bs-callout+.bs-callout {
    margin-top: -5px;
}
.bs-callout-default {
    border-left-color: #777;
}
.bs-callout-default h4 {
    color: #777;
}
.bs-callout-primary {
    border-left-color: #428bca;
}
.bs-callout-primary h4 {
    color: #428bca;
}
.bs-callout-success {
    border-left-color: #5cb85c;
}
.bs-callout-success h4 {
    color: #5cb85c;
}
.bs-callout-danger {
    border-left-color: #d9534f;
}
.bs-callout-danger h4 {
    color: #d9534f;
}
.bs-callout-warning {
    border-left-color: #f0ad4e;
}
.bs-callout-warning h4 {
    color: #f0ad4e;
}
.bs-callout-info {
    border-left-color: #5bc0de;
}
.bs-callout-info h4 {
    color: #5bc0de;
}

.level-title {
  font-weight:bold;
  font-size: 18pt;
  color: #2e75b6;
}

.level-subtitle {
  color: #2e75b6;
}

.level-container {
  border: 2px solid #e7e6e6;
  margin-top:20px;
  display:flex;
  flex-direction:row;
}

.level-description {
  color: #a6a6a6;
  padding-left:25px;
}

.level-moreInfos {
  color: #a6a6a6;
}

.level-educomment {
  color: #a6a6a6;
}

.level-image {
  padding-left:20px;
  width:150px;
  flex: 0 0 auto;
}

.level-notimage {
  padding: 15px;
  flex: 0 1 auto;
}

/* Tab sections */
.nav-tabs>li>a {
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  transition: all 250ms;
  outline: 0;
}
.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover  {
  color: #82bf2b;
}

/* Generic elements */
.checkboxSwitch input.switch {
  display: none;
}
.checkboxSwitch input.switch + label {
  background-color: #fff;
  border: 1px solid #ccc;
  width: 60px;
  height: 30px;
  border-radius: 15px;
  position: relative;
  vertical-align: middle;
  cursor: pointer;
}
.checkboxSwitch.small input.switch + label {
  width: 35px;
  height: 20px;
}
.checkboxSwitch input.switch + label span {
  width: 20px;
  height: 20px;
  top: 4px;
  left: 5px;
  position: absolute;
  border-radius: 50%;
  background-color: #ddd;
  transition: all 250ms;
}
.checkboxSwitch.small input.switch + label span {
  width: 10px;
  height: 10px;
  top: 4px;
  left: 5px;
}
.checkboxSwitch input.switch:checked + label span {
  background-color: #2aa3ff;
  left: 33px;
}
.checkboxSwitch.small input.switch:checked + label span {
  left: 18px;
}
.radio-label {
  font-weight: normal;
}
/* Footer */
footer {
   background:#2aa3ff;
}
footer a {
  color: #005CA2;
}

.sync-alert {
  font-size: 75%;
  z-index: 10000;
  position: fixed;
  right: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
  padding: 5px 10px;
  width: 30%;
  top: 0;
  background: #fff;
  border: 1px solid #666;
  border-top: 0;
  border-radius: 0 0 4px 4px;
  -moz-border-radius: 0 0 4px 4px;
  -webkit-border-radius: 0 0 4px 4px;
  -webkit-box-shadow: 0px 0px 8px 2px rgba(0,0,0,0.4);
  -moz-box-shadow: 0px 0px 8px 2px rgba(0,0,0,0.4);
  box-shadow: 0px 0px 8px 2px rgba(0,0,0,0.4);
}

.sync-alert .message {
  font-weight: bold;
  color: #933;
}

.incompatible-browser {
  margin-top: 50px;
  text-align: center;
}