/*
 * General layout setting:
 *   * overriding jquery-ui-layout strange values)
 *   * making scrollbar unique instead of per-pane
 */
html, body {
   height: 100%;
   width:  100%;
   position:relative;
}
body {
   /*overflow-y: scroll;*/
   overflow-x: auto;
}
body.mobile-layout.has-sidebar-left-open {
  overflow-x: hidden;
}

/*
 * Header colors
 */
header {
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.16), 0px 2px 10px 0px rgba(0, 0, 0, 0.12);
}

#branding-toolbar {
  background-color:#82bf2b;
  color: #fff;
}

.language-selector {
  color: #fff;
}
#menu-main {
  background-color: #e8e8e8;
}
#menu-main .language-selector {
  color: #5d5d5d;
  text-align: right;
  border-bottom: 1px solid #d9d9d9;
  padding-right: 10px;
  margin-right: 0;
}
.language-selector .dropdown-menu {
  color: #000;
}
#menu-main .language-selector .dropdown-menu {
  right: 10px;
}
.language-selector .dropdown-menu li:hover {
  background-color: #ccc;
}

.menu-item {
  background: #e8e8e8;
  color: #5d5d5d;
  border-bottom: 1px solid #d9d9d9;
  border-right: 1px solid #d9d9d9;
  margin-right: -1px;
  border-left: 1px solid #d9d9d9;
}
.mobile-layout .menu-item {
  border-bottom: 1px solid #d9d9d9;
}
.menu-item-active {
  background: #2aa3ff;
  color: #fff;
}

.userinfo .logout-btn:active,
.userinfo .logout-btn:hover,
.userinfo .logout-btn:focus {
  color: #000;
}

#toolbar {
  background-color: #2aa3ff;
}
#toolbar.affix {
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.16), 0px 2px 10px 0px rgba(0, 0, 0, 0.12);
}
.sidebar-left-control > * {
  color: #fbfbfb;
  border-radius: 20%;
  border: 2px solid #fbfbfb;
}
.sidebar-left {
  background: #f8f8f8;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.16), 0px 2px 10px 0px rgba(0, 0, 0, 0.12);
}
.sidebarleft-inactive {
   cursor: default;
   color: #ccc;
   border-color: #ccc;
}
.sidebar-left-content {
  border-bottom:2px solid #cecece;
}

.sidebar-left-main-item {
  color: #0f4a6d;
}
.sidebar-left .validated-item-icon {
   color: #82bf2b;
}
.sidebar-left .partial-item-icon {
   color: #f29f24;
}
.sidebar-left .failed-item-icon {
   color: #ff4a12;
}
.sidebar-left .visited-item-icon {
   color: #359AE7;
}
.sidebar-left .unfinished-item-icon {
   color: #2aa3ff;
}
.sidebar-left .unvisited-item-icon {
   color: #878787;
}
.sidebar-left .active-item-icon {
   color: #fff;
}
.sidebar-left .item-link {
   text-decoration:none;
   color: #23527c;
}
.sidebar-left .item-link:hover {
   text-decoration:none;
}
.sidebar-left .item-link:focus {
   text-decoration:none;
}
.sidebar-left .active-item-link {
   color: #fff;
}
.sidebar-left .visited-item-link {
   color: #359AE7;
}
.sidebar-left .unvisited-item-link {
   color: #878787;
}
.sidebar-left .active-item-background {
   background: #2aa3ff;
}
.sidebar-left .inactive-item-background {
}

#toolbar .sidebar-left-control > * {
  margin: 0 5px;
  font-size: 18px;
  font-weight: bold;
}
.mobile-layout .sidebar-left-control > * {
  font-size: 18px;
}
.main-titlebar .sidebar-left-control > * {
}

#breadcrumbs a {
  color: #000;
}
#breadcrumbs .breadcrumbs-item-active {
  color: #fff;
}
#breadcrumbs .breadcrumbs-after-selected,
#breadcrumbs .breadcrumbs-after-selected a {
  color: #ccc;
}

/* Exercise mode menu display*/
.menu-more {
  color: #fff;
}
#navTopOverlay,
#mobileNavTopOverlay {
  background-color: #ccc;
  background-color: rgba(0,0,0,0.3);
}

/*
 * Login Frame
 */
.loginFrame {
  background-color:#878787;
}

/*
 * Main title bar colors
 */
.main-titlebar {
  color: #0f4a6d;
  background-color: #e8e8e8;
}
.main-titlebar-icon {
  background-color:#82bf2b;
  color: #fff;
}
.main-titlebar-community {
  background: #878787;
  color: #fff;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.16), 0px 2px 10px 0px rgba(0, 0, 0, 0.12);
}
.main-right-arrow,
.main-up-arrow,
.main-left-arrow {
   color: #0f4a6d;
 }

/*
 * Tabs colors
 */
.task-tab {
  color: #337ab7;
  border: 1px solid transparent;
}
.task-tab:hover {
  border-color: #eee #eee #ddd;
  background-color: #eee;
}
.task-tabs-inner {
  border-bottom: 1px solid #ddd;
}
.main-tabs {
  border-bottom: 1px solid #ddd;
  margin: 10px 10px 0px 10px;
}
.task-tab.task-tab-selected {
  color: #82bf2b;
  background-color: #fff;
  border: 1px solid #ddd;
  border-bottom-color: transparent;
}
.task-tab.task-tab-disabled {
  color: #bbbbbb;
  background-color: transparent;
}


.children-item {
  border-bottom: 1px solid #e7e6e6;
}

.iframe-task {
   width:800px;
   margin: auto;
   border: 0px;
   display: block;
   overflow: auto;
   height: 500px;
}
.iframe-course {
   width: 100%;
   min-width:600px;
   margin: auto;
   border: 0px;
   display: block;
   overflow:auto;
   height: calc(100vh - 170px);
}
.tabset-task {
   width: 800px;
   margin: auto;
}

/*
 * Main panels
 */
.view-button {
   position:absolute;
   z-index:3;
   overflow:visible;
   top:5px;
   right:5px;
}

.main-area .validated-item-icon {
   color: #82bf2b;
}
.main-area .partial-item-icon {
   color: #f29f24;
}
.main-area .failed-item-icon {
   color: #ff4a12;
}
.main-area .visited-item-icon {
   color: #359AE7;
}
.main-area .unfinished-item-icon {
   color: #2aa3ff;
}
.main-area .unvisited-item-icon {
   color: #878787;
}
.main-area .active-item-icon {
   color: #fff;
}
.main-area .item-link {
   text-decoration:none;
   color: #23527c;
}
.main-area .item-link:hover {
   text-decoration:none;
}
.main-area .item-link:focus {
   text-decoration:none;
}
.main-area .active-item-link {
   color: #fff;
}
.main-area .visited-item-link {
   color: #359AE7;
}
.main-area .unvisited-item-link {
   color: #878787;
}
.main-area .active-item-background {
   background: #2aa3ff;
}
.main-area .inactive-item-background {
}

.access-code {
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    background-color: #eee;
    color: #555;
    font-size: 16px;
    font-family: 'DejaVu Sans Mono', Courier, monospace;
    height: 34px;
    width: 130px !important;
    padding: 6px 12px;
}

/* from http://cpratt.co/twitter-bootstrap-callout-css-styles/ */
.bs-callout {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}
.bs-callout h4 {
    margin-top: 0;
    margin-bottom: 8px;
    font-size:17px;
}
.bs-callout p:last-child {
    margin-bottom: 0;
}
.bs-callout code {
    border-radius: 3px;
}
.bs-callout+.bs-callout {
    margin-top: -5px;
}
.bs-callout-default {
    border-left-color: #777;
}
.bs-callout-default h4 {
    color: #777;
}
.bs-callout-primary {
    border-left-color: #428bca;
}
.bs-callout-primary h4 {
    color: #428bca;
}
.bs-callout-success {
    border-left-color: #5cb85c;
}
.bs-callout-success h4 {
    color: #5cb85c;
}
.bs-callout-danger {
    border-left-color: #d9534f;
}
.bs-callout-danger h4 {
    color: #d9534f;
}
.bs-callout-warning {
    border-left-color: #f0ad4e;
}
.bs-callout-warning h4 {
    color: #f0ad4e;
}
.bs-callout-info {
    border-left-color: #5bc0de;
}
.bs-callout-info h4 {
    color: #5bc0de;
}


.level-title {
  font-weight:bold;
  font-size: 18pt;
  color: #2e75b6;
}

.level-subtitle {
  color: #2e75b6;
}

.level-container {
  border: 2px solid #e7e6e6;
  border-bottom-width: 1px;
  margin-top:20px;
  display:flex;
  flex-direction:row;
  align-items: center;
}

.level-description {
  color: #a6a6a6;
  padding-left:25px;
}

.level-moreInfos {
  color: #a6a6a6;
}

.level-educomment {
  color: #a6a6a6;
}

.level-image {
  padding-left:20px;
  flex: 0 1 100px;
  align-self: flex-start;
}

.level-image img {
  max-width: 100%;
}

.level-notimage {
  padding: 15px;
  flex: 0 1 auto;
}


/* Generic elements */
.checkboxSwitch input.switch {
  display: none;
}
.checkboxSwitch input.switch + label {
  background-color: #fff;
  border: 1px solid #ccc;
  width: 60px;
  height: 30px;
  border-radius: 15px;
  position: relative;
  vertical-align: middle;
  cursor: pointer;
}
.checkboxSwitch.small input.switch + label {
  width: 35px;
  height: 20px;
}
.checkboxSwitch input.switch + label span {
  width: 20px;
  height: 20px;
  top: 4px;
  left: 5px;
  position: absolute;
  border-radius: 50%;
  background-color: #ddd;
  transition: all 250ms;
}
.checkboxSwitch.small input.switch + label span {
  width: 10px;
  height: 10px;
  top: 4px;
  left: 5px;
}
.checkboxSwitch input.switch:checked + label span {
  background-color: #2aa3ff;
  left: 33px;
}
.checkboxSwitch.small input.switch:checked + label span {
  left: 18px;
}
.radio-label {
  font-weight: normal;
}
/* Footer */
footer {
   background:#2aa3ff;
}
footer a {
  color: #005CA2;
}

.sync-alert {
  font-size: 75%;
  z-index: 10000;
  position: fixed;
  right: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
  padding: 5px 10px;
  width: 30%;
  top: 0;
  background: #fff;
  border: 1px solid #666;
  border-top: 0;
  border-radius: 0 0 4px 4px;
  -moz-border-radius: 0 0 4px 4px;
  -webkit-border-radius: 0 0 4px 4px;
  -webkit-box-shadow: 0px 0px 8px 2px rgba(0,0,0,0.4);
  -moz-box-shadow: 0px 0px 8px 2px rgba(0,0,0,0.4);
  box-shadow: 0px 0px 8px 2px rgba(0,0,0,0.4);
}

.sync-alert .message {
  font-weight: bold;
  color: #933;
}

.group-code-prompt {
  max-width: 800px;
  margin: 50px auto 0 auto;
}


.content-wrapper {
  padding: 20px;
}

.best-attempt {
  font-weight: bold;
  color: green;
}
