/*
 * General layout setting:
 *   * overriding jquery-ui-layout strange values)
 *   * making scrollbar unique instead of per-pane
 */
html, body {
   height: 100%;
   width:  100%;
   position:relative;
}
body {
   overflow-y: scroll;
   overflow-x: auto;
}
.iframe-task {
   width:800px;
   margin: auto;
   border: 0px;
   display: block;
   overflow: auto;
   height: 500px;
}
.iframe-course {
   width: 100%;
   min-width:600px;
   margin: auto;
   border: 0px;
   display: block;
   overflow:auto;
   height: calc(100vh - 170px);
}
.tabset-task {
   width: 800px;
   margin: auto;
}

/*
 * Main panels
 */
.view-button {
   position:absolute;
   z-index:3;
   overflow:visible;
   top:5px;
   right:5px;
}


/* from http://cpratt.co/twitter-bootstrap-callout-css-styles/ */
.bs-callout {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}
.bs-callout h4 {
    margin-top: 0;
    margin-bottom: 8px;
    font-size:17px;
}
.bs-callout p:last-child {
    margin-bottom: 0;
}
.bs-callout code {
    border-radius: 3px;
}
.bs-callout+.bs-callout {
    margin-top: -5px;
}
.bs-callout-default {
    border-left-color: #777;
}
.bs-callout-default h4 {
    color: #777;
}
.bs-callout-primary {
    border-left-color: #428bca;
}
.bs-callout-primary h4 {
    color: #428bca;
}
.bs-callout-success {
    border-left-color: #5cb85c;
}
.bs-callout-success h4 {
    color: #5cb85c;
}
.bs-callout-danger {
    border-left-color: #d9534f;
}
.bs-callout-danger h4 {
    color: #d9534f;
}
.bs-callout-warning {
    border-left-color: #f0ad4e;
}
.bs-callout-warning h4 {
    color: #f0ad4e;
}
.bs-callout-info {
    border-left-color: #5bc0de;
}
.bs-callout-info h4 {
    color: #5bc0de;
}

.level-title {
  font-weight:bold;
  font-size: 18pt;
  color: #2e75b6;
}

.level-subtitle {
  color: #2e75b6;
}

.level-container {
  border: 2px solid #e7e6e6;
  margin-top:20px;
  display:flex;
  flex-direction:row;
}

.level-description {
  color: #a6a6a6;
  padding-left:25px;
}

.level-moreInfos {
  color: #a6a6a6;
}

.level-educomment {
  color: #a6a6a6;
}

.level-image {
  padding-left:20px;
  width:150px;
  flex: 0 0 auto;
}

.level-notimage {
  padding: 15px;
  flex: 0 1 auto;
}

/* Tab sections */
.nav-tabs>li>a {
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  transition: all 250ms;
  outline: 0;
}
.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover  {
  color: #82bf2b;
}

/* Footer */
footer {
   background:#2aa3ff;
}
footer a {
  color: #005CA2;
}