<!DOCTYPE html>
<html lang="fr" ng-app="algorea"  ng-controller="navigationController">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title ng-bind="domainTitle"></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximal-scale=1.0, user-scalable=no, minimal-scale=1.0">
    <base href="/">
    <script type="text/javascript" src="config.js.php"></script>
<!--    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">-->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <link href="layout/3columns-flex.css" rel="stylesheet" type="text/css" />
    <link href="layout/menu.css" rel="stylesheet" type="text/css" />
    <link href="layout/main.css" rel="stylesheet" type="text/css" />
    <link href="layout/sidebar-left.css" rel="stylesheet" type="text/css" />
    <link href="layout/sidebar-right.css" rel="stylesheet" type="text/css" />
    <link href="groupAdmin/groupAdmin.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="algorea.css" type="text/css">
    <link rel="stylesheet" href="forum/forum.css" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto:300,700' rel='stylesheet' type='text/css'>
    <script type="text/javascript">
      if (config.domains.current.additionalCssUrl) {
        link = document.createElement( "link" );
        link.href =  config.domains.current.additionalCssUrl;
        link.type = "text/css";
        link.rel = "stylesheet";
        document.getElementsByTagName( "head" )[0].appendChild( link );
      }
    </script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    </script>
    <style>
    #animation-debut {
      position:absolute;
      top:0px;
      left:0px;
      width:100%;
      height:100%;
      z-index:99;
      opacity:1;
      border:0px;
      transition: opacity 0.5s ease-in-out;
      overflow:hidden;
    }
    .animation-debut-fade {
      opacity:0 !important;
      z-index:-99 !important;
    }
    [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
      display: none !important;
    }
    </style>
</head>
<body ng-controller="layoutController" id="body" ng-cloak>
<iframe id="animation-debut" src="animation.html" onclick="animationFinished()" style="display:none;"></iframe>
<div id="fixed-header-room" class="fixed-header-room"></div>
<header ng-click="layout.menuClicked($event);" ng-include="'menu.html'">
</header>
<div id='main'>

<nav ui-view="left" autoscroll="false" id="sidebar-left" class="sidebar-left" ng-hide="layout.isMenuClosed()"></nav>

<article id="view-right" ui-view="right" autoscroll="false" ng-click="layout.closeIfOpen();"></article>

</div>

<footer id="footer" ng-include="'footer.html'"></footer>

<div id="map" class="map" style="display:none;" ng-include="'map/map.html'"></div>

<script>
function animationFinished() {
  $('#animation-debut').addClass('animation-debut-fade');
  window.setTimeout(function() {
    $('#animation-debut').remove();
  }, 2000);
  document.getElementById('body').style['overflow-x']='auto';
  document.getElementById('body').style['overflow-y']='scroll';
}
function startAnimation() {
  document.getElementById('animation-debut').src=config.domains.current.animationHtmlFile;
  document.getElementById('animation-debut').style.display='block';
  document.getElementById('body').style['overflow-x']='hidden';
  document.getElementById('body').style['overflow-y']='hidden';
}
if (location.pathname=='/' && config.domains.current.animationHtmlFile) startAnimation();
</script>

<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
<script type="text/javascript">window.jQuery.ui || document.write('<script src="bower_components/jquery-ui/jquery-ui.min.js">\x3C/script>');</script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
<script type="text/javascript">window.angular || document.write('<script src="bower_components/angular/angular.min.js">\x3C/script>');</script>
<script src="bower_components/angular-i18n/angular-locale_fr-fr.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-sanitize.min.js"></script>
<script type="text/javascript">try {angular.module('ngSanitize');} catch(e) {document.write('<script src="bower_components/angular-sanitize/angular-sanitize.min.js">\x3C/script>');}</script>
<!--<script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.12.0/ui-bootstrap-tpls.min.js"></script>-->
<script>try {angular.module('ui.bootstrap');} catch(e) {document.write('<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js">\x3C/script>');}</script>
<!--<script src="//angular-ui.github.io/ui-router/release/angular-ui-router.min.js"></script>
<script>try {angular.module('ui.router');} catch(e) {document.write('<script src="bower_components/angular-ui-router/release/angular-ui-router.min.js">\x3C/script>');}</script>-->
<script src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
<script>
   var rootUrl = 'commonFramework/';
</script>
<script src="commonFramework/modelsManager/modelsManager.js"></script>
<script src="commonFramework/sync/syncQueue.js"></script>
<script src="shared/models.js"></script>
<script src="shared/utils.js"></script>
<link href="bower_components/dynatree/dist/skin/ui.dynatree.css" rel="stylesheet" type="text/css">
<script src="bower_components/dynatree/dist/jquery.dynatree.min.js" type="text/javascript"></script>
<script src="shared/small-ui-confirm.js" type="text/javascript"></script>
<script src="bower_components/angu-fixed-header-table/angu-fixed-header-table.js" type="text/javascript"></script>
<script src="ext/inheritance.js" type="text/javascript"></script>
<script src="bower_components/lodash/dist/lodash.min.js" type="text/javascript"></script>
<script src="commonFramework/treeview/treeview.js"></script>
<script src="login/service.js"></script>
<script src="algorea.js"></script>
<script src="layout.js"></script>
<script src="navigation/service.js"></script>
<script src="navigation/controllers.js"></script>
<script src="navigation/directives.js"></script>
<script src="community/controller.js"></script>
<script src="bower_components/paper/dist/paper-full.min.js"></script>
<script src="map/mapService.js"></script>
<script src="http://create.declick.net/map/map.js"></script>
<script src="bower_components/jschannel/src/jschannel.js"></script>
<script src="bower_components/pem-platform/task-xd-pr.js"></script>
<script src="login/controller.js"></script>
<script src="states.js"></script>
<script src="task/controller.js"></script>
<script src="task/directive.js"></script>
<script src="groupRequests/groupRequestsController.js"></script>
<script src="groupAdmin/groupAdminController.js"></script>
<script src="groupAdmin/groupAdminIndexController.js"></script>
<script src="userInfos/controller.js"></script>
<script src="forum/forumIndexController.js"></script>
<script src="forum/forumFilterController.js"></script>
<script src="shared/treeviewDirective.js"></script>
<script src="forum/forumThreadController.js"></script>
</body>
</html>
