<!DOCTYPE html>
<html lang="fr" ng-app="algorea"  ng-controller="navigationController">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title ng-bind="domainTitle"></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <base href="/">
    <script type="text/javascript" src="config.js.php"></script>
    <link rel="stylesheet" href="vendor.min.css">
    <link rel="stylesheet" href="algorea.min.css">
    <script type="text/javascript">
      if (config.domains.current.additionalCssUrl) {
        link = document.createElement( "link" );
        link.href =  config.domains.current.additionalCssUrl;
        link.type = "text/css";
        link.rel = "stylesheet";
        document.getElementsByTagName( "head" )[0].appendChild( link );
      }
    </script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <style>
    #animation-debut {
      position:absolute;
      top:0px;
      left:0px;
      width:100%;
      height:100%;
      z-index:99;
      opacity:1;
      border:0px;
      transition: opacity 0.5s ease-in-out;
      overflow:hidden;
    }
    .animation-debut-fade {
      opacity:0 !important;
      z-index:-99 !important;
    }
    </style>
</head>
<body ng-controller="layoutController" id="body">
<iframe id="animation-debut" src="animation.html" style="display:none;"></iframe>
<div id="fixed-header-room" class="fixed-header-room"></div>
<header id="header-id" ng-click="layout.menuClicked($event);" ng-include="'menu.html'" >
</header>
<div id='main'>

<nav ui-view="left" autoscroll="false" id="sidebar-left" class="sidebar-left" ng-hide="layout.isMenuClosed()"></nav>

<article id="view-right" ui-view="right" autoscroll="false" ng-click="layout.closeIfOpen();"></article>

<aside id="sidebar-right" class="sidebar-right" ng-include="'community/view.html'"  ng-controller="communityController">

</div>

<footer id="footer" ng-include="'footer.html'"></footer>

<div id="map" class="map" style="display:none;" ng-include="'map/map.html'"></div>

<script>
function animationFinished() {
  $('#animation-debut').addClass('animation-debut-fade');
  window.setTimeout(function() {
    $('#animation-debut').remove();
  }, 2000);
  document.getElementById('body').style['overflow-x']='auto';
  document.getElementById('body').style['overflow-y']='scroll';
}
function startAnimation() {
  document.getElementById('animation-debut').style.display='block';
  document.getElementById('body').style['overflow-x']='hidden';
  document.getElementById('body').style['overflow-y']='hidden';
}
if (location.pathname=='/') startAnimation();
</script>

<script src="vendor.min.js"></script>
<script src="algorea.min.js"></script>
<script src="templates.js"></script>
</body>
</html>
