<button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="close();" style="padding-right:5px;">&times;</button>
<div class="content-wrapper">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 ng-i18next="chapterEditor_browser_title"></h3>
        </div>
        <div class="panel-body">
            <div>
                <i class="material-icons material-btn" ng-click="openParent()" ng-if="haveParent()">arrow_upward</i>
                <b>{{item.strings[0].sTitle}}</b>
            </div>
            <hr />
            <div class="children-list">
                <div class="children-item-row" ng-repeat="child in children track by child.ID">
                    <div>
                        <span ng-if="child.sType != 'Chapter'">
                            <span class="material-icons">{{getItemIcon(child)}}</span>
                            {{child.strings[0].sTitle}}
                        </span>
                        <a href="#" ng-click="openItem(child)" ng-if="child.sType == 'Chapter'">
                            <span class="material-icons">{{getItemIcon(child)}}</span>
                            {{child.strings[0].sTitle}}
                        </a>
                        <i class="material-icons material-btn" ng-click="select(child)">add_circle</i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
