<div class="main-area main-area-normal">
    <h1 ng-i18next="results"></h1>
    <div class="alert alert-warning" ng-show="ltiError" ng-i18next="{{ltiError}}"></div>
    <div><b>
        <span ng-i18next="total"></span> :
        {{ ltiTotalScore }}%
    </b></div>
    <div>
        <button class="btn btn-primary" ng-click="ltiSendScore();" ng-disabled="ltiSentScore" ng-i18next="lti_score_send"></button>
        <span style="color: green;" ng-show="ltiSentScore"><b ng-i18next="lti_score_sent"></b></span>
    </div>
    <hr>
    <div ng-i18next="lti_task_title"></div>
    <div>
        <ul ng-include="templatesPrefix+'/navigation/views/chapter/lti-list.html'">
        </ul>
    </div>
</div>
