<div class="userinfo">
	<span class="userbox-text" ng-class="{'logged-in': loginStr, 'logged-out': !loginStr}" ng-click="openLoginPopup()">{{innerHtml}} {{infoWord}}</span><!-- add conditionnal class to ligin / logout link ng-if="!loginStr"  -->
	<div ng-if="loginStr">
		<span class="login-string"><span class="material-icons menu-item-icon">person</span> <a ui-sref="groupRequests()" class="userInfosLink">{{loginStr}}</a></span>
		<span ng-click="openLoginPopup()" class="material-icons menu-item-icon logout-btn" title="{{innerHtml}} {{infoWord}}">close</span>
	</div>
</div>
