<div ng-if="loginStr" class="menu-item-login" ng-class="{'menu-item-active': activated === false}" ng-click="gotoMenuItem($index, 'profile')">
   <div class="menu-item-content menu-item-login-logged">
     <div class="userinfo">
       <span class="userbox-text" ng-click="$event.stopPropagation(); $event.preventDefault(); openLoginPopup('logout');" ng-i18next="{{ innerHtml }}"></span>
       <span class="login-string"><span class="material-icons menu-item-icon">person</span> {{loginStr}}</span>
       <span ng-click="$event.stopPropagation(); $event.preventDefault(); openLoginPopup('logout'); layout.closeNavTopOverlay();" class="material-icons menu-item-icon logout-btn" ng-i18next="[title]{{innerHtml}}">close</span>
     </div>
   </div>
 </div>
 <div ng-if="!loginStr" class="menu-item-login" ng-class="{'menu-item-active': activated === false}" ng-click="openLoginPopup();">
   <div class="menu-item-content">
     <div class="userinfo">
       <span class="userbox-text" ng-click="openLoginPopup('login');" ng-i18next="{{ innerHtml }}"></span>
     </div>
   </div>
 </div>
