<div>
   <div class="modal-header">
      <h3>{{ item_item.child.strings[0].sTitle }}</h3>
      <span ng-i18next="groupAdmin_access_in_item"></span> <b>{{ item_item.parent.strings[0].sTitle }}</b>
   </div>
   <div class="modal-body">
      <form class="container-fluid">
         <field model="item_item.child" field="items.sPreparationState" readonly="1" />
         <field model="item_item" field="items_items.bAccessRestricted" />
         <field model="item_item" field="items_items.bAlwaysVisible" />
         <field ng-if="item_item.parent.bFixedRanks" model="item_item" field="items_items.iChildOrder" />
      </form>
   </div>
   <div class="modal-footer">
      <button class="btn btn-primary" ng-click="ok()" ng-i18next="confirm"></button>
      <button class="btn btn-warning cancel" ng-click="cancel()" ng-i18next="cancel"></button>
   </div>
</div>
