<form ng-if="group && group.sType != 'UserSelf'" class="form-horizontal">
<!--   {{group.ID}} -->
   <div class="form-group">
      <label class="control-label col-xs-4" ng-i18next="admin_type"></label>
      <div class="col-xs-8">
        <span ng-if="group && (group.sType == 'UserSelf' || group.sType == 'UserAdmin')">{{models.groups.fields.sType.values[group.sType].label}}</span>
        <select ng-if="group && group.sType != 'UserSelf' && group.sType != 'UserAdmin'" ng-model="group.sType" class="form-control">
          <option ng-value="key" ng-repeat="(key, value) in models.groups.fields.sType.values" ng-selected="group.sType == key" ng-if="key != 'Root' && key != 'RootAdmin' && key != 'UserSelf' && key != 'UserAdmin'">{{value.label}}</option>
        </select>
      </div>
   </div>
   <field model="group" field="groups.sName" />
   <field model="group" field="groups.sDescription" />
   <field model="group" field="groups.bOpened" />
   <field model="group" field="groups.bFreeAccess" />
   <field model="group" field="groups.sPassword" />
   <field model="group" field="groups.sPasswordTimer" />
   <field model="group" field="groups.sPasswordEnd" />
   <field model="group" field="groups.sRedirectPath" />
   <field model="group" field="groups.bOpenContest" />
   <field model="group" field="groups.bSendEmails" />
   <p>
      <a class="btn btn-warning" ng-click="resetObjectChanges('groups', group)" ng-disabled="!hasObjectChanged('groups', group)" ng-i18next="reset"></a>
      <a class="btn btn-primary" ng-click="saveObject('groups', group)" ng-disabled="!hasObjectChanged('groups', group)" ng-i18next="save"></a>
   </p>
</form>
<div ng-if="group && group.sType == 'UserSelf'">
   <p ng-i18next="admin_no_add_userself"></p>
</div>

<!-- invites -->
<div ng-controller="groupInvitationCtrl" ng-if="group && group.sType != 'UserSelf'">
   <span ng-if="error"><strong>{{Error}}</strong></span>
   <div ng-if="!error">
      <div>
         <div class="form-group">
            <label for="sLogin" ng-i18next="admin_add_logins"></label>
            <input type="text" class="form-control" id="sLogin" ng-model="formValues.currentLogins">
         </div>
         <button class="btn btn-primary" ng-click="inviteLogins()" ng-i18next="admin_invite_logins"></button>
         <span ng-bind="invitationError"></span>
      </div>
      <div ng-if="!showTable()">
         <p ng-i18next="admin_invite_none_sent"></p>
      </div>
      <div ng-if="showTable()">
         <table class="table table-bordered table-hover">
            <thead>
               <tr>
                  <th ng-i18next="user"></th>
                  <th ng-i18next="admin_invitation_date"></th>
                  <th ng-i18next="status"></th>
                  <th ng-i18next="action"></th>
               </tr>
            </thead>
            <tbody>
               <tr ng-repeat="child in group.children | byInvitation" class="{success: invitation.success}">
                  <td>{{child.child.sName}}</td>
                  <td>{{child.sStatusDate|date:'short'}}</td>
                  <td>{{printType(child.sType)}}</td>
                  <td>
                     <div ng-if="child.sType == 'invitationSent'">
                        <button class="btn btn-default" ng-click="cancelInvitation(child)" ng-i18next="cancel"></button>
                     </div>
                     <div ng-if="child.sType == 'requestSent'">
                        <button class="btn btn-default" ng-click="acceptRequest(child)" ng-i18next="accept"></button>
                        <button class="btn btn-default" ng-click="refuseRequest(child)" ng-i18next="reject"></button>
                     </div>
                  </td>
               </tr>
            </tbody>
         </table>
      </div>
   </div>
</div>