<div class="accessItemRow">
   <div class="accessCell accessCellItem">
      <b class="Preparation{{ item_item.child.sPreparationState }} accessItemTitle" uib-tooltip="{{item_item.child.strings[0].sTitle}}" tooltip-placement="top-left"><b ng-click="toggleItemExpanded();" style="cursor:pointer;" ng-show="hasChildren(item_item.child)">[<span ng-if="itemIsExpanded">-</span><span ng-if="!itemIsExpanded">+</span>]</b> {{item_item.child.strings[0].sTitle}}</b>
      <!--<span ng-controller="GenericDialogCtrl">
         <span ng-include='"tabs/validationCategoryDialog.html"'></span>
         </span>-->
      <div class="prepTile prepValidation">
         <button type="button" class="btn btn-default validationMode Category{{ item_item.sCategory }}" ng-click="showGenDialog(templatesPrefix+'/admin/tabs/validationCategoryDialog.html' , 'items_items', 'item_item', item_item)" uib-tooltip-html="'Mode de validation : <br /><b>{{ categoryNames[item_item.sCategory] }}</b>'" tooltip-placement="top-left">{{ smallCategoryNames[item_item.sCategory] }}</button>
         <button type="button" class="btn btn-default validationType" ng-click="showGenDialog(templatesPrefix+'/admin/tabs/validationTypeDialog.html' , 'items', 'item', item_item.child)" uib-tooltip-html="'Type de validation :<br /><b>{{ longValidationTypesNames[item_item.child.sValidationType].label }}</b>'" tooltip-placement="top-left">{{ validationTypesNames[item_item.child.sValidationType] }} </button>
      </div>
      <div class="prepTile prepVisibility">
         <span ng-controller="AccessModeCtrl">
            <span ng-switch="item_item.bAccessRestricted">
               <button ng-switch-when=0 type="button" class="btn btn-xs btn-success accessRestriction" ng-click="open()" uib-tooltip-html="'Mode d\'accès : <br /><b>Accessible</b>'"><i class="material-icons" tooltip-placement="top-left">lock_open</i></button>
               <button ng-switch-when=1 type="button" class="btn btn-xs btn-danger accessRestriction" ng-click="open()" uib-tooltip-html="'Mode d\'accès : <br /><b>Restreint</b>'" tooltip-placement="top-left"><i class="material-icons">lock</i></button>
            </span>
            <span ng-switch="item_item.bAlwaysVisible">
               <button ng-switch-when=1 type="button" class="btn btn-xs btn-success accessVisibility" ng-click="open()" uib-tooltip-html="'Visibilité : <br /><b>Toujours visible</b>'" tooltip-placement="top-left"><i class="material-icons">visibility</i></button>
               <button ng-switch-when=0 type="button" class="btn btn-xs btn-danger accessVisibility" ng-click="open()" uib-tooltip-html="'Visibilité : <br /><b>Caché si inaccessible</b>'" tooltip-placement="top-left"><i class="material-icons">visibility_off</i></button>
            </span>
            <button ng-if="item_item.parent.bFixedRanks" type="button" class="btn btn-xs btn-default" ng-click="open()">{{ item_item.iChildOrder }}</button>
         </span>
      </div>
   </div>
   <div ng-show="group_group != undefined" ng-include="templatesPrefix+'/admin/tabs/items_access_cell.html'" class="accessCell accessCellGroup">
   </div>
   <div ng-repeat="group_group in group_group.child.children | manageableGroups" class="accessCell accessCellChild">
      <div ng-include="templatesPrefix+'/admin/tabs/items_access_cell.html'"></div>
   </div>
</div>
<div ng-if="itemIsExpanded" ng-repeat="item_item in item_item.child.children" class="itemLevel">
   <div ng-init="itemIsExpanded = false;" ng-include="templatesPrefix+'/admin/tabs/items_access_rows.html'"></div>
</div>
