<div>
   <p ng-show="(item_item == undefined) || (group_group == undefined)">
      <b ng-i18next="admin_select_item_group_access"></b>
   </p>
   <div ng-if="item_item && group_group">
    <button class="btn btn-primary" ng-i18next="admin_zip_export" ng-click="zipExport(item_item.idItemChild, group_group.idGroupChild)" ng-disabled="zip_btn_disabled"></button>
    <span ng-if="zip_message">{{ zip_message }}</span>
    <span ng-if="zip_url"><button class="btn btn-success" ng-click="zipDownload()" ng-i18next="download"></button></span>
   </div>
   <h2 ng-i18next="admin_manage_access"></h2>
   <p ng-i18next="admin_manage_access_desc"></p>
   <div ng-if="item_item != undefined" class="access-wrapper">
      <div class="accessTitleRow">
         <span class="accessTitleCell accessCellItem" ng-i18next="access">
         </span>
         <span class="accessTitleCell accessCellGroup" ng-show="group_group != undefined" uib-tooltip="{{ group_group.child.sName }}" tooltip-placement="bottom">
            <span class="groupNameWrapper">
               <span class="accessGroupName">{{ group_group.child.sName }}</span>
            </span>
         </span>
         <span class="accessTitleCell accessCellChild" ng-repeat="group_group in group_group.child.children | manageableGroups" uib-tooltip="{{group_group.child.sName}}" tooltip-placement="bottom">
            <span class="childNameWrapper">
               <span class="childName">{{ group_group.child.sName }}</span>
            </span>
         </span>
      </div>
      <div ng-include="templatesPrefix+'/admin/tabs/items_access_rows.html'" class="accessItemsRows"></div>
      <!-- <span ng-repeat="item_item in item_item.child.children" class="itemLevel">
         <span ng-include='"tabs/items_access_rows.html"'></span>
      </span> -->
   </div>
</div>
