<div>
   <span class="accessItemCell"></span>
   <span ng-show="group_group != undefined" ng-include="templatesPrefix+'/admin/tabs/items_progression_cell.html'" class="accessCell"></span>
   <div ng-repeat="group_group in group_group.child.children | manageableGroups" class="accessCell">
      <div ng-include="templatesPrefix+'/admin/tabs/items_progression_cell.html'"></div>
   </div>
</div>
<div ng-if="itemIsExpanded" ng-repeat="item_item in item_item.child.children" class="itemLevel">
   <div ng-init="itemIsExpanded = false;" ng-include="templatesPrefix+'/admin/tabs/items_progression_rows.html'"></div>
</div>
