<div>
   <p ng-show="(item_item == undefined) || (group_group == undefined)">
      <b ng-i18next="admin_select_item_group_access"></b>
   </p>
   <div ng-if="item_item && group_group">
      <a target="_self" ng-href="zip_export.php?itemId={{item_item.idItemChild}}&groupId={{group_group.idGroupChild}}">
         <button ng-i18next="admin_zip_export"></button>
      </a>
   </div>
   <div ng-if="item_item != undefined" style="width:4000px">
      <span class="accessTitleCell accessItemCell" ng-i18next="access">
      </span>
      <span class="accessTitleCell" ng-show="group_group != undefined">
         <span title="{{ group_group.child.sName }}" class="accessGroupName">{{ group_group.child.sName }}</span>
      </span>
      <span class="accessTitleCell accessGroupNameChild" ng-repeat="group_group in group_group.child.children | manageableGroups">
         {{ group_group.parent.sName }}<br/><span style="font-weight:bold;" title="{{group_group.child.sName}}">&nbsp;&nbsp;>&nbsp;{{ group_group.child.sName }}&nbsp;</span>
      </span>
      <span ng-include='"tabs/items_access_rows.html"'></span>
      <!-- <span ng-repeat="item_item in item_item.child.children" class="itemLevel">
         <span ng-include='"tabs/items_access_rows.html"'></span>
      </span> -->
   </div>
</div>
