<div>
   <p ng-show="(item_item == undefined) || (group_group == undefined)">
      <b>Sélectionnez d'abord l'item et le groupe pour lesquels vous souhaitez voir la progression.</b>
   </p>
   <span ng-if="item_item != undefined">
      <span class="accessTitleCell accessItemCell">
         Accès
      </span>
      <span class="accessTitleCell" ng-show="group_group != undefined">
         <span title="{{ group_group.child.sName }}" class="accessGroupName">{{ group_group.child.sName }}</span>
      </span>
      <span class="accessTitleCell accessGroupNameChild" ng-repeat="group_group in group_group.child.children | manageableGroups">
         {{ group_group.parent.sName }}<br/><span style="font-weight:bold;" title="{{group_group.child.sName}}">&nbsp;&nbsp;>&nbsp;{{ group_group.child.sName }}&nbsp;</span>
      </span>
      <span ng-include="templatesPrefix+'/admin/tabs/items_progression_rows.html'"></span>
   </span>
</div>
