<div modal="shouldBeOpen" close="close()" options="opts">
   <div class="modal-header">
      <h3>{{ item_item.child.strings[0].sTitle }}</h3>
   </div>
   <div class="modal-body">
      <form>
        <field model="item" field="items.sValidationType" />
      </form>
   </div>
   <div class="modal-header">
      <span data-i18n="admin_validation_mode"></span> <b>{{ item_item.parent.strings[0].sTitle }}</b>
   </div>
   <div class="modal-body">
      <form>
         <field model="item_item" field="items_items.sCategory" />
      </form>
   </div>
   <p>
      <a class="btn btn-warning" ng-click="resetObjectChanges('items_items', item_item);resetObjectChanges('items', item);" data-i18n="reset"></a>
      <a class="btn btn-primary" ng-click="saveObject('items', item);saveObject('items_items', item_item);" data-i18n="save"></a>
   </p>
</div>
