<form class="container-fluid">
   <field model="item_strings" field="items_strings.sTitle" />
   <field model="item_strings" field="items_strings.sSubtitle" />
   <field model="item_strings" field="items_strings.sTranslator" />
   <field model="item_strings" field="items_strings.sDescription" />
   <field model="item_strings" field="items_strings.sEduComment" />
   <field model="item_strings" field="items_strings.sRankingComment" />
   <p>
      <a class="btn btn-warning" ng-click="resetObjectChanges('items_strings', item_strings)" ng-disabled="!hasObjectChanged('items_strings', item_strings)" ng-i18next="reset"></a>
      <a class="btn btn-primary" ng-click="saveObject('items_strings', item_strings)" ng-disabled="!hasObjectChanged('items_strings', item_strings)" ng-i18next="save"></a>
   </p>
</form>
