html {
   height:100%;
}
body {
   font-family:"Roboto",sans-serif;
   font-size:14pt;
   height:100%;
}

.spinner {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /*position:absolute;
  top:0;
  bottom:0;*/
}

.main-area {
   padding:20px;
   position:relative;
}

.main-area-task {
   padding:10px!important;
   display:-webkit-flex;
   -webkit-flex-direction:row;
   -webkit-flex-wrap:wrap;
   -webkit-justify-content:space-around;
   display:flex;
   flex-direction:row;
   flex-wrap:wrap;
   justify-content:space-around;
}

.first-task {
   -webkit-flex: 1 1 auto;
   flex: 1 1 auto;
}

.second-task {
   -webkit-flex: 1 1 auto;
   flex: 1 1 auto;
}

.task-tabs {
   width:800px;
   margin:auto;
}

.nav-tabs.nav-justified>li>a {
   border-top:0px;
   border-left:0px;
   border-right:0px;
   border-bottom:2px solid #f8f8f8!important;
}

.task-tab {
   border: 0px;
}

.nav-tabs.nav-justified>.active>a, .nav-tabs.nav-justified>.active>a:focus, .nav-tabs.nav-justified>.active>a:hover {
   border-bottom: 4px solid #2aa3ff !important;
   border-left:0px;
   border-right:0px;
   border-top:0px;
}

.nav-tabs>li>a:hover {
   background-color: none!important;
}

.main-titlebar {
   color: #0f4a6d;
   display:-webkit-flex;
   -webkit-flex-wrap:wrap;
   display:flex;
   flex-wrap:wrap;
   background-color: #e8e8e8;
}

.main-titlebar-item {
   line-height:1;
   vertical-align:middle;
}

.main-titlebar-icon {
   -webkit-flex: 0 0 75px;
   flex: 0 0 75px;
   background-color:#2aa3ff;
   color:white;
   font-size:63px !important;
   padding-top:4px;
   padding-left:5px;
}

.main-titlebar-titles {
   -webkit-flex: 1 0 auto;
   flex: 1 0 auto;
   font-size:20pt;
   padding-left:10px;
   padding-top:5px;
}

.main-titlebar-title1 {
   font-weight:bold;
   font-size:25pt;
}

.contest-timer {
   font-weight:bold;
   font-size:40pt; 
   float:right;
   margin-right:20px;
}

.menubar-userinfos {
   font-weight:bold;
   font-size:20pt; 
   float:right;
   margin-right:20px;
   margin-top:10px;
}

.main-titlebar-icon1 {
   -webkit-flex: 0 0 50px;
   flex: 0 0 50px;
   font-size:40px;
}

.main-titlebar-icon2 {
   -webkit-flex: 0 0 50px;
   flex: 0 0 50px;
}

.main-titlebar-community-toggled {
   display:block !important;
}

.main-titlebar-community {
   display:none;
   flex: 0 0 75px;
   -webkit-flex: 0 0 75px;
   font-size:40px;
   background: #878787;
   color:white;
   text-align:center;
   z-index:2;
   box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.16), 0px 2px 10px 0px rgba(0, 0, 0, 0.12);
}

@media all and (max-width: 1100px) {
   .main-titlebar-community {
      display:block !important;
   }

   .main-titlebar-community-toggled {
      display:none !important;
   }
}

.main-titlebar-left-sidebar {
   flex: 0 0 100px;
   -webkit-flex: 0 0 100px;
/*   display:none;*/
}

.main-titlebar-right-sidebar {
   -webkit-flex: 0 0 100px;
   flex: 0 0 100px;
/*   display:none;*/
}

.children-list-container {
   display:-webkit-flex;
   -webkit-flex-direction:row;
   display:flex;
   flex-direction:row;
}

.children-list-left-margin {
   -webkit-flex: 1 1 0px;
   flex: 1 1 0px;
}

.children-list-right-margin {
   -webkit-flex: 1 1 0px;
   flex: 1 1 0px;
}

@media all and (max-width: 1100px) {
   .children-list-left-margin {
      -webkit-flex: 0 0 0px;
      flex: 0 0 0px;
   }
   .children-list-right-margin {
      -webkit-flex: 0 0 0px;
      flex: 0 0 0px;
   }
}

.children-list {
   -webkit-flex: 6 1 auto;
   display:-webkit-flex;
   -webkit-flex-direction:column;
   -webkit-justify-content:space-between;
   flex: 6 1 auto;
   display:flex;
   flex-direction:column;
   justify-content:space-between;
}

.children-item {
   -webkit-flex: 1 0 50px;
   display: -webkit-flex;
   -webkit-flex-direction: column;
   flex: 1 0 50px;
   border-bottom:1px solid #cecece;
   display: flex;
   flex-direction: column;
   justify-content: center;
   -webkit-justify-content: center;
}

.children-level {
  -webkit-flex: 1 0 auto;
  display: -webkit-flex;
  -webkit-flex-direction: column;
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
}

.forum-in-task {
   width:800px;
   margin-left:auto;
   margin-right:auto;
}

.item-from-parent-icon {
   position:relative;
   top:4px;
}

.task-auto-height {
   height: calc(100vh - 205px);
}

.fullscreen-iframe {
   height: calc(100vh - 185px) !important;
}

.loading {
   display:block;
   position:relative;
   width:100px;
   margin-left:auto;
   margin-right:auto;
}