.menu {
   display: -webkit-flex;
   display: flex;
   min-height:75px;
   font-family: 'Roboto', sans-serif;
   font-size:17.5pt;
   justify-content: center;
   width:100%;
}

.menu-toggled > #menu {
   display:none !important;
}

/*@media all and (max-width: 1100px) {*/
/*   .menu {*/
/*      display: none;*/
/*   }*/
/*   .menu-toggled {*/
/*      display:flex !important;*/
/*   }*/
/*}*/


.menu-item {
   display: -webkit-flex;
   display:flex;
   -webkit-flex-direction:column;
   flex-direction:column;
   background: #e8e8e8;
   -webkit-flex: 1 0 140px;
   flex: 1 0 140px;
   justify-content:space-around;
   border-left: 1px solid #d9d9d9;
   border-right: 1px solid #d9d9d9;
   color: #5d5d5d;
   cursor:pointer;
}

.menu-item-content {
   text-align: center;
}

/*
*
   LOGO
*
*/
#menu-logo {
   -webkit-flex: 0 0 325px;
   flex: 0 0 325px;
   background-color:#82bf2b;
   color:white;
   border:0px;
}

#menu-logo-content:after {
   content: "Algoréa";
}


/*
*
   MAIN MENU
*
*/
#menu-else {
   -webkit-flex: 1 1 auto;
   flex: 1 1 auto;
   display: -webkit-flex;
   display:flex;
   flex-direction:row;
   flex-wrap:wrap;
   justify-content:space-between;
}

/*
*
   USER NAV
*
*/
.userinfo {
   position: relative;
   overflow:visible;
   text-align:center;
   -webkit-flex: 0 0 258px;
   flex: 0 0 258px;
   background-color:#878787;
   color:white;
   border:0px;
}
.userInfosLink {
   color: rgb(2, 118, 196) !important;
}

#userinfocontainer-breadcrumbs {
   display:none;
}

.userinfocontainer-breadcrumbs-toggled {
   display:block !important;
}

@media all and (max-width: 1100px)  and (min-width: 700px) {
   .menu-item {
      -webkit-flex-basis:200px;
      flex-basis:200px;
   }
   #menu-logo {
      -webkit-flex-basis:250px;
      flex-basis:250px;
   }
   .menu {
      align-items: stretch;
   }
   .menu-item-content {
   }
   #loginFrame {
      width:160px;
      top:32px;
   }
   #userinfocontainer > .userinfo {
      -webkit-flex-basis:200px;
      flex-basis:200px;
      overflow:hidden;
      text-overflow:ellipsis;
   }
   #userinfocontainer {
      -webkit-flex-basis:200px;
      flex-basis:200px;
   }
   #userinfocontainer-breadcrumbs {
      display:block;
   }
   .userinfocontainer-breadcrumbs-toggled {
      display:none;
   }
}

@media all and (max-width: 700px) {
   #menu-logo {
      -webkit-flex-basis:37px;
      flex-basis:37px;
      width:100%;
   }
   .menu {
      -webkit-flex-direction:column;
      flex-direction:column;
   }
   #loginFrame {
      width:160px;
      top:32px;
   }
}

.menu-item-icon {
   position:relative;
   top:4px;
}

.menu-item-active {
   background: #2aa3ff !important;
   color:white !important;
}

.menu-item-login {
   background-color: #878787 !important;
   color:white !important;
}

/*
*
   LOGIN FRAME
*
*/
.loginFrame {
   z-index:5;
   position: absolute;
   margin-left:auto;
   margin-right:auto;
   top:50px;
   right:0px;
   background-color:#878787;
   width:260px;
   overflow: hidden;
   border: 0px solid;
   box-shadow: 0px 0px 0px;
}
.loginFrame-login {
   height:175px;
}
.loginFrame-logout {
   height:105px;
}

/*
*
   BREADCRUMBS
*
*/
#breadcrumbs {
   background-color:#2aa3ff;
   font-size:12pt;
   display: -webkit-flex;
   display: flex;
   justify-content: -webkit-flex-start;
   justify-content: flex-start;
   width:100%;
   -webkit-flex-wrap:wrap;
   flex-wrap:wrap;
   min-height:25px;
   padding-right:20px;
}

.breadcrumbs-item {
   -webkit-flex: 0 1 auto;
   flex: 0 1 auto;
   padding-right:10px;
}

.breadcrumbs-toggled {
}
#breadcrumbs a {
   color: #000;
}
#breadcrumbs .breadcrumbs-item-active {
   color: #fff;
}
#breadcrumbs .breadcrumbs-after-selected a {
   color: #ccc;
}
#breadcrumbs>div>span>a:after,
#breadcrumbs>div>span>span:after {
  content: '>';
  padding-left: 5px;
}
#breadcrumbs>div:last-child>span>a:after,
#breadcrumbs>div:last-child>span>span:after {
  content: normal;
}


.arrow-link-icon {
   font-size:27pt !important;
}

.main-right-arrow {
   position:fixed;
   right:260px;
   bottom:35px;
   height:48px;
   width:48px;
   background-color:#2aa3ff;
   color:white;
   box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.16), 0px 2px 10px 0px rgba(0, 0, 0, 0.12);
   z-index:2;
   text-align:center;
   /*display: -webkit-flex !important;
   display:flex !important;*/
   display:none !important;
   -webkit-flex-direction:column;
   flex-direction:column;
   justify-content:space-around;
   -webkit-justify-content:space-around;
   cursor:pointer;
   font-size:27pt !important;
}

.main-right-arrow-toggled {
   right:0px !important;
}

.main-up-arrow {
   position:fixed;
   right:260px;
   bottom:35px;
   height:48px;
   width:48px;
   background:#2aa3ff;
   color:white;
   box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.16), 0px 2px 10px 0px rgba(0, 0, 0, 0.12);
   z-index:2;
   text-align:center;
   /*display: -webkit-flex !important;
   display:flex !important;*/
   display:none !important;
   -webkit-flex-direction:column;
   flex-direction:column;
   justify-content:space-around;
   -webkit-justify-content:space-around;
   cursor:pointer;
   font-size:27pt !important;
}

.main-right-arrow-toggled {
   right:0px !important;
}

.main-left-arrow {
   position:fixed;
   transform: rotate(180deg);/* hack to get the arrow in the desired direction */
   -webkit-transform: rotate(180deg);/* hack to get the arrow in the desired direction */
   left:325px;
   bottom:35px;
   height:48px;
   width:48px;
   background:#2aa3ff;
   color:white;
   box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.16), 0px 2px 10px 0px rgba(0, 0, 0, 0.12);
   z-index:2;
   text-align:center;
   cursor:pointer;
   /*display: -webkit-flex !important;
   display:flex !important;*/
   display:none !important;
   -webkit-flex-direction:column;
   flex-direction:column;
   justify-content:space-around;
   -webkit-justify-content:space-around;
   font-size:27pt !important;
}

.main-left-arrow-toggled {
   left:82px !important;
}

@media all and (max-width: 1100px) and (min-width: 700px) {
   .main-left-arrow {
      left:82px;
   }
   .main-left-arrow-toggled {
      left:325px !important;
   }
   .main-right-arrow {
      right:0px;
   }
   .main-right-arrow-toggled {
      right:260px !important;
   }
}

.login-in-breadcrumbs {
   flex: 0 0 auto;
   margin-left: auto;
}

.breadcrumbs-loginbox > .userinfo {
   background:transparent;
   font-size: 12pt;
}

.breadcrumbs-loginbox >.userinfo > .material-icons {
   font-size: 12pt;
}

.breadcrumbs-loginbox > .userinfo > .loginFrame {
   top:25px;
   right:-20px;
}
