/*
//////
HEADER
//////
*/

header {
   z-index: 3;
}
#headerContainer {
}
#headerContainer.affix {
   top: 0;
   width: 100%;
}

/*
////////
BRANDING
////////
*/

#branding-toolbar {
   border:0px;
   padding-left: 5px;
   font-size: 22px;
   display: -webkit-flex;
   display: flex;
   flex-direction:row;
   justify-content:space-between;
   align-items: center;
}
.branding-toolbar-content {
   cursor: pointer;
}
.mobile-layout #branding-toolbar .menu-more {
   flex: 0 0 32px;
}

/*
/////////////////
LANGUAGE SELECTOR
/////////////////
*/

.language-selector {
    margin-right: 5px;
    font-size: 14px;
}
.language-selector .language-selector-label {
   cursor: pointer;
}
.language-selector .language-selector-label i {
   vertical-align: middle;
}
.language-selector .dropdown-menu {
   min-width: auto;
   width: auto;
   left: initial;
   right: 0;
}
.language-selector .dropdown-menu li {
   padding: 0 20px;
   cursor: pointer;
}
/*
///////////////
MAIN NAVIGATION
///////////////
*/

#menu {
   font-family: 'Roboto', sans-serif;
}
@media all and (max-width: 1100px)  and (min-width: 1041px) {
   #menu {
      align-items: stretch;
   }
}
.mobile-layout #menu {
   -webkit-flex-direction:column;
   flex-direction:column;
}
#menu-main {
   display: -webkit-flex;
   display:flex;
   flex-direction:row;
   justify-content: center;
   margin-bottom: -1px;
   flex-wrap: wrap;
}
.mobile-layout #menu-main {
   flex-wrap: nowrap;
   flex-basis: auto;
   flex-direction: column;
}

.menu-item {
   display: -webkit-flex;
   display:flex;
   -webkit-flex-direction:column;
   flex-direction:column;
   -webkit-flex: 1 0 150px;
   flex: 1 0 150px;
   justify-content:space-around;
   font-size: 22px;
   cursor:pointer;
   white-space: nowrap;
   line-height: 45px;
}
body:not(.mobile-layout) .menu-item {
   max-width: 300px;
}
.mobile-layout .menu-item {
   flex-basis: 40px;
}
.menu-item-content {
   text-align: center;
}
.menu-item-icon {
   position:relative;
   top:4px;
}

#userinfocontainer {
   -webkit-flex: 1 1 auto;
   flex: 1 1 auto;
}
.userInfosLink,
.userInfosLink:focus,
.userInfosLink:hover {
   color: inherit;
}
.userinfo .logout-btn {
   transition: all 250ms;
}
.menu-item-login-logged .userbox-text {
   display: none;
}


/*
///////////////////
BREADCRUMBS TOOLBAR
///////////////////
*/

#toolbar {
   font-size: 16px;
   line-height: 26px;
   min-height: 26px;
   display: -webkit-flex;
   display: flex;
   position: relative;
   align-items: center;
}
#toolbar.affix {
   position: fixed;
   top: 0;
   width: 100%;
}
#toolbar .sidebar-left-control {
   flex: 0 0 32px;
}
#toolbar .sidebar-left-control > * {
  margin-left: 5px;
}
.mobile-layout #toolbar {
   flex-direction: column;
}
#breadcrumbs {
   padding: 0 10px;
   display: -webkit-flex;
   display: flex;
   justify-content: -webkit-flex-start;
   justify-content: flex-start;
   -webkit-flex-wrap: wrap;
   flex-wrap: wrap;
   flex: 1 1 auto;
}
.mobile-layout #breadcrumbs {
   flex: 0 1 auto;
}
.breadcrumbs-item {
   -webkit-flex: 0 1 auto;
   flex: 0 1 auto;
   padding-right:10px;
   align-self: center;
}
#breadcrumbs .breadcrumbs-item-inactive-not-last::after,
#breadcrumbs .breadcrumbs-inactive-not-last::after,
#breadcrumbs .breadcrumbs-active-not-last::after {
  content: '>';
  padding-left: 5px;
}

/* Exercise mode menu display*/
.menu-more {
   cursor: pointer;
   align-self: center;
}
#toolbar .menu-more {
   padding-right: 10px;
}
#navTopOverlay,
#mobileNavTopOverlay {
   position: fixed;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   z-index: 3;
}
/* contest timer */

.contest-timer {
   font-weight: bold;
   font-size: 28px;
   margin-right: 5px;
}

/*
///////////
LOGIN FRAME
///////////
*/

.loginFrame {
   z-index:5;
   position: absolute;
   margin-left:auto;
   margin-right:auto;
   top:50px;
   right:0px;
   width:260px;
   overflow: hidden;
   border: 0px solid;
   box-shadow: 0px 0px 0px;
}
@media all and (max-width: 1100px)  and (min-width: 701px) {
   #loginFrame {
      width:160px;
      top:32px;
   }
}
.loginFrame-login {
   height:175px;
}
.loginFrame-logout {
   height:105px;
}


/*
//////////////////
IN TASK NAVIGATION
//////////////////
*/
.inTaskNav {
   align-self: center;
   padding-right: 10px;
   flex: 0 0 64px;
}
.arrow-link-icon {
   vertical-align: middle;
}

.main-right-arrow,
.main-up-arrow,
.main-left-arrow {
   text-align: center;
   cursor: pointer;
   display: inline-block;
}

/*
THINGS THAT DON'T APPEAR TO BE USEFULL ANYMORE
*/

.breadcrumbs-loginbox > .userinfo {
   background:transparent;
   font-size: 12pt;
}

.breadcrumbs-loginbox >.userinfo > .material-icons {
   font-size: 12pt;
}

.breadcrumbs-loginbox > .userinfo > .loginFrame {
   top:25px;
   right:-20px;
}
.login-in-breadcrumbs {
   flex: 0 0 auto;
   margin-left: auto;
}
