.menu {
   display: -webkit-flex;
   display: flex;
   flex-flow: row wrap;
   min-height:75px;
   font-family: 'Roboto', sans-serif;
   font-size:17.5pt;
   justify-content: center;
   width:100%;
}

.menu-toggled > #menu {
   display:none !important;
}

/*@media all and (max-width: 1100px) {*/
/*   .menu {*/
/*      display: none;*/
/*   }*/
/*   .menu-toggled {*/
/*      display:flex !important;*/
/*   }*/
/*}*/


.menu-item {
   display: -webkit-flex;
   display:flex;
   -webkit-flex-direction:column;
   flex-direction:column;
   background: #e8e8e8;
   -webkit-flex: 1 1 150px;
   flex: 1 1 150px;
   justify-content:space-around;
   color: #5d5d5d;
   cursor:pointer;
   white-space: nowrap;
}
.menu-item-active {
   background: #2aa3ff !important;
   color:white !important;
}
.menu-item-content {
   text-align: center;
}
.menu-item-icon {
   position:relative;
   top:4px;
}
/*
*
   MAIN NAVIGATION
*
*/
#menu-logo {
   -webkit-flex: 0 1 325px;
   flex: 0 1 325px;
   background-color:#82bf2b;
   color:white;
   border:0px;
}

#menu-main {
   -webkit-flex: 3 1 auto;
   flex: 3 1 auto;
   display: -webkit-flex;
   display:flex;
   flex-direction:row;
   justify-content:space-between;
}

#userinfocontainer {
   -webkit-flex: 1 1 auto;
   flex: 1 1 auto;
   order: 3;
}
/*@media all and (max-width: 700px) {
   .menu {
      -webkit-flex-direction:column;
      flex-direction:column;
   }
}*/
@media all and (max-width: 1040px) {
   #menu-logo {
      -webkit-flex-basis: 50%;
      flex-basis: 50%;
   }
   #userinfocontainer {
      -webkit-flex-basis: 50%;
      flex-basis: 50%;
      order: 2;
   }
   #menu-main {
      -webkit-flex-basis: 100%;
      flex-basis: 100%;
      flex-wrap: wrap;
      order: 3;
   }
   #loginFrame {
      width:160px;
      top:32px;
   }
}
@media all and (max-width: 1100px)  and (min-width: 1041px) {
   .menu {
      align-items: stretch;
   }
   #menu-logo {
      -webkit-flex-basis: 150px;
      flex-basis: 150px;
   }
}
@media all and (max-width: 480px) {
   .menu {
      -webkit-flex-direction:column;
      flex-direction:column;
   }
   #menu-logo {
      -webkit-flex-basis: auto;
      flex-basis: auto;
   }
   #userinfocontainer {
      -webkit-flex-basis: auto;
      flex-basis: auto;
      order: 2;
   }
   #menu-main {
      flex-wrap: nowrap;
      flex-basis: auto;
      flex-direction: column;
   }
   .menu-item {
      flex-basis: 40px;
      border-bottom: 1px solid #d9d9d9;
   }
}
.menu-item-login {
   background-color: #878787;
   color: #fff;
}
.menu-item-login-logged .userbox-text {
   display: none;
}
.userInfosLink,
.userInfosLink:focus,
.userInfosLink:hover {
   color: #fff;
}
.userInfosLink:hover {
   color: inherit;
}
.userInfosLink .menu-item-icon {
   margin-right: 7px;
}
.userinfo .logout-btn {
   color: #fff;
   transition: all 250ms;
}
.userinfo .logout-btn:active,
.userinfo .logout-btn:hover,
.userinfo .logout-btn:focus {
   color: #d9d9d9;
}
#userinfocontainer-breadcrumbs {
   display:none;
}

.userinfocontainer-breadcrumbs-toggled {
   display:block !important;
}

@media all and (max-width: 1100px)  and (min-width: 701px) {
   #loginFrame {
      width:160px;
      top:32px;
   }
   #userinfocontainer-breadcrumbs {
      display:block;
   }
   .userinfocontainer-breadcrumbs-toggled {
      display:none;
   }
}

/*
*
   LOGIN FRAME
*
*/
.loginFrame {
   z-index:5;
   position: absolute;
   margin-left:auto;
   margin-right:auto;
   top:50px;
   right:0px;
   background-color:#878787;
   width:260px;
   overflow: hidden;
   border: 0px solid;
   box-shadow: 0px 0px 0px;
}
.loginFrame-login {
   height:175px;
}
.loginFrame-logout {
   height:105px;
}

/*
*
   BREADCRUMBS
*
*/
#toolbar {
   background-color: #2aa3ff;
   font-size: 12pt;
   min-height: 25px;
   padding: 0 20px;
   display: -webkit-flex;
   display: flex;
   justify-content: -webkit-space-between;
   justify-content: space-between;
}
#breadcrumbs {
   display: -webkit-flex;
   display: flex;
   justify-content: -webkit-flex-start;
   justify-content: flex-start;
   -webkit-flex-wrap: wrap;
   flex-wrap: wrap;
}
.breadcrumbs-item {
   -webkit-flex: 0 1 auto;
   flex: 0 1 auto;
   padding-right:10px;
}

.breadcrumbs-toggled {
}
#breadcrumbs a {
   color: #000;
}
#breadcrumbs .breadcrumbs-item-active {
   color: #fff;
}
#breadcrumbs .breadcrumbs-after-selected,
#breadcrumbs .breadcrumbs-after-selected a {
   color: #ccc;
}
#breadcrumbs .breadcrumbs-item-inactive-not-last::after,
#breadcrumbs .breadcrumbs-inactive-not-last::after,
#breadcrumbs .breadcrumbs-active-not-last::after {
  content: '>';
  padding-left: 5px;
}


.arrow-link-icon {
   font-size:27pt !important;
}

.main-right-arrow {
   position:fixed;
   right:260px;
   bottom:35px;
   height:48px;
   width:48px;
   background-color:#2aa3ff;
   color:white;
   box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.16), 0px 2px 10px 0px rgba(0, 0, 0, 0.12);
   z-index:2;
   text-align:center;
   /*display: -webkit-flex !important;
   display:flex !important;*/
   display:none !important;
   -webkit-flex-direction:column;
   flex-direction:column;
   justify-content:space-around;
   -webkit-justify-content:space-around;
   cursor:pointer;
   font-size:27pt !important;
}

.main-right-arrow-toggled {
   right:0px !important;
}

.main-up-arrow {
   position:fixed;
   right:260px;
   bottom:35px;
   height:48px;
   width:48px;
   background:#2aa3ff;
   color:white;
   box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.16), 0px 2px 10px 0px rgba(0, 0, 0, 0.12);
   z-index:2;
   text-align:center;
   /*display: -webkit-flex !important;
   display:flex !important;*/
   display:none !important;
   -webkit-flex-direction:column;
   flex-direction:column;
   justify-content:space-around;
   -webkit-justify-content:space-around;
   cursor:pointer;
   font-size:27pt !important;
}

.main-right-arrow-toggled {
   right:0px !important;
}

.main-left-arrow {
   position:fixed;
   transform: rotate(180deg);/* hack to get the arrow in the desired direction */
   -webkit-transform: rotate(180deg);/* hack to get the arrow in the desired direction */
   left:325px;
   bottom:35px;
   height:48px;
   width:48px;
   background:#2aa3ff;
   color:white;
   box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.16), 0px 2px 10px 0px rgba(0, 0, 0, 0.12);
   z-index:2;
   text-align:center;
   cursor:pointer;
   /*display: -webkit-flex !important;
   display:flex !important;*/
   display:none !important;
   -webkit-flex-direction:column;
   flex-direction:column;
   justify-content:space-around;
   -webkit-justify-content:space-around;
   font-size:27pt !important;
}

.main-left-arrow-toggled {
   left:82px !important;
}

@media all and (max-width: 1100px) and (min-width: 700px) {
   .main-left-arrow {
      left:82px;
   }
   .main-left-arrow-toggled {
      left:325px !important;
   }
   .main-right-arrow {
      right:0px;
   }
   .main-right-arrow-toggled {
      right:260px !important;
   }
}

.login-in-breadcrumbs {
   flex: 0 0 auto;
   margin-left: auto;
}

.breadcrumbs-loginbox > .userinfo {
   background:transparent;
   font-size: 12pt;
}

.breadcrumbs-loginbox >.userinfo > .material-icons {
   font-size: 12pt;
}

.breadcrumbs-loginbox > .userinfo > .loginFrame {
   top:25px;
   right:-20px;
}
