#sidebarLeftOverlay {
   position: fixed;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   z-index: 2;
   background-color: #ccc;
   background-color: rgba(0,0,0,0.3);
}
body:not(.mobile-layout) #sidebarLeftOverlay {
   display: none;
}
.sidebar-left {
   -webkit-order: 1;
   order: 1;
   display:-webkit-flex;
   display:flex;
   -webkit-flex-direction:column;
   flex-direction:column;
   z-index:2;
   transition: all 250ms;
}
.sidebar-left-open {
   -webkit-flex: 0 0 325px;
   flex: 0 0 325px;
   width: 325px;
   max-width: calc(100vw - 40px);
}
.mobile-layout .sidebar-left-open {
   -webkit-flex: 0 0 auto;
   flex: 0 0 auto;
}
.sidebar-left-closed {
   -webkit-flex: 0 1 0;
   flex: 0 1 0;
   width: 0;
   height: 0;
   overflow: hidden;
   box-shadow: none;
   transition: all 250ms;
}
.sidebar-left-hidden {
   display:none;
}

.sidebar-left > * {
   opacity: 1;
   transition: opacity 150ms 200ms;
}
.sidebar-left-closed > * {
   opacity: 0;
   transition: opacity 50ms;
}
.sidebar-left-control {
   cursor: pointer;
   font-size: 36px;
   display: flex;
   align-items: center;
   align-self: stretch;
}
.main-titlebar .sidebar-left-control {
   margin: 0 5px;
}
.sidebar-left-content {
   -webkit-flex: 0 0 auto;
   flex: 0 0 auto;
   display:-webkit-flex;
   display:flex;
   -webkit-flex-direction:column;
   flex-direction:column;
   -webkit-justify-content:space-around;
   justify-content:space-around;
}

.sidebar-left-item-content-container {
   -webkit-flex: 1 1 auto;
   flex: 1 1 auto;
   display:-webkit-flex;
   display:flex;
   -webkit-justify-content:space-around;
   justify-content:space-around;
   -webkit-flex-direction:column;
   flex-direction:column;
}

.sidebar-left-item {
   display:-webkit-flex;
   display:flex;
   -webkit-flex-direction:row;
   flex-direction:row;
   -webkit-flex:1 0 auto;
   flex:1 0 auto;
   padding:5px;
   cursor:pointer;
}

.sidebar-left-item-content {
   -webkit-flex: 0 0 auto;
   flex: 0 0 auto;
   display:-webkit-flex;
   display:flex;
   -webkit-flex-direction:row;
   flex-direction:row;
}

.sidebar-left-item-contents-icon1 {
   -webkit-flex: 0 0 45px;
   flex: 0 0 45px;
   display:-webkit-flex;
   display:flex;
   -webkit-flex-direction:column;
   flex-direction:column;
   -webkit-justify-content:space-around;
   justify-content:space-around;
}

.sidebar-left-item-contents-text {
   -webkit-flex: 1 1 auto;
   flex: 1 1 100%;
   display:-webkit-flex;
   display:flex;
   -webkit-flex-direction:column;
   flex-direction:column;
   -webkit-justify-content:center;
   justify-content:center;
}

.sidebar-left-main-item {
   font-size: 25px;
   -webkit-flex: 0 1 auto;
   flex: 0 1 auto;
   padding-left: 45px;
   padding-top: 5px;
   text-overflow:ellipsis;
   overflow:hidden;
}


@media all and (max-width: 1130px) and (min-width: 700px) {
   .sidebar-left-main-item {
      padding-left:5px;
   }
}

.sidebar-left-item-final-icons-container {
   -webkit-flex: 0 0 auto;
   flex: 0 0 auto;
   display:-webkit-flex;
   display:flex;
   -webkit-flex-direction:column;
   flex-direction:column;
   -webkit-justify-content:space-around;
   justify-content:space-around;
}

.sidebar-left-item-final-icons {
   -webkit-flex: 0 1 24px;
   flex: 0 1 24px;
   display:-webkit-flex;
   display:flex;
   -webkit-flex-direction:row;
   flex-direction:row;
}

@media all and (max-width: 1130px) and (min-width: 700px) {
   .sidebar-left-item-final-icons {
      flex-direction:column;
      -webkit-flex-direction:column;
/*      background: #e2e2e2;*/
      -webkit-flex: 1 1 auto;
      flex: 1 1 auto;
   }
}

.sidebar-left-item-final-icon1 {
   -webkit-flex: 1 0 28px;
   display:-webkit-flex;
   -webkit-flex-direction:column;
   -webkit-justify-content:space-around;
   flex: 1 0 28px;
   display:flex;
   flex-direction:column;
   justify-content:space-around;
}

.sidebar-left-item-final-icon2 {
   -webkit-flex: 1 0 28px;
   display:-webkit-flex;
   -webkit-flex-direction:column;
   -webkit-justify-content:space-around;
   flex: 1 0 28px;
   display:flex;
   flex-direction:column;
   justify-content:space-around;
}


