<div ng-if="loading">
   <center><img src="assets/img/spinner.gif" height="50px"><p style="margin-top:10px"><strong>Chargement...</strong></p></center>
</div>
<div ng-if="!loading">
   <div ng-form="filterForm" class="panel panel-default advancedFilters">
      <!-- TODO : Use current filter name, global filter or custom filter
      {{currentGlobalFilter.description}}
      {{filterInfos.currentFilter.sName}}
      <div class="panel-heading">Discussions affichées :  {{currentGlobalFilter.description}} <button class="btn btn-default pull-right" ng-click="isFiltersOpen = !isFiltersOpen"><i class="glyphicon glyphicon-pencil" aria-hidden="true"></i></button></div>
      -->
      <div class="panel-body collapse" uib-collapse="!isFiltersOpen">
         <div class="form-group">
            <div class="btn-group">
               <label class="btn btn-default" ng-model="filterInfos.currentFilter.bStarred" uib-btn-radio="true" uncheckable>Favorites</label>
               <label class="btn btn-default" ng-model="filterInfos.currentFilter.bUnread" uib-btn-radio="true" uncheckable>Non-lues</label>
               <label class="btn btn-default" ng-model="filterInfos.currentFilter.bParticipated" uib-btn-radio="true" uncheckable>Où j'ai participé</label>
               <label class="btn btn-default" ng-model="filterInfos.currentFilter.bImportant" uib-btn-radio="true" uncheckable>Importantes</label>
               <label class="btn btn-default" ng-model="filterInfos.currentFilter.bArchived" uib-btn-radio="true" uncheckable>Archivées</label>
            </div>
         </div>
         <div class="form-group">
            <label for="idItem">Exercices :</label>
            <div item-selector on-select="onSelectItem" allow-all="true" style="margin-bottom: 5px;"></div>
         </div>
         <div class="form-group filterFormDatePickers">
            <div class="form-inline">
               <label for="sStartDate">Discussions à partir du :</label>
               <p class="input-group">
                  <input type="text" class="form-control" uib-datepicker-popup="dd/MM/yyyy" ng-model="filterInfos.currentFilter.sStartDate" is-open="data.sStartDateOpened" min-date="'2011-01-01'" max-date="'2017-01-01'" datepicker-options="dateOptions" date-disabled="false" ng-required="false" close-text="Fermer" current-text="Aujourd'hui" clear-text="Annuler" starting-day="1" />
                  <span class="input-group-btn">
                     <button type="button" class="btn btn-default" ng-click="open($event, 'sStartDateOpened');"><i class="glyphicon glyphicon-calendar"></i></button>
                  </span>
               </p>
            </div>
            <div class="form-inline">
               <label for="sEndDate">jusqu'au :</label>
               <p class="input-group">
                  <input type="text" class="form-control" uib-datepicker-popup="dd/MM/yyyy" ng-model="filterInfos.currentFilter.sEndDate" is-open="data.sEndDateOpened" min-date="'2011-01-01'" max-date="'2017-01-01'" datepicker-options="dateOptions" date-disabled="false" ng-required="false" close-text="Fermer" current-text="Aujourd'hui" clear-text="Annuler" starting-day="1" />
                  <span class="input-group-btn">
                     <button type="button" class="btn btn-default" ng-click="open($event, 'sEndDateOpened');"><i class="glyphicon glyphicon-calendar"></i></button>
                  </span>
               </p>
            </div>
         </div>
         <div class="form-group">
            <button ng-click="stopEdition()" class="btn btn-primary">Filtrer</button>
            <button ng-click="formValues.saveFilter=true" class="btn btn-default">Enregistrer</button>
            <button ng-show="formValues.editFilter" ng-click="deleteFilter(filterInfos.currentFilter.ID)">Supprimer le filtre<span class="glyphicon glyphicon-remove" aria-label="Remove filter"></span></button>
         </div>
         <div ng-if="formValues.saveFilter" class="saveFilter">
            <div class="form-group">
               <label for="sName">Nom du filtre</label>
               <input type="text" name="sName" ng-model="filterInfos.currentFilter.sName" class="form-control" autofocus>
            </div>
            <button ng-click="submitForm(filterForm); formValues.saveFilter = !formValues.saveFilter" class="btn btn-default">Valider</button>
            <button ng-click="formValues.saveFilter=false" class="btn btn-default">Annuler</button>
            <div>Vous pourrez utiliser ce filtre en le sélectionnant parmi la liste des filtres</div>
         </div>
      </div>
   </div>
</div>
