.bold {
   font-weight: bold;
}
.not-bold {
   font-weight: normal;
}
.threadsContainer {
   margin: 20px 10px 10px;
   display:-webkit-flex;
   display:flex;
   -webkit-flex-direction:row;
   flex-direction:row;
   -webkit-flex-wrap:wrap;
   flex-wrap:wrap;
}
.threadsContainer .tabsContainer {
   flex: 2 1 600px;
}
.threadsContainer .globalFilters {
   margin-right: 10px;
   flex: 0 0 150px;
}
.threadsContainer .globalFilters p {
   font-size: 14px;
}
.threadsContainer .globalFilters button {
   font-weight: bold;
   white-space: normal;
}
.threadsContainer .addThread {
   margin: 10px 0;
}
.threadsInIndex {
   border: 1px solid #ccc;
   position: relative;
}

.threadInIndex {
   background-color: #e8e8e8;
   cursor: pointer;
   border-bottom: 1px solid #ccc;
}
.threadInIndex:hover {
   background-color: #B0B0B0;
}
.threadInIndex:last-child {
   border-bottom: none;
}

.threadInIndex .thread {
   padding: 3px 10px;
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
}
.threadInIndexReadOnly {
   cursor:not-allowed;
   color: #808080;
}
.threadInIndexCol {
   font-size: 16px;
   margin-right: 10px;
   display: inline-block;
   vertical-align: top;
   flex: 0 0 auto;
}
.threadInIndexCol:first-child .threadInIndexCell {
   text-align: center;
}
.threadInIndexCol.threadInIndexTaskState {
   margin-right: 0;
   text-align: right;
}
.threadInIndexCell {
   vertical-align: middle;
   display: block;
   line-height: 26px;
}
.threadInIndexCell i {
   vertical-align: middle;
}
.threadInIndexFavorite {
   text-align: center;
}
   .threadInIndexFavorite button {
      padding: 0;
   }
.threadInIndexUsers {

}
.threadInIndexUser,
.threadInIndexTopicTitle {
   font-weight: bold;
   font-size: 1.125em;
}
.threadInIndexTopic {
   flex: 2 1 auto;
}
.threadInIndexTopicTitle {
}
.threadInIndexTaskState .glyphicon-ok {
   color: #29d329;
   vertical-align: baseline;
}
.threadInIndexTaskState .glyphicon-remove {
   color: #d32929;
}
.threadInIndexDoNotOverflow {
   display: block;
   white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
}
.threadInIndexLastActivityDate {
   font-size: 14px;
}
.globalFilters {
   margin-bottom: 1em;
}
.globalFilter {
   font-weight: bold;
   color: black;
   line-height: 30px;
}

.globalFilterSelected {
   background-color: #D0D0D0;
}

.transparentButton {
   background-color: transparent;
   background-repeat:no-repeat;
   border: none;
   overflow: hidden;
   outline:none;
}
.threadVisibilitySelect label {
   display: block;
}
/* FILTERS */

.advancedFilters {
   margin: 10px;
   border: 1px solid #E1E1E8;
   border-radius: 4px;
   box-shadow: none;
   font-size: 16px;
}
.advancedFilters .panel-heading {
   font-weight: bold;
   background-color: #e8e8e8;
}
.advancedFilters .panel-heading .btn {
   padding: 1px 10px;
}
.advancedFilters .panel-heading i {
   font-size: 12px;
}
.filterFormDatePickers {
   display: flex;
   flex-wrap: wrap;
}
@media screen and (min-width: 768px) {
   .filterFormDatePickers > div:not(:last-child) {
      margin-right: 2em;
   }
}
.advancedFilters .saveFilter {
   border: 1px solid #ccc;
   padding: 10px;
   box-shadow: 0 0 6px #ccc;
   background-color: #fff;
   margin-bottom: 10px;
}
.forumThreadForm {
   margin: 20px 10px 10px;
   padding: 2em;
   background-color: #edebed;
}
.form-group {
   position: relative;
}

.refresh {
   height: 40px;
}
.refresh i {
   vertical-align: bottom;
}
.refresh img {
   max-height: 100%;
   max-width: 100%;
}

/* THREAD CONTENT */
.backButton {
   margin-right: 1em;
}
.backButton .btn i {
   vertical-align: middle;
}
.threadTitle {
   font-size: 36px;
   background: #e8e8e8;
   padding: 10px 10px 10px 1em;
   margin-top: 0;
   color: #0f4a6d;
}
.threadTitleLabel {
   font-size: 18px;
}
.threadVisibilitySelect {
   margin-left: 2em;
   font-size: 16px;
}
.threadVisibilitySelect .btn-group {
   margin-bottom: 5px;
}
.inTaskThreadForm {}
.threadInForum .threadMessages {
   padding: 1em 10px 0;
}
@media screen and (min-width: 700px) {
   .threadInForum .threadMessages {
      padding: 1em 2em 0;
   }
}
.threadInTask .taskInThread,
.threadInTask .threadEvent {
   width: 802px;
}
.threadEvent,
.taskInThread {
}
.threadEvent {
   margin-top: 20px;
}
.taskInThread {
   margin-top: -1px;
   padding-bottom: 1px;
}
.threadInForum .threadEvent {
   margin-right: 10%;
   margin-left: 0;
   position: relative;
}
.threadInForum .threadEvent.originalPoster,
.threadInForum .threadEvent.originalPoster + .taskInThread {
   margin-left: 10%;
   margin-right: 0;
}
.threadInForum .threadEvent::before {
   content: " ";
   border: 10px solid #efefef;
   display: block;
   position: absolute;
   top: 9px;
   left: -9px;
   border-top-color: transparent;
   border-left: none;
   border-bottom-color: transparent;
}
.threadInForum .threadEvent.originalPoster::before {
   content: normal;
}
.threadInForum .threadEvent.originalPoster::after {
   content: " ";
   border: 10px solid #efefef;
   display: block;
   position: absolute;
   top: 9px;
   right: -9px;
   border-top-color: transparent;
   border-right: none;
   border-bottom-color: transparent;
}
.threadEventContent {
   border: 1px solid #ddd;
   border-top-width: 5px;
   border-radius: 3px;
}
.threadEventContentDefault {
   border-top-color: #777;
}
.threadEventContent-success {
   border-top-color: #5cb85c;
}
.threadEventContent-fail {
   border-top-color: #d9534f;
}

/* message content */
.threadEventContent .eventInfo {
   font-size: 16px;
   padding: 5px 10px;
   background: #efefef;
}
.threadEventContent .eventInfo i {
   vertical-align: bottom;
}
.threadEventContent .eventInfo .score {
   font-weight: bold;
}
.threadEventContent-success .eventInfo .score i {
   color: #5cb85c;
}
.threadEventContent-fail .eventInfo .score i {
   color: #d9534f;
}

.threadEventContent .eventBody {
   padding: 10px;
}
.threadEventContent .eventBodyContent {
   white-space: pre-wrap;
}
.taskInThread {
   border: 1px solid #ddd;
   border-top-color: #fff;
   margin: -1px auto 0;
}
.threadAnswer {
   margin: 2em;
   padding: 2em;
   border: 1px solid #ddd;
   background: #F7F7F9;
   border-radius: 3px;
}
.threadAnswer label {
   font-size: 28px;
   font-weight: normal;
}
.threadAnswer button {
   margin-top: 10px;
}
.inThreadTaskTrial h3   {
   font-size: 36px;
   padding: 10px 10px 10px 36px;
   background: #2aa3ff;
   text-transform: uppercase;
   color: #fff;
   box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.16), 0px 2px 10px 0px rgba(0, 0, 0, 0.12);
}
