.threadsContainer {
   margin: 20px 10px 10px;
   display:-webkit-flex;
   display:flex;
   -webkit-flex-direction:row;
   flex-direction:row;
   -webkit-flex-wrap:wrap;
   flex-wrap:wrap;
}
.threadsContainer .tabsContainer {
   flex: 2 1 0;
}
.threadsContainer .globalFilters {
   margin-right: 10px;
   margin-top: 42px;
}
.threadsContainer .tab-content {
   padding: 2em;
   background-color: #F7F7F9;
}
.threadsInIndex {
   border: 1px solid #ccc;
   position: relative;
}

.threadInIndex {
   background-color: #e8e8e8;
   cursor: pointer;
   border-bottom: 1px solid #ccc;
}
.threadInIndex:last-child {
   border-bottom: none;
}
.threadInIndex:hover {
   background-color: #B0B0B0;
}

.threadInIndex .thread {
   padding: 3px 10px;
   display: flex;
   flex-wrap: wrap;
}
.threadInIndexSelected {
   background-color: #B8B8B8;
}
.threadInIndexReadOnly {
   cursor:not-allowed;
   color: #808080;
}

.threadInIndexCell {
   vertical-align: middle;
   display: inline-block;
   line-height: 2em;
}

.threadInIndexCheckBox {
}

.threadInIndexFavorite {
   flex: 0 0 40px;
   text-align: center;
}
   .threadInIndexFavorite button {
      padding: 0;
   }
.threadInIndexImportant {
   width: 40px;
}

.threadInIndexUser {
   flex: 0 1 150px;
}

.threadInIndexUser span {
   font-weight: bold;
}

.threadInIndexMessage {
   flex: 2 0 200px;
}

.threadInIndexMessage:hover {
   cursor:pointer;
}

.threadInIndexReadOnly .threadInIndexMessage:hover {
   cursor:not-allowed;
}

.threadInIndexDoNotOverflow {
   display: block;
   white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
}
.threadInIndexLastActivityDate {
   font-size: 12px;
   flex: 1 1 auto;
   line-height: 18px;
   text-align: right;
}
.globalFilters {
   margin-bottom: 1em;
}
.globalFilter {
   font-weight: bold;
   color: black;
   line-height: 30px;
}

.globalFilterSelected {
   background-color: #D0D0D0;
}

.transparentButton {
   background-color: transparent;
   background-repeat:no-repeat;
   border: none;
   overflow: hidden;
   outline:none;
}

/* FILTERS */

.filterContainer {
   margin: 10px;
   padding: 10px;
   border: 1px solid #E1E1E8;
   border-left-width: 8px;
   border-radius: 4px;
   background-color: #F7F7F9;
}
.filterFormDatePickers {
   display: flex;
   flex-wrap: wrap;
}
@media screen and (min-width: 768px) {
   .filterFormDatePickers > div:not(:last-child) {
      margin-right: 2em;
   }
}
.filterContainer .saveFilter {
   border: 1px solid #ccc;
   padding: 10px;
   box-shadow: 0 0 6px #ccc;
   background-color: #fff;
}
.forumThreadForm {
   margin: 20px 10px 10px;
   padding: 2em;
   background-color: #edebed;
}
.form-group {
   position: relative;
}

/* THREAD CONTENT */
.inTaskThreadForm {}
.threadInTask .taskInThread,
.threadInTask .threadEvent {
   width: 802px;
}
.threadInForum .threadEvent {
   margin: 1em 2em 0;
}
.threadInForum .taskInThread {
   margin: -1px 2em 1em;
}
.threadInTask .threadEvent {
   margin-top: 20px;
}
.threadEventContent {
   border: 1px solid #ddd;
   border-top-width: 5px;
   border-radius: 3px;
   padding: 10px 10px 20px;
   margin-top: 20px;
}
.threadEventContentDefault {
   border-top-color: #777;
}
.threadEventContent-success {
   border-top-color: #5cb85c;
}
.threadEventContent-fail {
   border-top-color: #d9534f;
}
.taskInThread {
   border: 1px solid #ddd;
   border-top-color: #fff;
   margin: -1px auto 0;
}