<div ng-if="!loading">
   <div ng-if="false" ng-controller="forumFilterController" ng-include="templatesPrefix+'forum/filters.html'">
   </div>
   <div class="threadsContainer">
      <div ng-if="false" class="btn-group globalFilters">
         <button type="button" ng-repeat="globalFilter in globalFilters" ng-click="selectGlobalFilter(globalFilter);" class="btn btn-default globalFilter" ng-class="{globalFilterSelected: globalFilter == currentGlobalFilter}">{{globalFilter.description}}</button>
      </div>
      <uib-tabset>
         <uib-tab select="selectTab('helpOthers')" active="tabs.helpOthers.active" heading="Aider les autres ({{helpOthersThreads.length}})">
            <div class="threadsInIndex">
               <div ng-if="helpOthersThreads.length === 0" class="threadInIndex">Pas de résultat</div>
               <div ng-repeat="(ID, thread) in threads | threadFilter:'helpOthers':myUserID:currentFilter:currentGlobalFilter.filter as helpOthersThreads" ng-include="templatesPrefix+'forum/threadInIndex.html'" class="threadInIndex">
               </div>
            </div>
         </uib-tab>
         <uib-tab select="selectTab('getHelp')" active="tabs.getHelp.active" heading="Me faire aider ({{getHelpThreads.length}})">
            <button class="btn btn-default" ng-click="newThread();" style="margin-bottom: 20px;">Nouvelle demande d'aide</button>
            <div class="threadsInIndex" ng-class="{noResult: getHelpThreads.length === 0}">
               <div ng-if="getHelpThreads.length === 0" class="threadInIndex">Pas de résultat</div>
               <div ng-repeat="(ID, thread) in threads | threadFilter:'getHelp':myUserID:currentFilter:currentGlobalFilter.filter as getHelpThreads" ng-include="templatesPrefix+'forum/threadInIndex.html'" class="threadInIndex">
               </div>
            </div>
         </uib-tab>
         <uib-tab select="selectTab('general')" active="tabs.general.active" heading="Général ({{generalThreads.length}})">
            <div class="threadsInIndex" ng-class="{noResult: generalThreads.length === 0}">
               <div ng-if="generalThreads.length === 0" class="threadInIndex">Pas de résultat</div>
               <div ng-repeat="(ID, thread) in threads | threadFilter:'general':myUserID:currentFilter:currentGlobalFilter.filter as generalThreads" ng-include="templatesPrefix+'forum/threadInIndex.html'" class="threadInIndex">
               </div>
            </div>
         </uib-tab>
      </uib-tabset>
   </div>
</div>
<div ng-if="loading">
   <center><img src="images/spinner.gif" height="50px"><p style="margin-top:10px"><strong>Chargement...</strong></p></center>
</div>
