<div class="thread" ng-class="{threadInIndexSelected: thread.bIsInSelection, threadInIndexReadOnly: !accessible}" ng-controller="forumIndexThreadController"  ng-click="goToThread(thread.ID)" uib-tooltip="{{accessibiltyMessage}}" tooltip-placement="top-left">
   <div class="threadInIndexCheckBox threadInIndexCell"><input type="checkbox" ng-model="thread.bIsInSelection" ng-click="$event.stopPropagation()"></div>
   <div class="threadInIndexFavorite threadInIndexCell">
      <button type="button" class="transparentButton" ng-model="user_thread.bStarred" btn-checkbox btn-checkbox-true="1" btn-checkbox-false="0" ng-click="saveUserThread($event);">
         <i class="glyphicon glyphicon-star" ng-show="user_thread.bStarred"></i>
         <i class="glyphicon " ng-class="{'glyphicon-star': hover, 'glyphicon-star-empty': !hover}" ng-mouseenter="hover=true" ng-mouseleave="hover=false" ng-hide="user_thread.bStarred"></i>
      </button>
      <!--<input type="checkbox" ng-model="user_thread.bStarred">-->
   </div>
   <div class="threadInIndexUser threadInIndexCell">
      <span>{{thread.sUserCreatedLogin}}</span>
   </div>
   <div class="threadInIndexMessage threadInIndexCell">
      <div class="threadInIndexDoNotOverflow">
         <strong>{{thread.sTitle}}</strong>
         <span ng-bind="thread.sMessage"></span>
      </div>
   </div>
   <div class="threadInIndexLastActivityDate threadInIndexCell">
      <span>dernière activité le {{thread.sLastActivityDate | date:'dd-MM-yyyy à HH:mm'}}</span>
   </div>
</div>
