<div ng-if="loading">
   <center><img src="images/spinner.gif" height="50px"><p style="margin-top:10px"><strong ng-i18next="forum_loading"></strong></p></center>
</div>
<div ng-if="!loading && !thread && !fakeThread" ng-i18next="forum_not_found">
</div>
<div ng-if="!loading && (thread || fakeThread)" ng-class="{'threadInTask': inTask, 'threadInForum': !inTask}">
   <div ng-if="inPopup"><span ng-i18next="forum_activities_of"></span> {{user_item.user.sLogin}} <span ng-i18next="forum_on_exercise"></span> {{item.strings[0].sTitle}}
   </div>
   <div ng-if="!inTask && !newThread" class="threadTypeTitle">
      <h1 ng-show="thread.sType == 'Help'">Me faire aider</h1>
      <h1 ng-show="thread.sType == 'General'">Discussion générale </h1>
      <h1 ng-show="thread.sType == 'Bug'">Signaler une anomalie</h1>
   </div>
   <div ng-if="!inTask" class="backButton">
      <button ng-click="goToForum();" ng-i18next="forum_back"></button>
   </div>
   <div ng-form="threadForm" ng-if="!readOnly && newThread" ng-class="{forumThreadForm: !inTask, inTaskThreadForm: inTask}">
      <div ng-if="!inTask" class="threadTypeTitle">
         <h1 ng-show="thread.sType == 'Help'" ng-i18next="forum_type_help"></h1>
         <h1 ng-show="thread.sType == 'General'" ng-i18next="forum_type_general"></h1>
         <h1 ng-show="thread.sType == 'Bug'" ng-i18next="forum_type_bug"></h1>
      </div>
      <div ng-if="inTask">
         <h4 ng-i18next="forum_title_welcome"></h4>
         <p ng-i18next="[html]forum_title_desc"></p>
         <input type="hidden" name="sTitle" ng-model="thread.sTitle" id="sTitle">
      </div>
      <div class="form-group" ng-show="thread.sType != 'Help'">
         <label for="sTitle" ng-i18next="forum_title"></label>
         <input type="text" name="sTitle" ng-model="thread.sTitle" id="sTitle" class="form-control">
      </div>
      <div class="form-group" ng-show="!inTask && thread.sType == 'Help'">
         <label for="idItem" ng-i18next="forum_item_associated"></label>
         <p class="input-group">
            <input type="text" name="idItem" ng-model="thread.idItem" id="idItem" class="form-control" item-text readonly/>
            <span class="input-group-btn">
               <button type="button" class="btn btn-default" ng-click="toggleTreePicker('items');"><i class="glyphicon glyphicon-chevron-down"></i></button>
            </span>
            <ul class="dropdown-menu" ng-style="{display: showTreePicker_items && 'block' || 'none'}" style="width:600px;height:400px;overflow:scroll;">
               <li><div id="treeview_items" treeview model="items"></div></li>
            </ul>
         </p>
      </div>
      <div class="form-group">
         <label for="sBody" ng-i18next="forum_message"></label>
         <textarea name="sMessage" ng-model="newMessage.sBody" id="sBody" class="form-control"></textarea>
      </div>
      <button class="btn btn-default" ng-click="submitForm(threadForm)" ng-i18next="save"></button>
   </div>
   <div ng-if="!newThread && !readOnly">
      <div><!-- Ajouter info sur type de message (ex: discussion générale) -->
         <h2 ng-hide="itemStr" class="threadTitle">{{thread.sTitle}}</h2>
         <h2 ng-show="itemStr" class="threadTitle">{{itemStr}}</h2>
      </div>
   </div>
   <div ng-if="taskLoadingError">
      <center><p style="margin-top:10px"><strong ng-i18next="forum_error"></strong> {{taskLoadingError}}</p></center>
   </div>
   <span ng-show="!events.length && fakeThread" ng-i18next="forum_no_activity"></span>
   <h2 ng-if="inTask" ng-show="events.length" ng-i18next="events"></h2>

   <div class="threadMessages">

      <div ng-repeat="event in events | orderBy: eventsSortFunction | eventsFilter:'before':threadData.currentAnswer track by event.ID" class="threadEvent" ng-class="{'originalPoster': event.idUser == thread.idUserCreated}">
         <div ng-if="event.bTrainersOnly !== undefined"><!-- case of message -->
            <div ng-switch="getMessageState(event)">
               <div ng-switch-when="typing" class="threadEventContent threadEventContentTyping">
                  <div class="eventBody">
                     <strong>{{event.sLogin}}</strong> <span ng-i18next="forum_is_answering"></span>
                  </div>
               </div>
               <div ng-switch-when="noDisplay"></div>
               <div ng-switch-default class="threadEventContent threadEventContentDefault">
                  <div class="eventInfo">
                     <i class="material-icons">comment</i>
                     <span ng-i18next="forum_message_from"></span> {{event.sLogin}} <span ng-i18next="forum_date_on"></span> {{event.sSubmissionDate|date}} <span ng-i18next="forum_date_at"></span> {{event.sSubmissionDate|date:'shortTime'}}
                  </div>
                  <div class="eventBody">
                     <div class="eventBodyContent">{{event.sBody}}</div>
                  </div>
               </div>
            </div>
         </div>
         <div ng-if="event.bTrainersOnly === undefined" ng-click="openAnswer(event);" class="threadEventContent" ng-class="{'threadEventContent-success': event.bValidated=='1', 'threadEventContent-fail': event.bValidated=='0'}">
            <div class="eventInfo">
               <span ng-hide="event.iScore === null" class="score"><i ng-show="event.iScore === 100" class="material-icons">done</i><i ng-show="event.iScore !== 100" class="material-icons">close</i> {{event.iScore}}%</span>
               <span ng-i18next="submission"></span> <span ng-i18next="forum_evaluated_by"></span> {{thread.sUserCreatedLogin}} <span ng-i18next="forum_date_on"></span> {{event.sSubmissionDate|date}}
               <span ng-i18next="forum_date_at"></span> {{event.sSubmissionDate|date:'shortTime'}}
            </div>
            <div>
               <span class="eventBody" ng-show="event.iScore === null" ng-i18next="forum_not_evaluated"></span>
               <span class="eventBody" ng-if="event.idUserGrader !== null">
                  <span ng-i18next="forum_evaluated_by"></span> {{event.graderLogin}}
               </span>
               <span class="eventBody" ng-if="canValidate">, <span ng-i18next="forum_evaluate_manual"></span> <input type="text" ng-model="event.iScore" style="width:20px;"/>/100 <button ng-click="manualGrade(event);" ng-i18next="ok"></button></span>
            </div>
         </div>
      </div>

      <div ng-if="hasTask && !taskLoading && answers.length" ng-controller="taskController" class="taskInThread">
         <div uib-tabset justified="true" ng-show="taskLoaded && threadData.currentAnswer" class="tabset-task" active="askedView">
            <li ng-repeat="view in views" uib-tab heading="{{view.string}}" select="selectTab(view.name)" disabled="view.disabled" index="view.name"></li>
         </div>
         <div ng-show="threadData.currentAnswer" include-task user-item-var="other_user_item" task-name="task-answers" read-only="true" style="position: relative;"></div>
         <div ng-hide="taskLoaded" style="position: absolute; top: 0px; left: 0px; height: 100%; width: 100%; background-color: white; z-index: 10"><center><img src="images/spinner.gif" height="50px"><p style="margin-top:10px"><strong ng-i18next="forum_loading"></strong></p></center></div>
      </div>

      <div ng-repeat="event in events | orderBy: eventsSortFunction | eventsFilter:'after':threadData.currentAnswer track by event.ID" class="threadEvent" ng-class="{'originalPoster': event.idUser == thread.idUserCreated}">
         <div ng-if="event.bTrainersOnly !== undefined"><!-- case of message -->
            <div ng-switch="getMessageState(event)">
               <div ng-switch-when="typing" class="threadEventContent threadEventContentTyping">
                  <div class="eventBody">
                     <strong>{{event.sLogin}}</strong> <span ng-i18next="forum_is_answering"></span>
                  </div>
               </div>
               <div ng-switch-when="noDisplay"></div>
               <div ng-switch-default class="threadEventContent threadEventContentDefault">
                  <div class="eventInfo">
                     <i class="material-icons">comment</i>
                     <span ng-i18next="forum_message_from"></span> {{event.sLogin}} <span ng-i18next="forum_date_on"></span> {{event.sSubmissionDate|date}} <span ng-i18next="forum_date_at"></span> {{event.sSubmissionDate|date:'shortTime'}}
                  </div>
                  <div class="eventBody">
                     <div class="eventBodyContent">{{event.sBody}}</div>
                  </div>
               </div>
            </div>
         </div>
         <div ng-if="event.bTrainersOnly === undefined" ng-click="openAnswer(event);" class="threadEventContent" ng-class="{'threadEventContent-success': event.bValidated=='1', 'threadEventContent-fail': event.bValidated=='0'}">
             <div class="eventInfo">
               <span ng-hide="event.iScore === null" class="score"><i ng-show="event.iScore === 100" class="material-icons">done</i><i ng-show="event.iScore !== 100" class="material-icons">close</i> {{event.iScore}}%</span>
               <span ng-i18next="submission"></span> <span ng-i18next="forum_evaluated_by"></span> {{thread.sUserCreatedLogin}} <span ng-i18next="forum_date_on"></span> {{event.sSubmissionDate|date}}
               <span ng-i18next="forum_date_at"></span> {{event.sSubmissionDate|date:'shortTime'}}
            </div>
            <div>
               <span class="eventBody" ng-show="event.iScore === null" ng-i18next="forum_not_evaluated"></span>
               <span class="eventBody" ng-if="event.idUserGrader !== null">
                  <span ng-i18next="forum_evaluated_by"></span> {{event.graderLogin}}
               </span>
               <span class="eventBody" ng-if="canValidate">, <span ng-i18next="forum_evaluate_manual"></span> <input type="text" ng-model="event.iScore" style="width:20px;"/>/100 <button ng-click="manualGrade(event);" ng-i18next="ok"></button></span>
            </div>
         </div>
      </div>
   </div>

   <div ng-hide="newThread || readOnly" class="threadAnswer">
      <label for="messageTextarea" ng-i18next="forum_your_answer"></label>
      <textarea id="messageTextarea" class="form-control" rows="3" name="sBody" ng-model="newMessage.sBody" ng-focus="newMessageFocus()" ng-blur="newMessageBlur()"></textarea>
      <button type="button" ng-click="newMessageSave()" class="btn btn-default btn-primary" ng-i18next="forum_answer"></button>
   </div>

   <div ng-if="!inTask && hasTask && !taskLoading && !readOnly" class="inThreadTaskTrial">
      <h3 ng-show="ownThread" ng-i18next="forum_try_again"></h3>
      <h3 ng-hide="ownThread" ng-i18next="forum_my_version"></h3>
      <div ng-controller="taskController">
         <div uib-tabset justified="true" ng-show="taskLoaded" class="tabset-task">
            <li ng-repeat="view in views" uib-tab heading="{{view.string}}" select="selectTab(view.name)" disabled="view.disabled" active="view.active"></li>
         </div>
         <div ng-show="showTask" include-task task-name="my-task"></div>
         <div ng-hide="taskLoaded" style="position: absolute; top: 0px; left: 0px; height: 100%; width: 100%; background-color: white; z-index: 10"><center><img src="images/spinner.gif" height="50px"><p style="margin-top:10px"><strong ng-i18next="forum_loading"></strong></p></center></div>
      </div>
   </div>
</div>
