<div ng-if="loading">
   <center><img src="images/spinner.gif" height="50px"><p style="margin-top:10px"><strong data-i18n="forum_loading"></strong></p></center>
</div>
<div ng-if="!loading && !thread && !fakeThread" data-i18n="forum_not_found">
</div>
<div ng-if="!loading && (thread || fakeThread)">
   <div ng-if="inPopup"><span data-i18n="forum_activities_of"></span> {{user_item.user.sLogin}} <span data-i18n="forum_on_exercise"></span> {{item.strings[0].sTitle}}
   </div>
   <div ng-form="threadForm" ng-if="!readOnly && (ownThread || newThread)" ng-class="{forumThreadForm: !inTask, inTaskThreadForm: inTask}">
      <div ng-if="inTask">
         <h4 data-i18n="forum_title_welcome"></h4>
         <p data-i18n="[html]forum_title_desc"></p>
      </div>
      <div class="form-group" ng-show="!inTask">
         <label for="sType" data-i18n="forum_type"></label>
         <select name="sType" ng-model="thread.sType" id="sType" class="form-control" style="width:300px;">
            <option value="Help" data-i18n="forum_type_help"></option>
            <option value="General" data-i18n="forum_type_general"></option>
            <option value="Bug" data-i18n="forum_type_bug"></option>
         </select>
      </div>
      <div class="form-group" ng-show="thread.sType == 'Help' && !inTask">
         <label for="idItem" data-i18n="forum_item_associated"></label>
         <p class="input-group">
            <input type="text" name="idItem" ng-model="thread.idItem" id="idItem" class="form-control" item-text readonly/>
            <span class="input-group-btn">
               <button type="button" class="btn btn-default" ng-click="toggleTreePicker('items');"><i class="glyphicon glyphicon-chevron-down"></i></button>
            </span>
            <ul class="dropdown-menu" ng-style="{display: showTreePicker_items && 'block' || 'none'}" style="width:600px;height:400px;overflow:scroll;">
               <li><div id="treeview_items" treeview model="items"></div></li>
            </ul>
         </p>
      </div>
      <div class="form-group" ng-show="thread.sType != 'Help'">
         <label for="sTitle" data-i18n="forum_title"></label>
         <input type="text" name="sTitle" ng-model="thread.sTitle" id="sTitle" class="form-control">
      </div>
      <div class="form-group" ng-if="newThread">
         <label for="sBody" ng-hide="inTask" data-i18n="forum_message"></label>
         <textarea name="sMessage" ng-model="newMessage.sBody" id="sBody" class="form-control"></textarea>
      </div>
      <button ng-show="!readOnly && (!inTask || newThread)" class="btn btn-default" ng-click="submitForm(threadForm)" data-i18n="save"></button>
   </div>
   <div ng-if="!newThread && !readOnly">
      <div ng-if="!ownThread">
         <h2 data-i18n="message"></h2>
         <p><strong data-i18n="forum_subject"></strong> {{thread.sTitle}}</p>
         <p ng-show="itemStr"><strong data-i18n="forum_item"></strong> {{itemStr}}</p>
      </div>
   </div>
   <div ng-if="taskLoadingError">
      <center><p style="margin-top:10px"><strong data-i18n="forum_error"></strong> {{taskLoadingError}}</p></center>
   </div>
   <span ng-show="!events.length && fakeThread" data-i18n="forum_no_activity"></span>
   <h2 ng-show="events.length" data-i18n="events"></h2>
   <div ng-repeat="event in events | orderBy: eventsSortFunction | eventsFilter:'before':threadData.currentAnswer track by event.ID">
      <div ng-if="event.bTrainersOnly !== undefined" class="bs-callout bs-callout-default"><!-- case of message -->
         <div ng-switch="getMessageState(event)">
            <div ng-switch-when="typing">
               <strong>{{event.sLogin}}</strong> <span data-i18n="forum_is_answering"></span>
            </div>
            <div ng-switch-when="noDisplay"></div>
            <div ng-switch-default>
               <h4><span data-i18n="forum_message_from"></span> {{event.sLogin}} <span data-i18n="forum_date_on"></span> {{event.sSubmissionDate|date}} <span data-i18n="forum_date_at"></span> {{event.sSubmissionDate|date:'shortTime'}} :</h4>
               <p>{{event.sBody}}</p>
            </div>
         </div>
      </div>
      <div ng-if="event.bTrainersOnly === undefined" ng-class="{'bs-callout-success': event.bValidated=='1', 'bs-callout-danger': event.bValidated=='0'}" ng-click="openAnswer(event);" class="bs-callout">
         <h4><span data-i18n="submission"></span> <span data-i18n="forum_date_on"></span> {{event.sSubmissionDate|date}} <span data-i18n="forum_date_at"></span> {{event.sSubmissionDate|date:'shortTime'}}</h4>
         <span ng-show="event.iScore === null" data-i18n="forum_not_evaluated"></span>
         <span ng-hide="event.sGradingDate === null"><span data-i18n="forum_evaluated"></span> <span data-i18n="forum_date_on"></span> {{event.sGradingDate|date}} <span data-i18n="forum_date_at"></span> {{event.sSubmissionDate|date:'shortTime'}}</span>
         <span ng-if="event.idUserGrader !== null"> <span data-i18n="forum_evaluated_by"></span> {{event.graderLogin}}</span>
         <span ng-hide="event.iScore === null">, <span data-i18n="forum_score"></span> : {{event.iScore}}</span>
         <span ng-if="canValidate">, <span data-i18n="forum_evaluate_manual"></span> <input type="text" ng-model="event.iScore" style="width:20px;"/>/100 <button ng-click="manualGrade(event);" data-i18n="ok"></button></span>
      </div>
   </div>
   <div ng-if="hasTask && !taskLoading && answers.length" ng-controller="taskController">
      <div uib-tabset justified="true" ng-show="taskLoaded && threadData.currentAnswer" class="tabset-task" active="askedView">
         <li ng-repeat="view in views" uib-tab heading="{{view.string}}" select="selectTab(view.name)" disabled="view.disabled" index="view.name"></li>
      </div>
      <div ng-show="taskLoaded && threadData.currentAnswer" include-task user-item-var="other_user_item" task-name="task-answers" read-only="true"></div>
      <center ng-hide="taskLoaded"><img src="images/spinner.gif" height="50px"><p style="margin-top:10px"><strong data-i18n="forum_loading"></strong></p></center>
   </div>
   <div ng-repeat="event in events | orderBy: eventsSortFunction | eventsFilter:'after':threadData.currentAnswer track by event.ID">
      <div ng-if="event.bTrainersOnly !== undefined" class="bs-callout bs-callout-default"><!-- case of message -->
         <div ng-switch="getMessageState(event)">
            <div ng-switch-when="typing">
               <strong>{{event.sLogin}}</strong> <span data-i18n="forum_is_answering"></span>
            </div>
            <div ng-switch-when="noDisplay"></div>
            <div ng-switch-default>
               <h4><span data-i18n="forum_message_from"></span> {{event.sLogin}} <span data-i18n="forum_date_on"></span> {{event.sSubmissionDate|date}} <span data-i18n="forum_date_at"></span> {{event.sSubmissionDate|date:'shortTime'}} :</h4>
               <p>{{event.sBody}}</p>
            </div>
         </div>
      </div>
      <div ng-if="event.bTrainersOnly === undefined" ng-class="{'bs-callout-success': event.bValidated=='1', 'bs-callout-danger': event.bValidated=='0'}" ng-click="openAnswer(event);" class="bs-callout">
         <h4><span data-i18n="submission"></span> <span data-i18n="forum_date_on"></span> {{event.sSubmissionDate|date}} <span data-i18n="forum_date_at"></span> {{event.sSubmissionDate|date:'shortTime'}}</h4>
         <span ng-show="event.iScore === null" data-i18n="forum_not_evaluated"></span>
         <span ng-hide="event.sGradingDate === null"><span data-i18n="forum_evaluated"></span> <span data-i18n="forum_date_on"></span> {{event.sGradingDate|date}} <span data-i18n="forum_date_at"></span> {{event.sSubmissionDate|date:'shortTime'}}</span>
         <span ng-if="event.idUserGrader !== null"> <span data-i18n="forum_evaluated_by"></span> {{event.graderLogin}}</span>
         <span ng-hide="event.iScore === null">, <span data-i18n="forum_score"></span> : {{event.iScore}}</span>
         <span ng-if="canValidate">, <span data-i18n="forum_evaluate_manual"></span> <input type="text" ng-model="event.iScore" style="width:20px;"/>/100 <button ng-click="manualGrade(event);" data-i18n="ok"></button></span>
      </div>
   </div>
   <div ng-hide="newThread || readOnly">
      <label for="messageTextarea" data-i18n="forum_your_answer"></label>
      <textarea id="messageTextarea" class="form-control" rows="3" name="sBody" ng-model="newMessage.sBody" ng-focus="newMessageFocus()" ng-blur="newMessageBlur()"></textarea>
      <center><button ng-click="newMessageSave()" class="btn btn-default" data-i18n="forum_answer"></button></center>
   </div>
   <div  ng-if="!inTask && hasTask && !taskLoading && !readOnly">
      <h3 ng-show="ownThread" data-i18n="forum_try_again"></h3>
      <h3 ng-hide="ownThread" data-i18n="forum_my_version"></h3>
      <div ng-controller="taskController">
         <div uib-tabset justified="true" ng-show="taskLoaded" class="tabset-task">
            <li ng-repeat="view in views" uib-tab heading="{{view.string}}" select="selectTab(view.name)" disabled="view.disabled" active="view.active"></li>
         </div>
         <div ng-show="taskLoaded && !showForum" include-task task-name="my-task"></div>
         <center ng-hide="taskLoaded"><img src="images/spinner.gif" height="50px"><p style="margin-top:10px"><strong data-i18n="forum_loading"></strong></p></center>
      </div>
   </div>
</div>
