<div ng-if="loading">
   <center><img src="images/spinner.gif" height="50px"><p style="margin-top:10px"><strong>Chargement...</strong></p></center>
</div>
<div ng-if="!loading && !thread">
   Désolé, la discussion demandée n'existe pas.
</div>
<div ng-if="thread">
   <div ng-form="threadForm" ng-if="ownThread || newThread">
      <div ng-if="inTask">
         <h4>Bienvenue sur le forum Algoréa</h4>
         <p>Vous pouvez demander de l'aide en postant un message ci-dessous. Il aparaîtra automatiquement sur le forum (onglet <strong>S'entraîder</strong>).</p>
      </div>
      <div class="form-group" ng-show="!inTask">
         <label for="sType">Type :</label>
         <select name="sType" ng-model="thread.sType" id="sType" class="form-control" style="width:300px;">
            <option value="Help">Demande d'aide sur un exercice</option>
            <option value="General">Discussion générale</option>
            <option value="Bug">Rapporter une anomalie</option>
         </select>
      </div>
      <div class="form-group col-md-12" ng-show="thread.sType == 'Help' && !inTask">
         <label for="idItem">Item associée :</label>
         <p class="input-group">
            <input type="text" name="idItem" ng-model="thread.idItem" id="idItem" class="form-control" item-text readonly/>
            <span class="input-group-btn">
               <button type="button" class="btn btn-default" ng-click="toggleTreePicker('items');"><i class="glyphicon glyphicon-chevron-down"></i></button>
            </span>
            <ul class="dropdown-menu" ng-style="{display: showTreePicker_items && 'block' || 'none'}" style="width:600px;height:400px;overflow:scroll;">
               <li><div id="treeview_items" treeview model="items"></div></li>
            </ul>
         </p>
      </div>
      <div class="form-group" ng-show="thread.sType != 'Help'">
         <label for="sTitle">Titre :</label>
         <input type="text" name="sTitle" ng-model="thread.sTitle" id="sTitle" class="form-control">
      </div>
      <div class="form-group" ng-if="newThread">
         <label for="sBody" ng-hide="inTask">Message :</label>
         <textarea name="sMessage" ng-model="newMessage.sBody" id="sBody" class="form-control"></textarea>
      </div>
      <button ng-show="!inTask || newThread" class="btn btn-standard" ng-click="submitForm(threadForm)">Enregistrer</button>
   </div>
   <div ng-if="!newThread">
      <div ng-if="!ownThread">
         <h2>Message</h2>
         <p><strong>Sujet :</strong> {{thread.sTitle}}</p>
         <p ng-show="itemStr"><strong>Item :</strong> {{itemStr}}</p>
      </div>
   </div>
   <div ng-if="taskLoadingError">
      <center><p style="margin-top:10px"><strong>Erreur!</strong> {{taskLoadingError}}</p></center>
   </div>
   <h2 ng-show="events.length">Évènements</h2>
   <div ng-repeat="event in events | orderBy: eventsSortFunction | eventsFilter:'before':threadData.currentAnswer track by event.ID">
      <div ng-if="event.bTrainersOnly !== undefined" class="bs-callout bs-callout-default"><!-- case of message -->
         <div ng-switch="getMessageState(event)">
            <div ng-switch-when="typing">
               <strong>{{event.sLogin}}</strong> est en train de répondre...
            </div>
            <div ng-switch-when="noDisplay"></div>
            <div ng-switch-default>
               <h4>Message de {{event.sLogin}} le {{event.sSubmissionDate|date}} à {{event.sSubmissionDate|date:'shortTime'}} :</h4>
               <p>{{event.sBody}}</p>
            </div>
         </div>
      </div>
      <div ng-if="event.bTrainersOnly === undefined" ng-class="{'bs-callout-success': event.bValidated=='1', 'bs-callout-danger': event.bValidated=='0'}" ng-click="openAnswer(event);" class="bs-callout">
         <h4>Soumission du {{event.sSubmissionDate|date}} à {{event.sSubmissionDate|date:'shortTime'}}</h4>
         <span ng-show="event.iScore === null">non-évaluée</span>
         <span ng-hide="event.sGradingDate === null">évaluée le {{event.sGradingDate|date}} à {{event.sSubmissionDate|date:'shortTime'}}</span>
         <span ng-if="event.idUserGrader !== null"> par {{event.graderLogin}}</span>
         <span ng-hide="event.iScore === null">, score : {{event.iScore}}</span>
         <span ng-if="canValidate">, évaluer à <input type="text" ng-model="event.iScore" style="width:20px;"/>/100 <button ng-click="manualGrade(event);">ok</button></span>
      </div>
   </div>
   <div ng-if="hasTask && !taskLoading && answers.length" ng-controller="taskController">
      <div uib-tabset justified="true" ng-show="taskLoaded && threadData.currentAnswer" class="tabset-task">
         <li ng-repeat="view in views" uib-tab heading="{{view.string}}" select="selectTab(view.name)" disabled="view.disabled" active="view.active"></li>
      </div>
      <div ng-show="taskLoaded && threadData.currentAnswer" include-task user-item-var="other_user_item" task-name="task-answers" read-only="true"></div>
      <center ng-hide="taskLoaded"><img src="assets/img/spinner.gif" height="50px"><p style="margin-top:10px"><strong>Chargement...</strong></p></center>
   </div>
   <div ng-repeat="event in events | orderBy: eventsSortFunction | eventsFilter:'after':threadData.currentAnswer track by event.ID">
      <div ng-if="event.bTrainersOnly !== undefined" class="bs-callout bs-callout-default"><!-- case of message -->
         <div ng-switch="getMessageState(event)">
            <div ng-switch-when="typing">
               <strong>{{event.sLogin}}</strong> est en train de répondre...
            </div>
            <div ng-switch-when="noDisplay"></div>
            <div ng-switch-default>
               <h4>Message de {{event.sLogin}} le {{event.sSubmissionDate}} à {{event.sSubmissionDate|date:'shortTime'}} :</h4>
               <p>{{event.sBody}}</p>
            </div>
         </div>
      </div>
      <div ng-if="event.bTrainersOnly === undefined" ng-class="{'bs-callout-success': event.bValidated=='1', 'bs-callout-danger': event.bValidated=='0'}" ng-click="openAnswer(event);" class="bs-callout">
         <h4>Soumission du {{event.sSubmissionDate|date}} à {{event.sSubmissionDate|date:'shortTime'}}</h4>
         <span ng-show="event.iScore === null">non-évaluée</span>
         <span ng-hide="event.sGradingDate === null">évaluée le {{event.sGradingDate|date}} à {{event.sSubmissionDate|date:'shortTime'}}</span>
         <span ng-if="event.idUserGrader !== null"> par {{event.graderLogin}}</span>
         <span ng-hide="event.iScore === null">, score : {{event.iScore}}</span>
         <div ng-if="canValidate">Évaluer à <input type="text" ng-model="event.iScore" style="width:20px;"/>/100 <button ng-click="manualGrade(event);">ok</button></div>
      </div>
   </div>
   <div ng-hide="newThread">
      <label for="messageTextarea">Votre réponse :</label>
      <textarea id="messageTextarea" class="form-control" rows="3" name="sBody" ng-model="newMessage.sBody" ng-focus="newMessageFocus()" ng-blur="newMessageBlur()"></textarea>
      <center><button ng-click="newMessageSave()" class="btn btn-default">Répondre</button></center>
   </div>
   <div  ng-if="!inTask && hasTask && !taskLoading">
      <h3 ng-show="ownThread">Faire d'autres essais</h3>
      <h3 ng-hide="ownThread">Ma version de l'exercice</h3>
      <div ng-controller="taskController">
         <div uib-tabset justified="true" ng-show="taskLoaded" class="tabset-task">
            <li ng-repeat="view in views" uib-tab heading="{{view.string}}" select="selectTab(view.name)" disabled="view.disabled" active="view.active"></li>
         </div>
         <div ng-show="taskLoaded && !showForum" include-task task-name="my-task"></div>
         <center ng-hide="taskLoaded"><img src="assets/img/spinner.gif" height="50px"><p style="margin-top:10px"><strong>Chargement...</strong></p></center>
      </div>
   </div>
</div>
