<div id="sidebar-right-title" class="sidebar-right-item sidebar-right-title" ng-click="layout.toggleRight()">
   <span class="material-icons sidebar-right-title-icon">forum</span> <span data-i18n="community"></span>
</div>
<div class="sidebar-right-item sidebar-right-subtitle">
   <span class="material-icons sidebar-right-subtitle-icon">group</span> <strong><a ui-sref="groupRequests" data-i18n="groupAdmin_groups_mine"></a></strong>
</div>
<div ng-controller="groupRequestsController" class="community">
   <span style="display:none;" ng-init="rightPanel = true;"></span>
   <div class="sidebar-right-item " ng-repeat="mygroupgroup in getMyUnreadGroupParents() track by mygroupgroup.ID | orderBy : '-sStatusDate' | limitTo: historyLimit" class="list-group-item">
         <span class="material-icons sidebar-right-item-left-icon">group_add</span>
         <p class="sidear-right-item-text">
            {{mygroupgroup.sStatusDate | date}}: 
            <span ng-switch="mygroupgroup.sType">
               <span ng-switch-when="invitationRefused"><span data-i18n="groupRequests_mytype_invitationRefused"></span> <strong>{{mygroupgroup.parent.sName}}</strong></span>
               <span ng-switch-when="requestRefused"><span data-i18n="groupRequests_mytype_requestRefused"></span> <strong>{{mygroupgroup.parent.sName}}</strong></span>
               <span ng-switch-when="invitationSent"><span data-i18n="groupRequests_mytype_invitationSent"></span> <strong>{{mygroupgroup.parent.sName}} (<a href="#" ng-click="acceptInvitation(mygroupgroup)" data-i18n="community_accept"></a> / <a href="#" ng-click="refuseInvitation(mygroupgroup)" data-i18n="community_reject"></a>)</strong></span>
               <span ng-switch-when="requestSent"><span data-i18n="groupRequests_mytype_requestSent"></span> <strong>{{mygroupgroup.parent.sName}}</strong></span>
               <span ng-switch-when="left"><span data-i18n="groupRequests_mytype_left"></span> <strong>{{mygroupgroup.parent.sName}}</strong></span>
               <span ng-switch-when="removed"><span data-i18n="groupRequests_mytype_removed"></span> <strong>{{mygroupgroup.parent.sName}}</strong></span>
               <span ng-switch-default><span data-i18n="groupRequests_mytype_default"></span> <strong>{{mygroupgroup.parent.sName}}</strong></span>
            </span>
         </p>
   </div>
   <div class="sidebar-right-item"  ng-if="!loading && unreadParentsLength">
      <button class="btn btn-info" ng-click="markAllAsRead()" data-i18n="groupRequests_mark_read"></button>
   </div>
</div>
<div class="sidebar-right-item sidebar-right-subtitle">
   <span class="material-icons sidebar-right-subtitle-icon">forum</span> <strong data-i18n="community_events"></strong>
</div>
<div class="sidebar-right-item" ng-repeat="event in events">
   <span class="material-icons" class="sidebar-right-item-left-icon">chat_bubble</span><p class="sidear-right-item-text"> {{event.time}}<br>{{event.user}} {{event.typestr}}<br>{{event.itemstr}}</p>
</div>
