<div id="sidebar-right-title" class="sidebar-right-item sidebar-right-title" ng-click="layout.toggleRight()">
   <span class="material-icons sidebar-right-title-icon">forum</span> <span ng-i18next="community"></span>
</div>
<div class="sidebar-right-item sidebar-right-subtitle">
   <span class="material-icons sidebar-right-subtitle-icon">group</span> <strong><a ui-sref="profile({ section: 'groupsMember'})" ng-i18next="groupAdmin_groups_mine"></a></strong>
</div>
<div ng-controller="groupsMemberController" class="community">
   <span style="display:none;" ng-init="rightPanel = true;"></span>
   <div class="sidebar-right-item " ng-repeat="mygroupgroup in getMyUnreadGroupParents() track by mygroupgroup.ID | orderBy : '-sStatusDate' | limitTo: historyLimit" class="list-group-item">
         <span class="material-icons sidebar-right-item-left-icon">group_add</span>
         <p class="sidear-right-item-text">
            {{mygroupgroup.sStatusDate | date}}:
            <span ng-switch="mygroupgroup.sType">
               <span ng-switch-when="invitationRefused"><span ng-i18next="groupRequests_mytype_invitationRefused"></span> <strong>{{mygroupgroup.parent.sName}}</strong></span>
               <span ng-switch-when="requestRefused"><span ng-i18next="groupRequests_mytype_requestRefused"></span> <strong>{{mygroupgroup.parent.sName}}</strong></span>
               <span ng-switch-when="invitationSent"><span ng-i18next="groupRequests_mytype_invitationSent"></span> <strong>{{mygroupgroup.parent.sName}} (<a href="#" ng-click="acceptInvitation(mygroupgroup)" ng-i18next="community_accept"></a> / <a href="#" ng-click="refuseInvitation(mygroupgroup)" ng-i18next="community_reject"></a>)</strong></span>
               <span ng-switch-when="requestSent"><span ng-i18next="groupRequests_mytype_requestSent"></span> <strong>{{mygroupgroup.parent.sName}}</strong></span>
               <span ng-switch-when="left"><span ng-i18next="groupRequests_mytype_left"></span> <strong>{{mygroupgroup.parent.sName}}</strong></span>
               <span ng-switch-when="removed"><span ng-i18next="groupRequests_mytype_removed"></span> <strong>{{mygroupgroup.parent.sName}}</strong></span>
               <span ng-switch-default><span ng-i18next="groupRequests_mytype_default"></span> <strong>{{mygroupgroup.parent.sName}}</strong></span>
            </span>
         </p>
   </div>
   <div class="sidebar-right-item"  ng-if="!loading && unreadParentsLength">
      <button class="btn btn-info" ng-click="markAllAsRead()" ng-i18next="groupRequests_mark_read"></button>
   </div>
</div>
<div class="sidebar-right-item sidebar-right-subtitle">
   <span class="material-icons sidebar-right-subtitle-icon">forum</span> <strong ng-i18next="community_events"></strong>
</div>
<div class="sidebar-right-item" ng-repeat="event in events">
   <span class="material-icons" class="sidebar-right-item-left-icon">chat_bubble</span><p class="sidear-right-item-text"> {{event.time}}<br>{{event.user}} {{event.typestr}}<br>{{event.itemstr}}</p>
</div>
