<div ng-if="!isLogged">
<center><img src="images/spinner.gif" height="50px"><p style="margin-top:10px"><strong>Loading...</strong></p></center>
</div>
<div ng-if="tempUser">
Désolé, vous ne pouvez pas modifier vos données utilisateur. Merci de vous connecter (bouton en haut à droite de l'écran) pour pouvoir le faire.
</div>
<div ng-if="fullUser" ng-form="userInfosForm">
<p>Voici les informations vous concernant auxquelles nous avons accès :</p>

<table>
<tbody>
<tr><td>Prénom: </td><td>{{user.sFirstName}}</td></tr>
<tr><td>Nom: </td><td>{{user.sLastName}}</td></tr>
<tr><td>Date de Naissance: </td><td>{{sBirthDate}}</td></tr>
<tr><td>Adresse E-mail: </td><td>{{user.sEmail}}</td></tr>
</tbody>
</table>
<button class="btn btn-info" ng-click="openLoginPopup('password')">Changer mon mot de passe</button>
</div>
