<div ng-if="!isLogged">
<center><img src="images/spinner.gif" height="50px"><p style="margin-top:10px"><strong ng-i18next="login_loading"></strong></p></center>
</div>
<div ng-if="tempUser" ng-i18next="userInfos_not_logged">
</div>
<div ng-if="fullUser" ng-form="userInfosForm">
<p ng-i18next="userInfos_title_infos"></p>

<table>
<tbody>
<tr><td ng-i18next="userInfos_info_first"></td><td>{{user.sFirstName}}</td></tr>
<tr><td ng-i18next="userInfos_info_last"></td><td>{{user.sLastName}}</td></tr>
<tr><td ng-i18next="userInfos_info_birthdate"></td><td>{{sBirthDate}}</td></tr>
<tr><td ng-i18next="userInfos_info_email"></td><td>{{user.sEmail}}</td></tr>
</tbody>
</table>
<button class="btn btn-info" ng-click="openLoginPopup('password')" ng-i18next="userInfos_change_password"></button>
</div>
