body {
  font-family: "Roboto", sans-serif;
}
* {
  line-height: normal;
}
.btn-xs .material-icons {
  font-size: 16px;
  vertical-align: text-top;
}
/* GENERIC ELEMENTS */
.checkboxSwitch input.switch {
  display: none;
}
.checkboxSwitch input.switch + label {
  background-color: #fff;
  border: 1px solid #ccc;
  width: 60px;
  height: 30px;
  border-radius: 15px;
  position: relative;
  vertical-align: middle;
  cursor: pointer;
}
.checkboxSwitch.small input.switch + label {
  width: 35px;
  height: 20px;
}
.checkboxSwitch input.switch + label span {
  width: 20px;
  height: 20px;
  top: 4px;
  left: 5px;
  position: absolute;
  border-radius: 50%;
  background-color: #ddd;
  transition: all 250ms;
}
.checkboxSwitch.small input.switch + label span {
  width: 10px;
  height: 10px;
  top: 4px;
  left: 5px;
}
.checkboxSwitch input.switch:checked + label span {
  background-color: #2aa3ff;
  left: 33px;
}
.checkboxSwitch.small input.switch:checked + label span {
  left: 18px;
}
.radio-label {
  font-weight: normal;
}

/* PAGE STRUCTURE */
.adminTreesControllers {
  padding: 0 10px 0;
}
.adminTreesControllers::before {
  content: " ";
  display: table;
  clear: both;
}
.adminContainer {
  padding: 20px;
  margin-top: -1px;
  border-top: 1px solid #ddd;
  background-color: #F7F7F9;
  overflow: auto;
  height: calc(100vh - 98px);
  clear: both;
}
.adminTreesControllers .tab-content {
  background-color: transparent;
  padding: 0;
}
.adminContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
   -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
  -webkit-box-align: start;
    -ms-flex-align: start;
      align-items: flex-start;
  padding-bottom: 2em;
}
.adminTreesWrapper {
  -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
      flex: 0 0 auto;
  padding-left: 10px;
}
.adminContainerTabContent {
  -webkit-box-flex: 0;
    -ms-flex: 1 0 600px;
      flex: 1 0 600px;
  padding-right: 10px;
}
.adminContainerTabContent .tab-content {
  background-color: #fff;
  border: 1px solid #ddd;
  border-top: none;
}
.adminTabs {
}
.nav-tabs>li>a {
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  transition: all 250ms;
  outline: 0;
}
.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover  {
  color: #82bf2b;
}
.tab-content {
  background-color: #F7F7F9;
  padding: 2em 160px 1em 1em;
}
.adminTrees {
  float: left;
  margin-right: 10px;
}
.adminMainTree,
.adminSecondaryTree {
  float: left;
}
/* TREES */
.adminTreesWrapper .checkboxSwitch {
  float: right;
  margin-right: 10px;
  margin-top: 3px;
}
.adminTreeTitle {
  font-weight: bold;
  padding-left: 5px;
  line-height: 2;
}
.adminToggleTree {
  background-color: transparent;
  color: #2aa3ff;
  float: right;
  margin-right: 5px;
  line-height: 2;
}
.adminToggleTree:active,
.adminToggleTree:hover {
  color: #2aa3ff;
}
.adminTree {
  width: 300px;
  overflow: auto;
}

.adminContainerTabContent h2 {
  margin-top: 0;
}

/* ACCESS TABLE */
.access-wrapper {
  white-space: nowrap;
  margin-top: 104px;
}
.accessItemsRows {
  max-height: calc(100vh - 262px);
  min-height: 197px;
  overflow-y: auto;
  width: -moz-fit-content;
  width: fit-content;
  border-bottom: 1px dotted #ccc;
}
.accessItemRow:hover {
  background-color: #eee;
}
.accessTitleCell, .accessCell {
  display: inline-block;
  height: 50px;
  border: 1px solid #000;
  vertical-align: top;
}
.accessTitleCell {
  font-weight: bold;
}

.accessCell {
  margin-top: -1px;
}
.accessCellItem {
  width: 270px;
  overflow: hidden;
}
.accessCellGroup,
.accessCellChild {
  width: 90px;
}
.accessCell.accessCellGroup {
  background-color: #87909e;
}
.accessTitleCell.accessCellGroup {
  color: #87909e;
}
.accessTitleCell.accessCellGroup,
.accessTitleCell.accessCellChild {
  border-width: 0 0 1px 0;
  vertical-align: bottom;
}
.accessItemTitle {
  height:20px;
  line-height:20px;
  overflow:hidden;
  text-overflow:ellipsis;
  white-space: nowrap;
  display: block;
}

.accessCellChild + .accessCellChild {
  border-left: none;
}
.accessCellGroup .groupNameWrapper,
.accessCellChild .childNameWrapper {
  transform: rotate(-45deg);
  width: 90px;
  display: block;
}
.accessCellGroup .groupNameWrapper::before,
.accessCellChild .childNameWrapper::before {
  content: " ";
  position: relative;
  width: 200px;
  height: 1px;
  background-color: #000;
  display: block;
  top: 6px;
  left: -13px;
}
.accessCellGroup .accessGroupName,
.accessCellChild .childName {
  padding: 9px 0 0 13px;
  vertical-align: top;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  width: 200px;
  text-align: left;
  cursor: default;
  font-weight: bold;
}


.itemLevel .accessCellItem,
.itemLevel .accessCell .accessButtons > div:first-child {
  padding-left: 10px;
}
.itemLevel .itemLevel .accessCellItem,
.itemLevel .itemLevel .accessCell .accessButtons > div:first-child  {
  padding-left: 20px;
}
.itemLevel .itemLevel .itemLevel .accessCellItem,
.itemLevel .itemLevel .itemLevel .accessCell .accessButtons > div:first-child {
  padding-left: 30px;
}
.itemLevel .itemLevel .itemLevel .itemLevel .accessCellItem,
.itemLevel .itemLevel .itemLevel .itemLevel .accessCell .accessButtons > div:first-child {
  padding-left: 40px;
}
.itemLevel .itemLevel .itemLevel .itemLevel .itemLevel .accessCellItem,
.itemLevel .itemLevel .itemLevel .itemLevel .itemLevel .accessCell .accessButtons > div:first-child {
  padding-left: 50px;
}
.accessCell .accessButtons > div:nth-child(2) {
  text-align: right;
}

.accessCellItem .prepTile {}
.accessCellItem .prepTile.prepValidation {
  float: left;
  border-right: 1px solid #000;
  padding-right: 3px;
  margin-right: 3px;
}
.accessCellItem .prepTile.prepVisibility {}

.validationMode,
.validationType {
  font-size: 12px;
  font-family: Arial, sans-serif;
  padding: 2px 10px;
}
.validationMode {
  font-weight: bold;
}
.validationMode:hover {
  color: inherit;
}
.validationMode.CategoryUndefined {
  background-color: #A0A0A0;
  color: #fff;
}
.validationMode.CategoryCourse {
  background-color: #009696;
  color: #fff;
}
.validationMode.CategoryDiscovery {
  background-color: blue;
  color: #fff;
}
.validationMode.CategoryApplication {
  background-color: #646464;
  color: #fff;
}
.validationMode.CategoryValidation {
  background-color: green;
  color: #fff;
}
.validationMode.CategoryChallenge {
  background-color: black;
  color: #fff;
}

.PreparationNotReady {
  color: red;
}

.PreparationReviewing {
  color: orange;
}

.PreparationReady {
  color: black;
}
.accessCell .popover {
  max-width: 380px;
}
.accessCell .itemAccessDetails {

}
.accessCell .itemAccessDetails .login,
.accessCell .itemAccessDetails .item {
  font-weight: bold;
  padding-left: 20px;
  line-height: 2em;
}
.accessCell .itemAccessDetails ul {
  padding-left: 20px;
  list-style: none;
}
.accessCell .itemAccessDetails li {
  line-height: 1.3;
  font-weight: bold;
}
.accessCell .itemAccessDetails .itemAccessDetails_label {
  font-weight: normal;
}

/* FORMS */
.form-horizontal .control-label,
.control-label {
  text-align: left;
  font-weight: bold;
}

/* LOGIN */
.loginCentered {
   height: 600px;
   width: 600px;
   margin: auto;
   position: absolute;
   bottom: 0;
   left: 0;
   top: 0;
   right: 0;
   text-align:center;
}
.loginCorner {
  height: 100px;
  text-align: center;
}
.loginCorner .loginUserInfo {
  display: block;
  vertical-align: top;
  margin-top: 20px;
}
@media screen and (min-width: 400px) {
  .loginCorner {
   float: right;
   height: 57px;
  }
  .loginCorner .loginUserInfo {
   display: inline-block;
  }
}
.loginFrame {
   border: 0px solid;
   box-shadow: 0px 0px 0px;
}

.loginCentered .loginFrame {
   width: 600px;
   height: 600px;
}

.loginCorner .loginFrame {
   width: 250px;
   height: 100px;
}

.dynatree-active > a > .dynatree-owner {
   color: white;
}

.dynatree-active > a > .dynatree-manager {
   color: white;
}

.dynatree-owner {
   color: blue;
}

.dynatree-manager {
   color: green;
}

.iframe-task {
   width:800px;
   margin: auto;
   border: 0px;
   display: block;
   overflow: auto;
   height: 500px;
}
.iframe-course {
   width: 100%;
   min-width:600px;
   margin: auto;
   border: 0px;
   display: block;
   overflow:auto;
   height: 500px;
}

.sync-alert {
  font-size: 75%;
  z-index: 10000;
  position: fixed;
  right: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
  padding: 5px 10px;
  width: 30%;
  top: 0;
  background: #fff;
  border: 1px solid #666;
  border-top: 0;
  border-radius: 0 0 4px 4px;
  -moz-border-radius: 0 0 4px 4px;
  -webkit-border-radius: 0 0 4px 4px;
  -webkit-box-shadow: 0px 0px 8px 2px rgba(0,0,0,0.4);
  -moz-box-shadow: 0px 0px 8px 2px rgba(0,0,0,0.4);
  box-shadow: 0px 0px 8px 2px rgba(0,0,0,0.4);
}

.sync-alert .message {
  font-weight: bold;
  color: #933;
}