* {
  line-height: normal;
}

/* STRUCTURE GENERALE */
.adminTreesControllers {
  padding: 10px 10px 15px;
}
.adminAccessControllers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
   -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
  overflow: auto;
  max-height: calc(100vh - 59px);
  -webkit-box-align: start;
    -ms-flex-align: start;
      align-items: flex-start;
  padding-bottom: 2em;
  min-height: calc(100vh - 59px);
}
.adminTreesWrapper {
  -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
      flex: 0 0 auto;
  padding-left: 10px;
}
.adminTabs {
  -webkit-box-flex: 0;
    -ms-flex: 0 0 600px;
      flex: 0 0 600px;
  padding-right: 10px;
}
.adminTrees {
  float: left;
  margin-right: 10px;
}
.adminMainTree,
.adminSecondaryTree {
  float: left;
}
/* ARBRES DE SELECTION */
.adminTreeTitle {
  font-weight: bold;
  padding-left: 5px;
  line-height: 2;
}
.adminToggleTree {
  background-color: transparent;
  color: #2aa3ff;
  float: right;
  margin-right: 5px;
  line-height: 2;
}
.adminToggleTree:active,
.adminToggleTree:hover {
  color: #2aa3ff;
}
.adminTree {
  width: 300px;
  overflow: auto;
}
/* ACCES */
.access-wrapper {
  white-space: nowrap;
  max-width: calc(100vw - 40px);
  overflow-x: auto;
}
.accessTitleRow {

}
.accessItemsRows {
  max-height: calc(100vh - 258px);
  overflow-y: auto;
  min-width: fit-content;
}
.accessItemRow,
.accessTitleRow {
}
.accessTitleCell, .accessCell, .accessItemCell {
   width:120px;
   height: 50px;
   padding-right: 40px;
   border: solid black 1px;
   display: inline-block;
   vertical-align: top;
}

.accessTitle{
   height:20px;
   line-height:20px;
   overflow:hidden;
   text-overflow:ellipsis;
   white-space: nowrap;
   /* width: 50px; */
   display: block;
}

.accessGroupName {
   height:20px;
   line-height:20px;
   overflow:hidden;
   text-overflow:ellipsis;
   white-space: nowrap;
   width: 100px;
   padding-right: 0px;
   display: block;
}

.accessGroupNameChild {
   line-height:20px;
   overflow:hidden;
   text-overflow:ellipsis;
   white-space: nowrap;
   padding-right: 0px;
}

.accessItemCell {
   padding-right: 40px;
   width: 270px;
   overflow:hidden;
}

.accessParams {
   font-size: 0.9em;
}

.itemLevel .accessItemCell, .itemLevel .accessCell {
   padding-left: 15px;
   padding-right: 25px;
}

.itemLevel .itemLevel .accessItemCell, .itemLevel .itemLevel .accessCell {
   padding-left: 30px;
   padding-right: 10px;
}

.CategoryUndefined, .CategoryCourse, .CategoryDiscovery, .CategoryApplication, .CategoryValidation, .CategoryChallenge {
  color: white;
  font-size: 0.85em;
  font-weight: bold;
  font-family: Arial, sans-serif;
  padding: 0 2px 0 2px;
}

.CategoryUndefined {
  color: black;
  background-color: #A0A0A0;
}

.CategoryCourse {
  background-color: #009696;
}
.CategoryDiscovery {
  background-color: blue;
}
.CategoryApplication {
  background-color: #646464;
}
.CategoryValidation {
  background-color: green;
}
.CategoryChallenge {
  background-color: black;
}

.PreparationNotReady {
  color: red;
}

.PreparationReviewing {
  color: orange;
}

.PreparationReady {
  color: black;
}

.loginCentered {
   height: 300px;
   width: 250px;
   margin: auto;
   position: absolute;
   bottom: 0;
   left: 0;
   top: 0;
   right: 0;
   text-align:center;
}
.loginCorner {
   position: absolute;
   top: 0;
   right: 0;
}
.loginCorner .loginUserInfo {
  display: inline-block;
  margin-top: 20px;
  vertical-align: top;
}
.loginFrame {
   width: 250px;
   border: 0px solid;
   box-shadow: 0px 0px 0px;
   height:250px;
}

.dynatree-active > a > .dynatree-owner {
   color: white;
}

.dynatree-active > a > .dynatree-manager {
   color: white;
}

.dynatree-owner {
   color: blue;
}

.dynatree-manager {
   color: green;
}

.iframe-task {
   width:800px;
   margin: auto;
   border: 0px;
   display: block;
   overflow: auto;
   height: 500px;
}
.iframe-course {
   width: 100%;
   min-width:600px;
   margin: auto;
   border: 0px;
   display: block;
   overflow:auto;
   height: 500px;
}
