<!DOCTYPE html>
<html lang="fr" ng-controller="adminCtrl">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta http-equiv="content-type" content="text/html; charset=UTF-8">
      <script src="../config.js.php" type="text/javascript"></script>
      <script src="../errors/error_logger.js"></script>
      <script src="../bower_components/bowser/src/bowser.js"></script>
      <script src="../bower_components/jquery/dist/jquery.min.js" type="text/javascript"></script>
      <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js" type="text/javascript"></script>
      <script src="../bower_components/angular/angular.min.js"></script>
      <script src="../bower_components/angular-sanitize/angular-sanitize.min.js"></script>
      <script src="../bower_components/angular-animate/angular-animate.min.js"></script>
      <script src="../bower_components/angular-i18n/angular-locale_fr-fr.js"></script>
      <script src="../bower_components/i18next/i18next.min.js"></script>
      <script src="../bower_components/i18next-xhr-backend/i18nextXHRBackend.min.js"></script>
      <script src="../bower_components/ng-i18next/dist/ng-i18next.min.js"></script>
      <script src="../bower_components/lodash/dist/lodash.min.js"></script>
      <script>
         var rootUrl = '../commonFramework/';
      </script>
      <script src="../commonFramework/modelsManager/modelsManager.js"></script>
      <script src="../commonFramework/sync/syncQueue.js"></script>
      <script src="../shared/models.js"></script>
      <script src="../i18n/i18n-object.js"></script>
      <script src="../shared/utils.js"></script>
      <link href="../bower_components/dynatree/dist/skin/ui.dynatree.css" rel="stylesheet" type="text/css">
      <script src="../bower_components/dynatree/dist/jquery.dynatree.min.js" type="text/javascript"></script>
      <script src="../ext/inheritance.js" type="text/javascript"></script>
      <script src="../commonFramework/treeview/treeview.js" type="text/javascript"></script>
      <script src="../bower_components/jschannel/src/jschannel.js"></script>
      <script src="../login/service.js" type="text/javascript"></script>
      <script src="itemsCtrl.js" type="text/javascript"></script>
      <script src="adminUserItemController.js" type="text/javascript"></script>
      <script src="../bower_components/pem-platform/task-xd-pr.js"></script>
      <script src="../task/controller.js" type="text/javascript"></script>
      <script src="../task/directive.js" type="text/javascript"></script>
      <script src="../navigation/controllers.js" type="text/javascript"></script>
      <script src="groupsCtrl.js" type="text/javascript"></script>
      <script src="../bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"  type="text/javascript"></script>
      <link href="../bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"/>
      <script src="../bower_components/jQuery-contextMenu/dist/jquery.contextMenu.min.js" type="text/javascript"></script>
      <link href="../bower_components/jQuery-contextMenu/dist/jquery.contextMenu.min.css" rel="stylesheet" type="text/css" >
      <link href="admin.css" rel="stylesheet" type="text/css" >
      <link href="//fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <style>
          [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
            display: none !important;
          }
      </style>
   </head>
   <body ng-cloak>
      <div ng-show="loginReady" ng-class="loginClass">
         <div>
           <span class="loginUserInfo">{{loginInnerHtml}}</span>
           <div ng-include="templatesPrefix+'/navigation/views/language-selector.html'"></div>
         </div>
         <iframe id="loginFrame" class="loginFrame" ng-src="{{loginModuleUrl}}"></iframe>
      </div>
      <div ng-hide="loginReady" class="loginCentered">
         <img src="../images/spinner.gif" height="50px"><p style="margin-top:10px"><strong  ng-i18next="admin_retrieving_login"></strong></p>
      </div>
      <div ng-show="userLogged && loginReady" ng-controller="ItemsCtrl">
         <uib-tabset class="adminTreesControllers">
            <uib-tab heading="{{'items'|i18next}}" select="selectView('itemsEditable')"></uib-tab>
            <uib-tab heading="{{'groups'|i18next}}" select="selectView('groupsEditable')"></uib-tab>
            <uib-tab heading="{{'admin_access_management'|i18next}}" select="selectView('accessRules')"></uib-tab>
         </uib-tabset>
         <div class="adminContainer">
            <div class="adminContent">
               <div class="adminTreesWrapper" ng-show="selectedView == 'itemsEditable' || selectedView == 'accessRules'">
                  <div class="adminTrees adminTreesItems">
                     <div class="adminMainTree">
                        <span class="adminTreeTitle" ng-i18next="admin_select_item"></span>
                        <div class="checkboxSwitch small" ng-show="selectedView == 'itemsEditable'" uib-tooltip="{{'admin_two_trees_items_desc'|i18next}}">
                           <input type="checkbox" id="toggleItems" class="switch" ng-click="twoColumnsItems = !twoColumnsItems">
                           <label for="toggleItems"><span></span></label>
                        </div>
            <!--
                        <span ng-controller="ItemsSearchCtrl" style="display:inline-block">
                           <a href="#" class="btn btn-xs" ng-click="open()">
                              <i class="icon-search"></i>
                           </a>
                           <div ng-include='"itemsSearchDialog.html"'></div>
                        </span>
            -->
                        <div id="treeItems" class="adminTree"></div>
                     </div>
                     <div ng-show="twoColumnsItems && selectedView == 'itemsEditable'" class="adminSecondaryTree">
                        <span class="adminTreeTitle" ng-i18next="admin_items_move"></span>
                        <div id="treeItems2" class="adminTree"></div>
                     </div>
                  </div>
               </div>
               <div class="adminTreesWrapper" ng-show="selectedView == 'groupsEditable' || selectedView == 'accessRules'">
                  <div class="adminTrees adminTreesGroups">
                     <div class="adminMainTree">
                        <span class="adminTreeTitle" ng-i18next="admin_select_group"></span>
                        <div class="checkboxSwitch small" ng-show="selectedView == 'groupsEditable'" uib-tooltip="{{'admin_two_trees_groups_desc'|i18next}}">
                           <input type="checkbox" id="toggleGroups" class="switch" ng-click="twoColumnsGroups = !twoColumnsGroups">
                           <label for="toggleGroups"><span></span></label>
                        </div>
            <!--
                        <span ng-controller="GroupsSearchCtrl" style="display:inline-block">
                           <a href="#" class="btn btn-xs" ng-click="open()">
                              <i class="icon-search"></i>
                           </a>
                           <div ng-include='"groupsSearchDialog.html"'></div>
                        </span>
            -->
                        <div id="treeGroups" class="adminTree"></div>
                     </div>
                     <div ng-show="twoColumnsGroups && selectedView == 'groupsEditable'" class="adminSecondaryTree">
                        <span class="adminTreeTitle" ng-i18next="admin_groups_move"></span>
                        <div id="treeGroups2" class="adminTree"></div>
                     </div>
                  </div>
               </div>
               <div class="adminContainerTabContent" ng-show="selectedView == 'itemsEditable'">
                  <h2>Item : {{ item.strings[0].sTitle }} <small>(ID: {{ item.ID }})</small></h2>
                  <uib-tabset class="adminTabs">
                     <uib-tab heading="{{'settings'|i18next}}"><div ng-include="templatesPrefix+'/admin/tabs/items_params.html'"></div></uib-tab>
                     <uib-tab heading="{{'texts'|i18next}}" ng-show="group_item.bOwnerAccess || group_item.bCachedMangerAccess"><div ng-include="templatesPrefix+'/admin/tabs/items_texts.html'"></div></uib-tab>
                     <uib-tab heading="{{'edition'|i18next}}" ng-show="group_item.bOwnerAccess || group_item.bCachedMangerAccess">TODO : édition de l'item sur l'interface tasks (si c'est un sujet ou un cours)</uib-tab>
                     <uib-tab heading="{{'admin_access'|i18next}}" ng-show="group_item.bOwnerAccess || group_item.bCachedMangerAccess"><div ng-include="templatesPrefix+'/admin/tabs/items_access.html'"></div></uib-tab>
                     <uib-tab heading="{{'admin_summary'|i18next}}" ng-show="group_item.bOwnerAccess || group_item.bAccessSolutions || group_item.bCachedMangerAccess"><div ng-include="templatesPrefix+'/admin/tabs/items_progression.html'"></div></uib-tab>
                     <uib-tab heading="{{'statistics'|i18next}}" ng-show="group_item.bOwnerAccess || group_item.bCachedMangerAccess">TODO</uib-tab>
                  </uib-tabset>
               </div>
               <div class="adminContainerTabContent" ng-show="selectedView == 'groupsEditable'">
                  <h2><span ng-i18next="group"></span> : {{ group.sName }} <small>(ID: {{ group.ID }})</small></h2>
                  <uib-tabset class="adminTabs">
                     <uib-tab heading="{{'settings'|i18next}}"><div ng-include="templatesPrefix+'/admin/tabs/groups_params.html'"></div></uib-tab>
                     <!--<tab ng-show="user" heading="Utilisateur associé"><div ng-include='"tabs/users_params.html"'></div></tab>-->
                  </uib-tabset>
               </div>
               <div class="adminContainerTabContent" ng-show="selectedView == 'accessRules'">
                  <h2><span ng-i18next="admin_item_and_group"></span> {{ group.sName }} {{ item.strings[0].sTitle }}</h2>
                  <uib-tabset class="adminTabs">
                     <!--<tab ng-show="user" heading="Utilisateur associé"><div ng-include='"tabs/users_params.html"'></div></tab>-->
                     <uib-tab heading="{{'admin_access' | i18next}}"><div ng-include="templatesPrefix+'/admin/tabs/items_access.html'"></div></uib-tab>
                     <uib-tab heading="{{'admin_summary' | i18next}}" ng-show="group_item.bOwnerAccess || group_item.bAccessSolutions || group_item.bCachedMangerAccess"><div ng-include="templatesPrefix+'/admin/tabs/items_progression.html'"></div></uib-tab>
                  </uib-tabset>
               </div>
            </div>
         </div>
      </div>
         <script>
  window.i18next.use(window.i18nextXHRBackend);
  window.i18next.init({
    'lng': config.domains.current.defaultLanguage,
    'fallbackLng': ['en', 'fr'],
    'fallbackNS': 'algorea',
    'debug': false,
    'ns': config.domains.current.customStringsName ? [config.domains.current.customStringsName, 'commonFramework', 'algorea'] : ['commonFramework', 'algorea'],
    'backend' : {
      'allowMultiLoading' : false,
      'loadPath': function (lng, ns) {
                    if(ns == 'commonFramework') {
                      return config.domains.current.baseUrl + '/commonFramework/i18n/'+lng+'/'+ns+'.json';
                    } else {
                      return config.domains.current.baseUrl + '/i18n/'+lng+'/'+ns+'.json';
                    }
                  }
    }
  });
  window.i18next.on('initialized', function (options) {
    window.i18nextOptions = options;
    angular.bootstrap(document, ['algorea']);
  });
</script>
   </body>
</html>
