<div modal="shouldBeOpen" close="close()" options="opts">
   <div class="modal-header">
      <h3 ng-i18next="groupAdmin_title_item_search"></h3>
   </div>
   <div class="modal-body">
   <form>
      <field model="searchItems" field="items.sType" />
      <field model="searchItems" field="items.sTextId" />
      <field model="searchItems" field="items_strings.sTitle" />
      <field model="searchItems" field="items_strings.sSubtitle" />
      <field model="searchItems" field="items_strings.sDescription" />
   </form>                
   </div>
   <div class="modal-footer">
      <button class="btn btn-primary" ng-click="search()" ng-i18next="search"></button>
      <button class="btn btn-warning cancel" ng-click="close()" ng-i18next="cancel"></button>
   </div>
</div>
