<div class="groupRequest">
   <uib-tabset active="active">
      <uib-tab heading="Mon compte">
         <div class="groupRequest-tabContent">
            Dans cet onglet, vous pourrez bientôt modifier vos informations personnelles et vos informations de connexion.
         </div>
      </uib-tab>
      <uib-tab heading="Mes groupes">
         <div class="groupRequest-tabContent">
            <div class="groupAdmin groupAdmin-home" ng-controller="groupAdminIndexController">
               <div class="groupAdmin-homeContent">
                  <div ng-if="loading">Chargement...</div>
                  <div ng-show="error">{{error}}</div>
                  <div ng-if="!loading && !error">

                     <p>Dans cet espace d'animation, vous pouvez constituer des groupes puis les administrer en leur assignant un parcours à réaliser. Vous avez également accès à un forum pour interagir avec l'équipe Declick.</p>

                     <div ng-hide="myGroupAdmin.children.length">
                        <p>Vous n'avez aucun groupe</p>
                     </div>
                     <div ng-show="myGroupAdmin.children.length">
                        <p class="groupAdmin-title">Consulter un groupe :</p>
                        <ul class="list list-block list-groups">
                           <li class="list-item" ng-repeat="group_group in myGroupAdmin.children"><a ng-click="openGroup(group_group.idGroupChild);">{{group_group.child.sName}}</a></li>
                        </ul>
                     </div>
                     <div>
                     <p class="groupAdmin-title">Créer un nouveau groupe :</p>
                     <div class="form-inline">
                        <input type="text" ng-model="formValues.groupName" class="form-control" placeholder="Entrez le nom du nouveau groupe"/>
                        <button ng-click="newGroup();" class="btn-icon btn-add"><span class="btn-label">Ajouter un groupe</span></button>
                     </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="">
               <h2 class="groupRequest-title" ng-hide="loading">Les groupes dont je fais partie</h2>

               <div ng-if="!loading && !showTable()">
                  <p>Vous ne faites actuellement partie d'aucun groupe.</p>
               </div>
               Invitations et requêtes:
               <div class="table-wrapper">
                  <table class="table table-bordered table-hover" ng-if="showTable()">
                     <thead>
                        <tr>
                           <th>Groupe</th>
                           <th>Date</th>
                           <th>État</th>
                           <th>Action</th>
                        </tr>
                     </thead>
                     <tbody>
                        <tr ng-repeat="mygroupgroup in myGroupParents | orderBy:'-sStatusDate' track by mygroupgroup.ID" ng-if="mygroupgroup.sType == 'invitationSent' || mygroupgroup.sType == 'requestSent'">
                           <td>{{mygroupgroup.parent.sName}}</td>
                           <td>{{mygroupgroup.sStatusDate | date}}</td>
                           <td>{{printType(mygroupgroup.sType)}}</td>
                           <td>
                              <div ng-if="mygroupgroup.sType == 'invitationSent'">
                                 <button class="btn btn-default" ng-click="acceptInvitation(mygroupgroup)">Accepter</button>
                                 <button class="btn btn-default" confirm="refuseInvitation(mygroupgroup)" rel="Êtes-vous sûr de vouloir refuser l'invitation au groupe {{group_group.parent.sName}} ?">Refuser</button>
                              </div>
                              <div ng-if="mygroupgroup.sType == 'requestSent'">
                                 <button class="btn btn-default" ng-click="cancelRequest(mygroupgroup)">Annuler</button>
                              </div>
                           </td>
                        </tr>
                     </tbody>
                  </table>
               </div>
               Groupes dont je fais partie:
               <div class="table-wrapper">
                  <table class="table table-bordered table-hover" ng-if="showTable()">
                     <thead>
                        <tr>
                           <th>Groupe</th>
                           <th>Date</th>
                           <th>État</th>
                           <th>Action</th>
                        </tr>
                     </thead>
                     <tbody>
                        <tr ng-repeat="mygroupgroup in myGroupParents | orderBy:'-sStatusDate' track by mygroupgroup.ID" ng-if="mygroupgroup.sType == 'invitationAccepted' || mygroupgroup.sType == 'requestAccepted' || mygroupgroup.sType == 'direct'">
                           <td>{{mygroupgroup.parent.sName}}</td>
                           <td>{{mygroupgroup.sStatusDate | date}}</td>
                           <td>{{printType(mygroupgroup.sType)}}</td>
                           <td>
                              <div>
                                 <button class="btn btn-default" confirm="leaveGroup(mygroupgroup)" rel="Êtes-vous sûr de vouloir quitter le groupe {{group_group.parent.sName}} ?'">Quitter le groupe</button>
                              </div>
                           </td>
                        </tr>
                     </tbody>
                  </table>
               </div>
            </div>
            <div class="">
               <h2 class="groupRequest-title" ng-hide="loading">Rejoindre un groupe</h2>
               <div ng-if="!loading">
                  <form class="form">
                     <label for="askedPassword">Rejoindre avec un mot de passe :</label>
                     <div class="form-group form-inline">
                        <input type="text" class="form-control" name="askedPassword" ng-model="pageData.askedPassword">
                        <button type="button" class="btn btn-default" ng-click="joinWithPassword()" ng-disabled="!pageData.askedPassword">Rejoindre</button>
                     </div>
                  </form>
                  <div ng-if="passwordInfo">
                     {{passwordInfo}}
                  </div>
                  <form class="form">
                     <label for="lookupString">Rechercher par nom :</label>
                     <div class="form-group form-inline">
                        <input type="text" class="form-control" name="lookupString" ng-model="pageData.lookupString">
                        <button type="button" class="btn btn-default" ng-click="lookup()" ng-disabled="!pageData.lookupString">Rechercher</button>
                     </div>
                  </form>
                  <p>{{resultsError}}</p>
                  <table ng-if="results" class="search-groups-results table table-bordered">
                     <tbody ng-repeat="result in results">
                        <tr class="{{result.relationType}}">
                           <td rowspan="2" class="groupName">{{result.sName}} ({{result.sType}})</td>
                           <td class="helper-text">
                              <p ng-if="result.hasPassword && result.bOpened">
                                 <i class="material-icons">lock</i>
                                 <span>Ce groupe nécessite un mot de passe</span>
                              </p>
                              <p ng-if="!result.hasPassword && result.bOpened">
                                 <i class="material-icons">lock_open</i>
                                 <span>Ce groupe est ouvert à tous. <span ng-hide="result.bFreeAccess">Vous ne ferez partie du groupe qu'une fois qu'un modérateur aura validé votre demande.</span></span>
                              </p>
                           </td>
                           <td ng-switch="result.relationType">
                              <p ng-switch-when="invitationSent">Vous avez reçu une invitation pour ce groupe.</p>
                              <p ng-switch-when="invitationAccepted">Vous faites partie de ce groupe.</p>
                              <p ng-switch-when="requestAccepted">Vous faites partie de ce groupe.</p>
                              <p ng-switch-when="direct">Vous faites partie de ce groupe.</p>
                              <p ng-switch-when="requestSent"><i class="material-icons">query_builder</i> Vous avez fait une demande pour rejoindre ce groupe.</p>
                              <div ng-switch-default>
                                 <div class="form-inline" ng-if="result.hasPassword && result.bOpened">
                                    <label for="password{{result.sName}}">Mot de passe :</label>
                                    <input type="text" id="password{{result.sName}}" name="password" class="form-control" ng-model="result.password" placeholder="Mot de passe">
                                    <button type="button" ng-if="result.bOpened" class="btn btn-default" ng-click="joinGroup(result)">Rejoindre le groupe</button>
                                 </div>
                                 <p ng-if="!result.hasPassword && result.bOpened">
                                    <button type="button" ng-if="result.bOpened" class="btn btn-default" ng-click="joinGroup(result)">Rejoindre le groupe</button>
                                    <span ng-hide="result.bFreeAccess">Vous ne ferez partie du groupe qu'une fois qu'un modérateur aura validé votre demande.</span>
                                 </p>
                                 <p ng-if="!result.bOpened">Ce groupe est actuellement fermé.</p>
                                 <div class="alert alert-warning" role="alert" ng-show="result.joinLog">{{result.joinLog}}</div>
                              </div>
                           </td>
                        </tr>
                        <tr class="{{result.relationType}}">
                           <td colspan=3>
                              <span ng-if="result.sDescription" class="description">{{result.sDescription}}</span>
                              <span ng-if="!result.sDescription" class="no-description">Pas de description</span>
                           </td>
                        </tr>
                     </tbody>
                  </table>
               </div>
            </div>
            <div>
               <h2 class="groupRequest-title" ng-hide="loading">Historique complet</h2>

               <ul ng-if="!loading" class="history-list">
                  <li ng-repeat="mygroupgroup in myGroupParents | orderBy:'-sStatusDate' track by mygroupgroup.ID | limitTo: historyLimit" ng-class="{historyActive: !user.sNotificationReadDate || mygroupgroup.sStatusDate > user.sNotificationReadDate}">
                     {{mygroupgroup.sStatusDate | date}}&nbsp;:
                     <span ng-switch="mygroupgroup.sType">
                        <span ng-switch-when="invitationRefused">vous avez refusé l'invitation au groupe <strong>{{mygroupgroup.parent.sName}}</strong></span>
                        <span ng-switch-when="requestRefused">vous avez été refusé dans le groupe <strong>{{mygroupgroup.parent.sName}}</strong></span>
                        <span ng-switch-when="invitationSent">vous avez été invité au groupe <strong>{{mygroupgroup.parent.sName}}</strong></span>
                        <span ng-switch-when="requestSent">vous avez demandé à rejoindre le groupe <strong>{{mygroupgroup.parent.sName}}</strong></span>
                        <span ng-switch-when="left">vous avez quitté le groupe <strong>{{mygroupgroup.parent.sName}}</strong></span>
                        <span ng-switch-when="removed">vous avez été supprimé du groupe <strong>{{mygroupgroup.parent.sName}}</strong></span>
                        <span ng-switch-default>vous avez rejoint le groupe <strong>{{mygroupgroup.parent.sName}}</strong></span>
                     </span>
                  </li>
               </ul>
               <button class="btn btn-standard" ng-click="addHistoryLimit()" ng-if="!loading && parentsLength && parentsLength > historyLimit">Voir 10 de plus</button>
               <button class="btn btn-default" ng-click="markAllAsRead()" ng-show="!loading && unreadParentsLength">Marquer comme lu</button>
            </div>
         </div>
      </uib-tab>
   </uib-tabset>
   <div ng-if="error">
      {{error}}
   </div>
   <div ng-if="loading && !error">
      <center><img src="images/spinner.gif" height="50px"><p style="margin-top:10px"><strong>Chargement...</strong></p></center>
   </div>
</div>