<div class="groupRequest">
   <uib-tabset active="active">
      <uib-tab heading="Mon compte">
         <div class="groupRequest-tabContent" data-i18n="groupRequests_myaccount_desc">
         </div>
      </uib-tab>
      <uib-tab heading="Mes groupes">
         <div class="groupRequest-tabContent">
            <div class="">
               <div ng-if="!loading && !showTable()">
                  <p data-18n="groupRequests_member_no_group"></p>
               </div>
               <h2 class="groupRequest-title" ng-hide="loading" data-i18n="groupRequests_title_invites"></h2>
               <div class="table-wrapper">
                  <table class="table table-bordered table-hover" ng-if="showTable()">
                     <thead>
                        <tr>
                           <th data-i18n="group"></th>
                           <th data-i18n="date"></th>
                           <th data-i18n="status"></th>
                           <th data-i18n="action"></th>
                        </tr>
                     </thead>
                     <tbody>
                        <tr ng-repeat="mygroupgroup in myGroupParents | orderBy:'-sStatusDate' track by mygroupgroup.ID" ng-if="mygroupgroup.sType == 'invitationSent' || mygroupgroup.sType == 'requestSent'">
                           <td>{{mygroupgroup.parent.sName}}</td>
                           <td>{{mygroupgroup.sStatusDate | date}}</td>
                           <td>{{printType(mygroupgroup.sType)}}</td>
                           <td>
                              <div ng-if="mygroupgroup.sType == 'invitationSent'">
                                 <button class="btn btn-default" ng-click="acceptInvitation(mygroupgroup)" data-i18n="accept"></button>
                                 <button class="btn btn-default" confirm="refuseInvitation(mygroupgroup)" rel="Êtes-vous sûr de vouloir refuser l'invitation au groupe {{group_group.parent.sName}} ?" data-i18n="reject"></button>
                              </div>
                              <div ng-if="mygroupgroup.sType == 'requestSent'">
                                 <button class="btn btn-default" ng-click="cancelRequest(mygroupgroup)" data-i18n="cancel"></button>
                              </div>
                           </td>
                        </tr>
                     </tbody>
                  </table>
               </div>
               <h2 class="groupRequest-title" ng-hide="loading">Groupes que j'ai rejoints</h2>
               <div class="table-wrapper">
                  <table class="table table-bordered table-hover" ng-if="showTable()">
                     <thead>
                        <tr>
                           <th data-i18n="group"></th>
                           <th data-i18n="date"></th>
                           <th data-i18n="status"></th>
                           <th data-i18n="action"></th>
                        </tr>
                     </thead>
                     <tbody>
                        <tr ng-repeat="mygroupgroup in myGroupParents | orderBy:'-sStatusDate' track by mygroupgroup.ID" ng-if="(mygroupgroup.sType == 'invitationAccepted' || mygroupgroup.sType == 'requestAccepted' || mygroupgroup.sType == 'direct') && mygroupgroup.parent.sType != 'RootSelf'">
                           <td>{{mygroupgroup.parent.sName}}</td>
                           <td>{{mygroupgroup.sStatusDate | date}}</td>
                           <td>{{printType(mygroupgroup.sType)}}</td>
                           <td>
                              <div>
                                 <button class="btn btn-default" confirm="leaveGroup(mygroupgroup)" rel="test" data-i18n="groupRequests_leave_group;[rel]groupRequests_leave_confirm"></button>
                              </div>
                           </td>
                        </tr>
                     </tbody>
                  </table>
               </div>
            </div>
            <div class="">
               <h2 class="groupRequest-title" ng-hide="loading" data-i18n="groupRequests_title_join"></h2>
               <div ng-if="!loading">
                  <form class="form">
                     <label class="label-title" for="askedPassword"><span data-i18n="groupRequests_join_code"></span><span class="label-description" data-i18n="groupRequests_join_code_desc"></span></label>
                     <div class="form-group form-inline">
                        <input type="text" class="form-control" name="askedPassword" id="askedPassword" ng-model="pageData.askedPassword">
                        <button type="button" class="btn btn-default" ng-click="joinWithPassword()" ng-disabled="!pageData.askedPassword" data-i18n="join"></button>
                     </div>
                  </form>
                  <div ng-if="passwordInfo">
                     {{passwordInfo}}
                  </div>
                  <form class="form">
                     <label class="label-title" for="lookupString"><span data-i18n="groupRequests_search_name"></span><span class="label-description" data-i18n="groupRequests_search_name_desc"></span></label>
                     <div class="form-group form-inline">
                        <input type="search" id="lookupString" class="form-control" name="lookupString" ng-model="pageData.lookupString">
                        <button type="button" class="btn btn-default" ng-click="lookup()" ng-disabled="!pageData.lookupString" data-i18n="search"></button>
                     </div>
                  </form>
                  <p>{{resultsError}}</p>
                  <table ng-if="results" class="search-groups-results table table-bordered">
                     <tbody ng-repeat="result in results">
                        <tr class="{{result.relationType}}">
                           <td rowspan="2" class="groupName">{{result.sName}} ({{result.sType}})</td>
                           <td class="helper-text">
                              <p ng-if="result.hasPassword && result.bOpened">
                                 <i class="material-icons">lock</i>
                                 <span data-i18n="groupRequests_password_needed"></span>
                              </p>
                              <p ng-if="!result.hasPassword && result.bOpened">
                                 <i class="material-icons">lock_open</i>
                                 <span><span data-i18n="groupRequests_open_group"></span> <span ng-hide="result.bFreeAccess" data-i18n="groupRequests_approval_needed"></span></span>
                              </p>
                           </td>
                           <td ng-switch="result.relationType">
                              <p ng-switch-when="invitationSent" data-i18n="groupRequests_rel_invitationSent"></p>
                              <p ng-switch-when="invitationAccepted" data-i18n="groupRequests_rel_invitationAccepted"></p>
                              <p ng-switch-when="requestAccepted" data-i18n="groupRequests_rel_requestAccepted"></p>
                              <p ng-switch-when="direct" data-i18n="groupRequests_rel_direct"></p>
                              <p ng-switch-when="requestSent"><i class="material-icons">query_builder</i> <span data-i18n="groupRequests_rel_requestSent"></span></p>
                              <div ng-switch-default>
                                 <div class="form-inline" ng-if="result.hasPassword && result.bOpened">
                                    <label for="password{{result.sName}}" data-i18n="groupRequests_password"></label>
                                    <input type="text" id="password{{result.sName}}" name="password" class="form-control" ng-model="result.password" placeholder="Mot de passe">
                                    <button type="button" ng-if="result.bOpened" class="btn btn-default" ng-click="joinGroup(result)" data-i18n="groupRequests_join_group"></button>
                                 </div>
                                 <p ng-if="!result.hasPassword && result.bOpened">
                                    <button type="button" ng-if="result.bOpened" class="btn btn-default" ng-click="joinGroup(result)" data-i18n="groupRequests_join_group"></button>
                                    <span ng-hide="result.bFreeAccess" data-i18n="groupRequests_approval_needed"></span>
                                 </p>
                                 <p ng-if="!result.bOpened" data-i18n="groupRequests_closed_group"></p>
                                 <div class="alert alert-warning" role="alert" ng-show="result.joinLog">{{result.joinLog}}</div>
                              </div>
                           </td>
                        </tr>
                        <tr class="{{result.relationType}}">
                           <td colspan=3>
                              <span ng-if="result.sDescription" class="description">{{result.sDescription}}</span>
                              <span ng-if="!result.sDescription" class="no-description" data-i18n="groupRequests_no_description"></span>
                           </td>
                        </tr>
                     </tbody>
                  </table>
               </div>
            </div>
            <div class="adminGroup">
               <h2 class="groupRequest-title" ng-hide="loading" data-i18n="groupRequests_title_my_groups"></h2>
               <div ng-controller="groupAdminIndexController">
                  <div ng-if="loading" data-i18n="groupRequests_loading"></div>
                  <div ng-show="error" class="alert alert-warning">{{error}}</div>
                  <div ng-if="!loading">
                     <div ng-hide="myGroupAdmin.children.length">
                        <p data-i18n="groupRequests_error_no_group"></p>
                     </div>
                     <div ng-show="myGroupAdmin.children.length">
                        <h3 data-i18n="groupRequests_view_group"></h3>
                        <ul class="list list-block list-groups">
                           <li class="list-item" ng-repeat="group_group in myGroupAdmin.children | groupsgroupsChildrenNameSort"><a ng-click="openGroup(group_group.idGroupChild);">{{group_group.child.sName}}</a></li>
                        </ul>
                     </div>
                     <div>
                        <label for="newGroupName"><span data-i18n="groupRequests_create_group"></span><span class="label-description" data-i18n="groupRequests_create_group_desc"></span></label>
                        <div class="form-inline">
                           <input type="text" ng-model="formValues.groupName" class="form-control" id="newGroupName"/>
                           <button ng-click="newGroup();" class="btn btn-default"><span class="btn-label" data-i18n="groupRequests_add_group"></span></button>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div>
               <h2 class="groupRequest-title" ng-hide="loading" data-i18n="[html]groupRequests_title_history"></h2>

               <ul ng-if="!loading" class="history-list list list-block">
                  <li ng-repeat="mygroupgroup in myGroupParents | orderBy:'-sStatusDate' track by mygroupgroup.ID | limitTo: historyLimit" ng-class="{historyActive: !user.sNotificationReadDate || mygroupgroup.sStatusDate > user.sNotificationReadDate}"  ng-if="mygroupgroup.parent.sType != 'RootSelf'">
                     {{mygroupgroup.sStatusDate | date}}&nbsp;:
                     <span ng-switch="mygroupgroup.sType">
                        <span ng-switch-when="invitationRefused"><span data-i18n="groupRequests_mytype_invitationRefused"></span> <strong>{{mygroupgroup.parent.sName}}</strong></span>
                        <span ng-switch-when="requestRefused"><span data-i18n="groupRequests_mytype_requestRefused"></span> <strong>{{mygroupgroup.parent.sName}}</strong></span>
                        <span ng-switch-when="invitationSent"><span data-i18n="groupRequests_mytype_invitationSent"></span> <strong>{{mygroupgroup.parent.sName}}</strong></span>
                        <span ng-switch-when="requestSent"><span data-i18n="groupRequests_mytype_requestSent"></span> <strong>{{mygroupgroup.parent.sName}}</strong></span>
                        <span ng-switch-when="left"><span data-i18n="groupRequests_mytype_left"></span> <strong>{{mygroupgroup.parent.sName}}</strong></span>
                        <span ng-switch-when="removed"><span data-i18n="groupRequests_mytype_removed"></span> <strong>{{mygroupgroup.parent.sName}}</strong></span>
                        <span ng-switch-default><span data-i18n="groupRequests_mytype_default"></span> <strong>{{mygroupgroup.parent.sName}}</strong></span>
                     </span>
                  </li>
               </ul>
               <button class="btn btn-standard" ng-click="addHistoryLimit()" ng-if="!loading && parentsLength && parentsLength > historyLimit" data-i18n="groupRequests_ten_more"></button>
               <button class="btn btn-default" ng-click="markAllAsRead()" ng-show="!loading && unreadParentsLength" data-i18n="groupRequests_mark_read"></button>
            </div>
         </div>
      </uib-tab>
   </uib-tabset>
   <div ng-if="error">
      {{error}}
   </div>
   <div ng-if="loading && !error">
      <center><img src="images/spinner.gif" height="50px"><p style="margin-top:10px"><strong data-i18n="groupRequests_loading"></strong></p></center>
   </div>
</div>
