.groupRequest {
	margin: 10px;
	font-family: "Roboto", sans-serif;
	font-size: 16px;
}
.mobile-layout .groupRequest {
	max-width: calc(100vw - 20px);
}
.groupRequest-tabContent {
	background-color: #F7F7F9;
	padding: 2em;
}
.mobile-layout .groupRequest-tabContent {
	padding: 1em;
}
.groupRequest-tabContent > div {
	margin-bottom: 2em;
}
.groupRequest-tabContent .row {
	margin-bottom: 1em;
}

/*
	Text elements
*/
.groupRequest .groupRequest-title,
.groupRequest h2 {
	font-size: 18px;
	text-transform: uppercase;
	font-weight: bold;
	margin: 0 0 1em;
	line-height: inherit;
}
.groupRequest .groupRequest-title .title-desc {
	display: block;
	font-size: 16px;
	font-weight: normal;
	font-style: italic;
	text-transform: none;
}
.groupRequest h3,
.groupRequest label.label-title {
	font-weight: bold;
	margin-bottom: 5px;
	font-size: 16px;
	margin-top: 0;
}
.groupRequest .label-description {
	font-size: 14px;
	font-style: italic;
	color: #353535;
	display: block;
	font-weight: normal;
	line-height: 1.2em;
	text-shadow: 1px 1px 1px #fff;
}
.groupRequest .table-hover>tbody>tr:hover {
	background-color: #e8e8e8;
}
/* Search Groups */
.groupRequest .search-groups-results {
	border-collapse: collapse;
}
.groupRequest .search-groups-results tr.requestSent,
.groupRequest .search-groups-results tr.requestAccepted,
.groupRequest .search-groups-results tr.invitationSent,
.groupRequest .search-groups-results tr.invitationAccepted,
.groupRequest .search-groups-results tr.direct {
	color: #707070;
}
.groupRequest .search-groups-results td {
	padding: 3px 10px;
	vertical-align: middle;
}
.groupRequest .search-groups-results tbody:hover td {
	background-color: #e8e8e8;
}
.groupRequest .search-groups-results .groupName {
	font-weight: bold;
}
.groupRequest .search-groups-results td p {
	margin-bottom: 0;
}
.groupRequest .search-groups-results i {
	display: inline-block;
	vertical-align: bottom;
}
.groupRequest .search-groups-results .helper-text {
	width: 1%;
}
.groupRequest .search-groups-results .helper-text p {
	position: relative;
}
.groupRequest .search-groups-results .helper-text i {
	display: block;
	cursor: default;
}
.groupRequest .search-groups-results .helper-text p span {
	position: absolute;
	top: 0;
	left: 24px;
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 10px;
	padding: 3px 10px;
	opacity: 0;
	z-index: 1;
	box-shadow: 1px 1px 3px #ccc;
	width: 11em;
	display: none;
	transition: opacity 250ms;
}
.groupRequest .search-groups-results .helper-text i:hover + span {
	display: block;
	opacity: 1;
}
.groupRequest .search-groups-results label {
	display: none;
}
.groupRequest .search-groups-results .no-description {
	font-style: italic;
	color: #707070;
}
.groupRequest .table-wrapper {
	max-width: 100%;
	overflow: auto;
}
/* Administrated groups */
.groupRequest .list-block {
	background-color: #fff;
	border: 1px solid #ddd;
	list-style: none;
	margin: 0;
	padding: 0;
	max-height: 20em;
	overflow: auto;
	line-height: 1.5em;
	list-style: none;
	margin-bottom: 1em;
	padding: 1em 0.5em;
}
.groupRequest .list-block.list-groups li {
	padding: 0 0.5em;
	box-sizing: content-box;
	clear: both;
}
.groupRequest .list-block.list-groups li:hover {
	background-color: #e8e8e8;
}
.groupRequest .list-block.list-groups a {
	cursor: pointer;
}
.groupRequest .list-block.list-groups a,
.groupRequest .list-block.list-groups a:hover,
.groupRequest .list-block.list-groups a:focus {
	color: inherit;
}
.groupRequest .adminGroup input {
	min-width: 22em;
}
/* History */
.groupRequest .history-list {
}
.groupRequest .history-list li {
	border-bottom: 1px solid #ccc;
	padding: 3px 10px;
}
.groupRequest .history-list li.historyActive {
	background-color: #e8e8e8;
}