<h1><span ng-i18next="{{ 'models_groups_fields_sType_values_'+newGroup.type+'_label' }}"></span> : <span class="groupName">{{ newGroup.name }}</span></h1>
<div ng-if="!editingDetails">
    <p>{{ newGroup.description }}</p>
    <button class="btn btn-primary" ng-click="toggleEdit();" btn-icon-text="edit,modify"></button>
</div>
<div class="tab-group-description" ng-if="editingDetails">
    <div class="flex-container">
        <label class="control-label item-label">
            <span class="label-title" ng-i18next="groupAdmin_group_name"></span>
            <span class="label-description" ng-i18next="groupAdmin_group_name_desc"></span>
        </label>
        <input type="text" ng-model="editedGroup.name" class="form-control item-control" />
    </div>
    <div class="flex-container">
        <label class="control-label item-label">
            <span class="label-title" ng-i18next="type"></span>
            <span class="label-description" ng-i18next="groupAdmin_type_desc"></span>
        </label>
        <select ng-model="editedGroup.type" class="form-control item-control">
            <option ng-repeat="groupType in groupFields.types" value="{{ groupType }}" ng-i18next="{{ 'models_groups_fields_sType_values_'+groupType+'_label' }}"></option>
        </select>
    </div>
    <div ng-if="editedGroup.type == 'Class'" class="flex-container">
        <label class="control-label item-label">
            <span class="label-title" ng-i18next="level"></span>
            <span class="label-description" ng-i18next="groupAdmin_level_desc"></span>
        </label>
        <select ng-model="editedGroup.grade" class="form-control item-control">
            <option ng-repeat="groupGrade in groupFields.grades" value="{{ groupGrade }}" ng-i18next="{{ 'models_groups_fields_iGrade_values_'+groupGrade+'_label' }}"></option>
        </select>
    </div>
    <div class="flex-container">
        <label class="control-label item-label">
            <span class="label-title" ng-i18next="description"></span>
            <span class="label-description" ng-i18next="groupAdmin_description_desc"></span>
        </label>
        <textarea ng-model="editedGroup.description" class="form-control item-control"></textarea>
    </div>
    <div class="buttons-line">
        <div>
            <button class="btn btn-danger" confirm="deleteGroup();" btn-icon-text="delete,groupAdmin_delete_group" ng-i18next="[rel]groupAdmin_delete_group_msg"></button>
        </div>
        <div>
            <button class="btn btn-warning" ng-click="toggleEdit()" btn-icon-text="close,cancel"></button>
            <button class="btn btn-primary" ng-click="saveGroup()" ng-disabled="!hasModifications()" btn-loading="savingGroup" btn-icon-text="save,save">
                <i class="material-icons">save</i>
                <span ng-i18next="save"></span>
            </button>
        </div>
    </div>
</div>
