<div ng-if="!loading && !error" class="groupAdmin">
	<h1><span ng-i18next="group"></span> : <span class="groupName">{{group.sName}}</span></h1>
    <display-tabs name="groupAdmin"></display-tabs>
    <div ng-if="tabsService.isTab('description')" ng-include="templatesPrefix+'/groupAdmin/groupDescription.html'"></div>
    <div ng-if="tabsService.isTab('members')" ng-include="templatesPrefix+'/groupAdmin/groupMembers.html'"></div>
    <div ng-if="tabsService.isTab('progress')" ng-include="templatesPrefix+'/groupAdmin/groupProgress.html'"></div>
    <div ng-if="tabsService.isTab('administration')" ng-include="templatesPrefix+'/groupAdmin/groupAdministration.html'"></div>
    <div ng-if="tabsService.isTab('accountsManager')" ng-include="templatesPrefix+'/groupAdmin/groupAccountsManager.html'"></div>
    <div ng-if="tabsService.isTab('subgroups')" ng-include="templatesPrefix+'/groupAdmin/groupSubgroups.html'"></div>
</div>
<div ng-if="loading" ng-i18next="loading"></div>
<div ng-show="error">{{error}}</div>
