/*
Colors:
legend dark-grey: #707070;
legend light-grey: #C6C6C6;
background Light grey : #edebed;
Declick dark purple: #480a2a;
Light purple: #a88996;
Yellow-green: #D1D718;
Pink: #e11782;
Red : #e42c20;
green : #0FAA8B;
orange : #F29200;
*/

.groupAdmin-modal > .modal-dialog {
	width: 90% !important;
}
.groupAdmin {
	margin: 10px;
	font-family: "Roboto", sans-serif;
	font-size: 16px;
}
.mobile-layout .groupAdmin {
	max-width: calc(100vw - 20px);
}
.mobile-layout #main > article {
	min-width: auto;
}
.groupAdmin label input {
	margin-right: 3px;
}
.groupAdmin .block-context {
	overflow: auto;
}
.groupAdmin h1 {
	font-size: 28px;
}
.groupAdmin h1 .groupName {
	font-weight: bold;
}

/*
	Tabs
*/

.groupAdmin-tabContent {
	background-color: #F7F7F9;
	padding: 2em;
	position: relative;
}
.mobile-layout .groupAdmin-tabContent {
	padding: 1em;
}
.groupAdmin-tabContent .row {
	margin-bottom: 1em;
}

/*
	Text elements
*/
.groupAdmin .groupAdmin-title {
	font-size: 18px;
	text-transform: uppercase;
	font-weight: bold;
	margin-bottom: 1em;
}
.groupAdmin .groupAdmin-title .title-desc {
	display: block;
	font-size: 16px;
	font-weight: normal;
	font-style: italic;
	text-transform: none;
}
.groupAdmin .label-title {
	font-weight: bold;
	display: inline-block;
	margin-bottom: 5px;
	font-size: 18px;
}
.groupAdmin .label-title.label-list-item {
	display: list-item;
	list-style-position: inside;
}
.groupAdmin .label-description {
	font-size: 14px;
	font-style: italic;
	color: #353535;
	display: block;
	font-weight: normal;
	line-height: 1.2em;
	text-shadow: 1px 1px 1px #fff;
}

/*
	Forms
*/
.groupAdmin-home .form-inline {
	position: relative;
	padding-right: 45px;
}
.groupAdmin-home .form-inline input {
	width: 100%;
}
.groupAdmin-home .form-inline .btn-icon {
	position: absolute;
	top: 0;
	right: 0;
}

.groupAdmin .form-control + .form-control {
	margin-top: 1em;
}


/*
	Users lists
*/
.groupAdmin .list-block {
	background-color: #fff;
	border: 1px solid #ccc;
	line-height: 1.5em;
	list-style: none;
	margin-bottom: 2em;
	padding: 1em 0.5em;
}
.groupAdmin .list-block .list-item {
	padding: 0 0.5em;
	box-sizing: content-box;
	clear: both;
}
.groupAdmin .list-block.list-users li,
.groupAdmin .list-block.list-applicants li,
.groupAdmin .list-block.list-groups li {
	position: relative;
	padding-left: 20px;
	padding-right: 25px;
}
.groupAdmin .list-block .list-item:hover {
	background-color: #edebed;
}
.groupAdmin .list-block .list-item>* {
	vertical-align: middle;
}
.groupAdmin .list-block .list-item .action {
	position: absolute;
	top: 0;
	right: 0;
}
.groupAdmin .list-block a {
	color: #480a2a;
	cursor: pointer;
	display: block;
}
.groupAdmin .list-block a:hover {
	text-decoration: none;
}
.groupAdmin .list-block.list-users .list-item.selected {
	background-color: #edebed;
}
.groupAdmin .tab-members .list-block.list-users .user-name {
	display: inline-block;
	max-width: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.groupAdmin .list-block.list-users .user-status {
	width: 12px;
	height: 12px;
	display: block;
	border-radius: 50%;
	position: absolute;
	left: 2px;
	top: 5px;
}
.groupAdmin .list-block.list-users .user-status.connected {
	background-color: #e42c20;
	border: 1px solid #e42c20;
}
.groupAdmin .list-block.list-applicants {
	max-height: 6em;
	max-width: 580px;
}

/* Buttons */

.groupAdmin .btn-icon {
	width: 30px;
	height: 30px;
	line-height: 1;
	padding: 0;
	display: inline-block;
	cursor: pointer;
	border: none;
	background-color: transparent;
	vertical-align: middle;
	transition: all 250ms;
}
.groupAdmin .btn-icon.btn-small {
	width: 21px;
	height: 21px;
	font-size: 16px;
}
.groupAdmin .btn-icon.btn-wide {
	width: 2.5em;
}
.material-icons.md-18 {
	font-size: 18px;
}
.material-icons.md-36 {
	font-size: 36px;
}
.groupAdmin .btn-icon i.material-icons {
	color: #333;
}
.groupAdmin .btn-icon.btn-small {
	width: 21px;
	height: 21px;
	font-size: 16px;
}
.groupAdmin .btn-icon.btn-wide {
	width: 2.5em;
}
.groupAdmin .btn-icon.btn-small.btn-view-more {
	background: url(images/apercu.png) center center no-repeat;
}
.groupAdmin .btn-icon.btn-small.btn-view-more:active,
.groupAdmin .btn-icon.btn-small.btn-view-more:focus,
.groupAdmin .btn-icon.btn-small.btn-view-more:hover {
	background-image: url(images/apercu-clic.png);
}
.groupAdmin .btn-icon.btn-small.btn-preview {
	background: url(images/petit-apercu.png) left center no-repeat;
}
.groupAdmin .btn-icon.btn-small.btn-preview:active,
.groupAdmin .btn-icon.btn-small.btn-preview:focus,
.groupAdmin .btn-icon.btn-small.btn-preview:hover {
	background-image: url(images/petit-apercu-clic.png);
}
.groupAdmin .btn-icon.btn-small.btn-delete {
	/*background: url(images/petit-supprimer.png) center center no-repeat;*/
}
.groupAdmin .btn-icon.btn-delete i.material-icons:active,
.groupAdmin .btn-icon.btn-delete i.material-icons:focus,
.groupAdmin .btn-icon.btn-delete i.material-icons:hover {
	/*background-image: url(images/petit-supprimer-clic.png);*/
	color: #e42c20;
}
.groupAdmin .btn-icon.btn-add {
	/*background: url(images/ajouter.png) center no-repeat;*/
}
.groupAdmin .btn-icon.btn-add i {
	color: #2aa3ff;
}
.groupAdmin .btn-icon.btn-zoom-in {
	background: url(images/vue-detaillee.png) center no-repeat;
}
.groupAdmin .btn-icon.btn-zoom-in:active,
.groupAdmin .btn-icon.btn-zoom-in:focus,
.groupAdmin .btn-icon.btn-zoom-in:hover {
	background-image: url(images/vue-detaillee-clic.png);
}
.groupAdmin .btn-icon.btn-zoom-out {
	background: url(images/vue-globale.png) center no-repeat;
}
.groupAdmin .btn-icon.btn-zoom-out:active,
.groupAdmin .btn-icon.btn-zoom-out:focus,
.groupAdmin .btn-icon.btn-zoom-out:hover {
	background-image: url(images/vue-globale-clic.png);
}
.groupAdmin .btn-icon.btn-modal {
	background: url(images/code.png) center no-repeat;
}
.groupAdmin .btn-modal:active,
.groupAdmin .btn-modal:focus,
.groupAdmin .btn-modal:hover {
	background-image: url(images/code-clic.png);
}
.groupAdmin .btn-icon .btn-label {
	font: 0/0 a;
	color: transparent;
	text-shadow: none;
}
.groupAdmin .group-delete {
	color: #333;
	display: inline-block;
	font-size: 16px;
	font-weight: bold;
	line-height: 30px;
	cursor: pointer;
}
.groupAdmin .group-delete:hover {
	text-decoration: none;
}
.groupAdmin .group-delete i {
	vertical-align: text-bottom;
	transition: all 500ms;
}
.groupAdmin .group-delete:hover i {
	color: #e42c20;
}
/*
	Home
*/
.groupAdmin-home {
	background-color: #edebed;
	padding: 2em;
}
body:not(.mobile-layout) .groupAdmin-homeContent {
	width: 50%;
	margin: 0 auto;
}

/*
	Tab: Descriptif
*/
.tab-group-description .flex-container {
	display: flex;
	flex-flow: row wrap;
	align-items: stretch;
	margin-bottom: 1em;
}
.tab-group-description .flex-container .item-label {
	flex-basis: auto;
	width: 256px;
	margin-right: 1em;
}
.tab-group-description .flex-container .item-control {
	flex-basis: auto;
	width: 480px;
}
.groupAdmin .tab-group-description .group-action {
	max-width: 752px;
}
.groupAdmin .tab-group-description .group-save {
	margin-bottom: 10px;
	clear: both;
	overflow: auto;
}
.groupAdmin .tab-group-description .block-delete {
	border-top: 1px solid #000;
	padding-top: 1em;
	text-align: right;
}

/*
	Tab: Membres
*/
.tab-members .flex-container {
	display: flex;
	flex-flow: row wrap;
	align-items: stretch;
}
.tab-members .members-col {
	flex: 1 0 0;
	margin-right: 2em;
	min-width: 200px;
}
.tab-members .action-col {
	flex: 2 1 400px;
}
.tab-members .action-col .flex-container .left-col {
	flex: 1 1 0;
	margin-right: 2em;
}
.tab-members .action-col .flex-container .right-col {
	flex: 1 1 0;
}
.tab-members .action-col .bloc-inscription {
	margin-bottom: 2em;
}

/*
	Tab: Progression
*/
.tab-progression .flex-container {
	display: flex;
	flex-flow: row wrap;
}
.tab-progression .flex-container.progression-controllers > div:first-child {
	flex: 1 1 450px;
}
.tab-progression .flex-container.progression-controllers > div + div {
	flex: 1 1 auto;
}
.tab-progression .flex-container.view-chrono {
	margin: 0 -15px;
}
.tab-progression .flex-container.view-chrono > div {
	padding: 0 15px;
}
.tab-progression .flex-container.view-chrono > div:first-child {
	flex: 1 1 310px;
}
.tab-progression .flex-container.view-chrono > div + div {
	flex: 2 1 620px;
}

.groupAdmin .validated {
	background-color: #0faa8b !important;
}
.groupAdmin .failed {
	background-color: #e42c20 !important;
}
.groupAdmin .validated_partial {
	background-color: #F29200 !important;
}
.groupAdmin .read {
	background-color: #707070 !important;
}
.groupAdmin .unread {
	background-color: #C6C6C6 !important;
}
.groupAdmin .tab-progression .parcours-select {
}
.groupAdmin .tab-progression .parcours-select select {
	margin-right: 3px;
	margin-bottom: 5px;
	max-width: 100%;
}
.groupAdmin .tab-progression .dl-link {
	margin-top: 10px;
	margin-bottom: 2em;
}
/* Individual view */
	/* Activities */
.groupAdmin .list-users .row_selected {
	background-color: #edebed;
}
.groupAdmin .list-users li {
	padding-left: 3px;
	margin: 5px 0;
	line-height: normal;
}
.groupAdmin .view-chrono .select-toggle {
	margin-top: -1em;
	margin-bottom: 2em;
}
.groupAdmin .table-activity {
	background-color: #fff;
	border: 1px solid #000;
}
.groupAdmin .table-activity th,
.groupAdmin .table-activity td {
	border: 1px solid #000;
}
.groupAdmin .table-activity th {
	font-weight: normal;
	text-transform: uppercase;
}
.groupAdmin .table-activity .activity-type {
	background-color: #C6C6C6;
}
.groupAdmin .table-activity .activity-type.validation {
	background-color: #0faa8b;
}
.groupAdmin .table-activity .activity-type.answer {
	background-color: #e42c20;
}
.groupAdmin .table-activity .activity-type button {
	float: right;
}
/*
.groupAdmin .table-activity .activity-type .btn-modal {
	width: 21px;
	height: 15px;
	display: block;
	position: absolute;
	cursor: pointer;
	right: 3px;
	bottom: 3px;
	opacity: 0;
	transition: all 250ms;
}
.groupAdmin .table-activity .activity-type:hover .btn-modal {
	opacity: 1;
}
*/
/* Collective view */

.groupAdmin .tab-progression .checkboxSwitch {
	margin-right: 1em;
}
.groupAdmin .tab-progression .checkboxSwitch > span {
	margin-right: 0.5em;
}
.groupAdmin .tab-progression .table-wrapper {
	overflow-x: auto;
}
.groupAdmin .table-progress {
	border-collapse: collapse;
	margin-top: 40px;
}
.groupAdmin .table-progress.view-global {
	margin-top: 120px;
}
.groupAdmin .table-progress td,
.groupAdmin .table-progress th {
	border: 1px solid #000;
	padding: 3px;
	background-color: #fff;
	background-clip: padding-box;
}
.groupAdmin .table-progress td.fixed-width.step-name,
.groupAdmin .table-progress th.fixed-width.step-name {
	width: 15em;
	min-width: 15em;
	max-width: 15em;
}
.groupAdmin .table-progress td.fixed-width.step-name p {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	margin: 0;
}
.groupAdmin .table-progress td.fixed-width.step-name .tooltip {
	white-space: nowrap;
	width: auto;
	font-family: inherit;
}
.groupAdmin .table-progress td.fixed-width.step-name .tooltip .tooltip-inner {
	max-width: initial;
}
.groupAdmin .table-progress .step-descr {
	width: 400px;
	min-width: 400px;
}
.groupAdmin .table-progress .step-descr>div {
	font-size: 14px;
	line-height: 1.2em;
	height: 67px;
	overflow: hidden;
}
.groupAdmin .table-progress .step-descr>div:hover {
	overflow: visible;
	background-color: #fff;
	height: auto;
	border: 1px solid #000;
	padding: 5px;
	opacity: 0.9;
	z-index: 1;
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
}
.groupAdmin .table-progress th {
	text-transform: uppercase;
}
.groupAdmin .table-progress td.status {
	padding: 0;
}

	/* Collective view: Global */
.groupAdmin .table-progress.view-global th.name {
	white-space: nowrap;
	width: 60px;
	min-width: 60px;
	max-width: 60px;
	border: none;
	background-color: transparent;
	padding: 0;
}
.groupAdmin .table-progress.view-global th.name .user-info-wrapper {
	transform: rotate(-45deg) translate(32px, 33px);
	width: 30px;
	text-transform: none;
}
.groupAdmin .table-progress.view-global th.name .user-info {
	border-bottom: 1px solid #000;
	padding: 5px;
	overflow: hidden;
	text-overflow: ellipsis;
	display: inline-block;
	width: 200px;
	text-align: left;
	cursor: default;
}
.groupAdmin .table-progress.view-global td.status {
	width: 60px;
	min-width: 60px;
	max-width: 60px;
	padding: 3px;
	vertical-align: bottom;
}
.groupAdmin .table-progress.view-global td.status.unread div.score {
	display: none;
}
.groupAdmin .table-progress.view-global td.status div.score {
	text-align: center;
	opacity: 1;
	transition: all 250ms;
	line-height: 0;
	position: relative;
	top: 10px;
}
.groupAdmin .table-progress.view-global td.status:hover div.score {
	opacity: 0;
}
.groupAdmin .table-progress.view-global td.status button {
	opacity: 0;
	transition: all 250ms;
	position: relative;
}
.groupAdmin .table-progress.view-global td.status:hover button {
	opacity: 1;
}
.groupAdmin .table-progress td.status .popover {
	max-width: initial;
}
.groupAdmin .table-progress td.status .popover .progress-details {
	background-color: #fff;
	list-style: none;
	font-size: 14px;
	line-height: 1.4;
	margin: 0;
	padding: 0;
	width: 330px;
}
.groupAdmin .table-progress .popover .progress-details li {
	position: relative;
	padding-left: 20px;
}
.groupAdmin .table-progress .popover .progress-details li.login {
	font-weight: bold;
}
.groupAdmin .table-progress .popover .progress-details li.time {
	white-space: nowrap;
}

/* fixed header */

.table-wrapper > div {
	overflow: auto;
}
.groupAdmin .table-progress.table-body {
	margin-top: 0;
	width: content-box;
	width: fit-content;
	width: min-content;
	width: fill;
}
.groupAdmin .table-progress tbody {
	display: block;
	max-height: 400px;
	max-height: calc(100vh - 175px);
	overflow-y: auto;
	overflow-x: hidden;
}
.groupAdmin .table-progress.view-detail tbody {
	max-height: 400px;
	max-height: calc(100vh - 100px);
}
	/* Collective view: Detailed */
.groupAdmin .table-progress.view-detail th.name {
	word-break: break-word;
	text-transform: none;
}
.groupAdmin .table-progress.view-detail th.name .user-info span {
	display: block;
}
.groupAdmin .table-progress.view-detail th.name .user-info .user-name {
	max-width: 14em;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.groupAdmin .table-progress.view-detail th.name,
.groupAdmin .table-progress.view-detail td.status {
	max-width: 265px;
	min-width: 265px;
		width: 265px;

}
.groupAdmin .table-progress.view-detail .progress-details .details-row {
	text-align: center;
	overflow: hidden;
}
.groupAdmin .table-progress.view-detail .progress-details .details-row:first-child {
	border-bottom: 1px solid #fff;
	border-bottom: 1px solid rgba(255,255,255,0.4);
}
.groupAdmin .table-progress.view-detail .progress-details .details-row > div {
	vertical-align: middle;
	border-left: 1px solid #fff;
	border-left: 1px solid rgba(255,255,255,0.4);
	padding: 0 4px;
	text-align: center;
	white-space: nowrap;
	text-overflow: ellipsis;
	float: left;
	cursor: default;
}
.groupAdmin .table-progress.view-detail .progress-details .details-row > div.date {width: 112px;}
.groupAdmin .table-progress.view-detail .progress-details .details-row > div.time {width:107px;}
.groupAdmin .table-progress.view-detail .progress-details .details-row > div.help {width:40px;}
.groupAdmin .table-progress.view-detail .progress-details .details-row > div.score {width:68px;}
.groupAdmin .table-progress.view-detail .progress-details .details-row > div.submissions {width:85px;}
.groupAdmin .table-progress.view-detail .progress-details .details-row > div.questions {width:55px;}
.groupAdmin .table-progress.view-detail .progress-details .details-row > div.button {width: 39px;}
.groupAdmin .table-progress.view-detail .progress-details .details-row > div.tooltip {
	padding: 5px 0;
}
.groupAdmin .table-progress.view-detail .progress-details .details-row > div.tooltip .tooltip-inner {
	max-width: initial;
}
.groupAdmin .table-progress.view-detail .progress-details .details-row > div:first-child {
	border-left: none;
}
.groupAdmin .table-progress.view-detail .status.unread .progress-details .details-row > div {
	display: none;
}
.groupAdmin .table-progress.view-detail .progress-details .details-row .btn-icon {
	height: 15px;
}
.groupAdmin .progress-details li::before {
	margin-right: 5px;
	display: inline-block;
	width: 15px;
	position: absolute;
	left: 0;
	top: 0;
}
.groupAdmin .progress-details .details-row div::before {
	margin-right: 5px;
	display: inline-block;
	width: 15px;
}
.groupAdmin .progress-details .score::before {
	font-family: "Glyphicons Halflings";
	font-size: 12px;
	content: normal;
}
.groupAdmin .progress-details .score.top-score::before {
	content: "\e013";
}
.groupAdmin .progress-details .score.not-top-score::before {
	content: "\e014";
}
.groupAdmin .progress-details .date::before {
	content: url(images/picto-calendrier.png);
}
.groupAdmin .progress-details .time::before {
	content: url(images/picto-chronometre.png);
}
.groupAdmin .progress-details .questions::before {
	content: url(images/picto-indice.png);
}
.groupAdmin .progress-details .help::before {
	content: url(images/picto-aide.png);
}
.groupAdmin .view-detail .status.unread .progress-details .details-row > div::before,
.groupAdmin .view-detail .status.read .progress-details .details-row > div::before {
	content: normal;
}
.groupAdmin .view-detail .status.unread .progress-details .details-row,
.groupAdmin .view-detail .status.unread .progress-details .details-row > div {
	border: none;
}
.groupAdmin .legend {
	list-style: none;
	padding: 0;
}
@media only screen and (min-width: 1494px) {
	.groupAdmin .legend {
		-webkit-column-count: 2;
		   -moz-column-count: 2;
		        column-count: 2;
		-webkit-column-gap: 1em;
		   -moz-column-gap: 1em;
		        column-gap: 1em;
	}
	.groupAdmin .legend li {
		break-inside: avoid;
	}
}

.groupAdmin .legend-color {
	width: 14px;
	height: 14px;
	display: inline-block;
	vertical-align: middle;
	margin-right: 5px;
	border: 7px solid;
}
.groupAdmin .legend-color.green {
	border-color: #0FAA8B;
	background-color: #0FAA8B;
}
.groupAdmin .legend-color.red {
	border-color: #e42c20;
	background-color: #e42c20;
}
.groupAdmin .legend-color.orange {
	border-color: #F29200;
	background-color: #F29200;
}
.groupAdmin .legend-color.dark-grey {
	border-color: #707070;
	background-color: #707070;
}
.groupAdmin .legend-color.light-grey {
	border-color: #C6C6C6;
	background-color: #C6C6C6;
}
.groupAdmin .view-switcher .btn-icon {
	vertical-align: bottom;
}

/*
	Tab: Administration
*/

.groupAdmin .table-administrators {
	overflow: auto;
	max-width: 100%;
}
.groupAdmin .table-administrators table {
	max-height: 200px;
	border: 1px solid #ccc;
	margin-bottom: 2em;
	background-color: #fff;
}
.groupAdmin .table-administrators th,
.groupAdmin .table-administrators td {
	padding: 5px 10px;
	text-align: center;
	vertical-align: middle;
}
.groupAdmin .table-administrators th:first-child,
.groupAdmin .table-administrators td:first-child {
	text-align: left;
}
.groupAdmin .admin-form {
	position: relative;
	padding-right: 45px;
}
.groupAdmin .admin-form input {
	width: 100%;
}
.groupAdmin .admin-form .btn-icon {
	position: absolute;
	top: 0;
	right: 0;
}

.groupAdmin .chapter_string {
	font-weight: bold;
}

@media screen {
	.print {
		display: none;
	}
}


/*
	Accounts manager
*/
#groupAccountsManagerPopupController_print .box {
	margin: 4px;
}
#groupAccountsManagerPopupController_print table.outer {
	width: 100%;
	border-collapse: collapse;
}
#groupAccountsManagerPopupController_print table.outer>tbody>tr>td {
    border: solid black 1px;
    text-align: center;
    vertical-align: middle;
}
#groupAccountsManagerPopupController_print table.inner>tbody>tr>td {
	width: 50%;
	padding: 1px 5px;
	text-align: left;
	border: 0;
}
#groupAccountsManagerPopupController_print .td1 {
    width: 20%;
}
#groupAccountsManagerPopupController_print .td2 {
    width: 30%;
}
#groupAccountsManagerPopupController_print .td3 {
    width: 50%;
}



/*
	Common
*/
.groupAdmin .col-wrapper {
	display: flex;
	flex-flow: row wrap;
	align-items: stretch;
}
.groupAdmin .col-wrapper .col-left {
	flex: 1 1 0;
	margin-right: 2em;
}
.groupAdmin .col-wrapper .col-right {
	flex: 1 1 0;
}


/*
*
	PRINT
*
*/
@media print {
	#menu, .breadcrumbs-item-inactive, #footer,
	.sidebar-left,
	.nav-tabs,
	.checkboxSwitch,
	.btn, .dl-link,
	.progression-type-select,
	.groupAdmin .table-progress  {
		display: none !important;
	}
	/*
	*
	GROUP ADMIN
	*
	*/
	/* Progression tables */
	body,
	#main,
	.tab-progression .flex-container {
		display: block !important;
	}
	body {
		overflow: initial !important;
	}
	.groupAdmin .table-progress-print + .table-progress-print {
		page-break-before: always;
	}
	.groupAdmin .table-progress-print tr {
		-webkit-page-break-inside: avoid;
		page-break-inside: avoid;
	}
	.groupAdmin .table-progress-print td {
		border: 1pt solid #000;
	}
	.groupAdmin .table-progress-print td.fixed-width.step-name {
		width: 180pt;
		min-width: 180pt;
		max-width: 180pt;
	}
	.groupAdmin .table-progress-print td.fixed-width.step-name div {
		height: 32pt;
		min-height: 32pt;
		max-height: 32pt;
		overflow: hidden;
	}
		/* Detailed view */
	.groupAdmin .table-progress-print.view-detail .progress-details .details-row:first-child,
	.groupAdmin .table-progress-print.view-detail .progress-details .details-row > div {
		border-color: #000;
	}
	.groupAdmin .table-progress-print.view-detail td.status {
		max-width: 195pt;
		min-width: 195pt;
			width: 195pt;
	}
	.groupAdmin .table-progress-print.view-detail .progress-details .details-row {
		text-align: center;
		overflow: hidden;
	}
	.groupAdmin .table-progress-print.view-detail .progress-details .details-row:first-child {
		border-bottom: 1pt solid #000;
	}
	.groupAdmin .table-progress-print.view-detail .progress-details .details-row > div {
		vertical-align: middle;
		border-left: 1pt solid #000;
		padding: 0 4px;
		text-align: center;
		white-space: nowrap;
		text-overflow: ellipsis;
		float: left;
	}
	.groupAdmin .view-detail .status.unread .progress-details .details-row,
	.groupAdmin .view-detail .status.unread .progress-details .details-row > div {
		border: none;
	}
	.groupAdmin .table-progress-print.view-detail .progress-details .details-row > div.date {width: 84pt;}
	.groupAdmin .table-progress-print.view-detail .progress-details .details-row > div.time {width:80pt;}
	.groupAdmin .table-progress-print.view-detail .progress-details .details-row > div.help {width:30pt;}
	.groupAdmin .table-progress-print.view-detail .progress-details .details-row > div.score {width:58pt;}
	.groupAdmin .table-progress-print.view-detail .progress-details .details-row > div.submissions {width:64pt;}
	.groupAdmin .table-progress-print.view-detail .progress-details .details-row > div.questions {width:70pt;}
	.groupAdmin .table-progress-print.view-detail .progress-details .details-row > div:first-child {
		border-left: none;
	}
	.groupAdmin .table-progress-print.view-detail .status.unread .progress-details .details-row > div {
		display: none;
	}
	.groupAdmin .table-progress-print.view-detail .progress-details .details-row .btn-icon {
		height: 12pt;
	}


		/* Global view */
	.groupAdmin .table-progress-print.view-global th {
		vertical-align: bottom;
	}
	.groupAdmin .table-progress-print.view-global th.name {
		white-space: nowrap;
		border: none;
		background-color: transparent;
		padding: 0;
		height: 140pt;
		width: 50pt;
		max-width: 50pt;
		min-width: 50pt;
	}
	.groupAdmin .table-progress-print.view-global th.name div {
		transform: rotate(-45deg);
		transform-origin: left bottom;
		position: relative;
		left: calc(100% + 2pt);
		text-transform: none;
		bottom: -2pt;
		line-height: 1;
	}
	.groupAdmin .table-progress-print.view-global th.name .user-info {
		border-bottom: 1pt solid #000;
		padding: 5pt;
		overflow: hidden;
		text-overflow: ellipsis;
		display: inline-block;
		text-align: left;
		width: 200pt;
	}
	.groupAdmin .table-progress-print.view-global td {
		border: 1pt solid #000;
	}
	@page{
		size: A4 landscape;
		@bottom-left-corner {
			content: counter(page);
		}
	}
	.avertissement {
		position: relative;
		display: block;
		color: #C6C6C6 !important;
		background-color: #C6C6C6 !important;
		margin-bottom: 5pt;
	}
}
