/*
Colors:
Light grey : #edebed;
Declick dark purple: #480a2a;
Light purple: #a88996;
Yellow-green: #D1D718;
Blue-Green: #0fac8e;
Pink: #e11782;
Red : #e42c20;
*/
.groupAdmin {
	margin: 10px;
	color: #480a2a;
	font-family: "Roboto", sans-serif;
	font-size: 16px;
}
.groupAdmin-home {
	background-color: #edebed;
	padding: 2em;
}
.groupAdmin-homeContent {
	width: 50%;
	margin: 0 auto;
}
.groupAdmin-homeContent .list {
	border: 1px solid #a88996;
	line-height: 1.5em;
	list-style: none;
	margin-bottom: 2em;
	padding: 0;
	background-color: #fff;
}
.groupAdmin-homeContent .list a {
	padding: 0 1em;
	color: #480a2a;
	cursor: pointer;
	display: block;
}
.groupAdmin-homeContent .list a:hover {
	text-decoration: none;
	background-color: #edebed;
}

/* Tabs */
.groupAdmin .nav-tabs>li>a {
	font-size: 14px;
	font-weight: bold;
	letter-spacing: 0.08em;
	text-transform: uppercase;
	transition: all 250ms;
}
.groupAdmin .nav-tabs>li.active>a,
.groupAdmin .nav-tabs>li.active>a:focus,
.groupAdmin .nav-tabs>li.active>a:hover  {
	color: #D1D718;
}
.groupAdmin-tabContent {
	background-color: #edebed;
	padding: 2em;
	overflow: auto;
}
.groupAdmin-tabContent .row {
	margin-bottom: 1em;
}
/* Text elements */
.groupAdmin .groupAdmin-title {
	font-size: 18px;
	text-transform: uppercase;
	font-weight: bold;
	margin-bottom: 1em;
}
.groupAdmin .groupAdmin-title span {
	display: block;
	font-size: 16px;
	font-weight: normal;
	font-style: italic;
	text-transform: none;
}
.groupAdmin .label-title {
	font-weight: bold;
	display: inline-block;
	margin-bottom: 5px;
	font-size: 18px;
}
.groupAdmin .label-title.label-list-item {
	display: list-item;
	list-style-position: inside;
}
.groupAdmin .label-description {
	font-size: 14px;
	font-style: italic;
	color: #353535;
	display: block;
	font-weight: normal;
	line-height: 1.2em;
	text-shadow: 1px 1px 1px #fff;
}

/* Forms */
.groupAdmin .form-control {
	border-color: #a88996;
	border-radius: 0;
}
.groupAdmin .form-control + .form-control {
	margin-top: 1em;
}
.groupAdmin .checkboxSwitch input.switch {
	display: none;
}
.groupAdmin .checkboxSwitch input.switch + label {
	background-color: #480a2a;
	width: 70px;
	height: 30px;
	border-radius: 15px;
	position: relative;
}
.groupAdmin .checkboxSwitch input.switch + label span {
	width: 20px;
	height: 20px;
	top: 5px;
	left: 5px;
	position: absolute;
	border-radius: 50%;
	background-color: #e42c20;
	transition: all 250ms;
}
.groupAdmin .checkboxSwitch input.switch:checked + label span {
	background-color: #0fac8e;
	left: 45px;
}

.groupAdmin .table-utilisateur {
	background-color: #fff;
	border: 1px solid #a88996;
}
.groupAdmin .table-utilisateur tr td {
	border: none;
}
.groupAdmin .table-utilisateur tr td:first-child {
	width: 100%;
}
.groupAdmin .table-utilisateur tr td + td {
	text-align: center;
}
.groupAdmin .table-utilisateur tr:hover {
	background-color: #edebed;
}

.groupAdmin .block-delete {
	border-top: 1px solid #000;
	padding-top: 1em;
	text-align: right;
}
/* Buttons */
.groupAdmin .btn.btn-primary {
	background-color: #480a2a;
	border-color: #480a2a;
}
.groupAdmin .btn-icon {
	width: 30px;
	height: 30px;
	display: inline-block;
	cursor: pointer;
	border: none;
	transition: all 250ms;
	vertical-align: middle;
}
.groupAdmin .btn-icon.btn-small {
	width: 20px;
	height: 20px;
}
.groupAdmin .btn-icon.btn-small.btn-view-more {
	background: url(images/apercu.png) center center no-repeat;
}
.groupAdmin .btn-icon.btn-small.btn-view-more:active,
.groupAdmin .btn-icon.btn-small.btn-view-more:focus,
.groupAdmin .btn-icon.btn-small.btn-view-more:hover {
	background-image: url(images/apercu-clic.png);
}
.groupAdmin .btn-icon.btn-small.btn-delete {
	background: url(images/petit-supprimer.png) center center no-repeat;
}
.groupAdmin .btn-icon.btn-small.btn-delete:active,
.groupAdmin .btn-icon.btn-small.btn-delete:focus,
.groupAdmin .btn-icon.btn-small.btn-delete:hover {
	background-image: url(images/petit-supprimer-clic.png);
}
.groupAdmin .btn-icon.btn-add {
	background: url(images/ajouter.png) center no-repeat;
}
.groupAdmin .btn-icon.btn-add:active,
.groupAdmin .btn-icon.btn-add:focus,
.groupAdmin .btn-icon.btn-add:hover {
	background-image: url(images/ajouter.png);
}
.groupAdmin .btn-icon .btn-label {
	display: none;
}
.groupAdmin .group-delete {
	color: #480a2a;
	display: inline-block;
	font-size: 16px;
	font-weight: bold;
	line-height: 30px;
	padding-right: 40px;
	cursor: pointer;
	background: url(images/grand-supprimer-clic.png) center right no-repeat;
	transition: all 500ms;
}
.groupAdmin .group-delete:hover {
	text-decoration: none;
	background-image: url(images/grand-supprimer.png);
}

/* Group admin home */
.groupAdmin-homeContent .form-inline {
	position: relative;
	padding-right: 45px;
}
.groupAdmin-homeContent .form-inline input {
	width: 100%;
}
.groupAdmin-homeContent .form-inline .btn-icon {
	position: absolute;
	top: 0;
	right: 0;
}