<div>
  <p ng-i18next="attempts_intro"></p>
  <div ng-hide="item.groups_attempts|isEmptyObject" class="well">
    <table class="table">
      <tr>
        <th ng-i18next="attempt"></th>
        <th ng-i18next="attempts_best_score"></th>
        <th ng-i18next="attempts_creator"></th>
        <th></th>
      </tr>
      <tr ng-repeat="attempt in item.groups_attempts | orderObjectBy:'iOrder'">
        <td>
          N°{{ attempt.iOrder }}
          <b ng-show="attempt.ID == user_item.idAttemptActive" ng-i18next="attempts_active"></b>
          <br>
          {{ attempt.sStartDate|date:'medium' }}
        </td>
        <td>
          {{ attempt.iScore }}%
          <span ng-if="attempt.iScore > 0 && attempt.sBestAnswerDate"><span ng-i18next="attempts_in"></span> {{ attempt|attemptTime }}</span>
        </td>
        <td>
          {{ teamUsers[attempt.idUserCreator].sLogin }}
          <span ng-if="teamUsers[attempt.idUserCreator].sFirstName || teamUsers[attempt.idUserCreator].sLastName">({{ teamUsers[attempt.idUserCreator].sFirstName }} {{ teamUsers[attempt.idUserCreator].sLastName }})</span>
        </td>
        <td>
          <button ng-hide="attempt.ID == user_item.idAttemptActive" class="btn btn-default btn-sm" ng-click="selectAttempt(attempt.ID);" ng-i18next="select"></button>
          <button ng-show="attempt.ID == user_item.idAttemptActive" class="btn btn-primary" ng-click="selectTab('task');" ng-i18next="attempts_goto"></button>
        </td>
      </tr>
    </table>
  </div>
  <p ng-hide="item.groups_attempts|isEmptyObject">
    <button class="btn btn-default" ng-click="userCreateAttempt();" ng-i18next="attempts_new"></button>
  </p>
  <p ng-show="item.groups_attempts|isEmptyObject" class="text-center">
    <button class="btn btn-primary btn-lg" ng-click="userCreateAttempt();" ng-i18next="attempts_new_first"></button>
  </p>
</div>
