<div class="item-from-parent bg-{{activityClass}}">
   <div class="from-parent-icon"><span class="glyphicon glyphicon-file"></span></div>
   <div class="from-parent-status">
      <span ng-switch="item_status()">
         <span ng-switch-when="not visited" class="glyphicon glyphicon-eye-close" title="non visité"></span>
         <span ng-switch-when="grayed" class="glyphicon glyphicon-lock" title="non accessible"></span>
         <span ng-switch-when="visited" class="glyphicon glyphicon-eye-open" title="visité le {{get_formatted_date(user_item.sLastActivityDate)}}"></span>
         <span ng-switch-when="validated" class="glyphicon glyphicon-ok" style="color:#3c763d;" title="validé le {{get_formatted_date(user_item.sValidationDate)}}"></span>
         <span ng-switch-when="failed" class="glyphicon glyphicon-remove" style="color:#ff0000;"></span>
      </span>
   </div>
      <div class="from-parent-link"><span ng-if="item_status() == 'grayed'" class="grayed">{{strings.sTitle}}</span><span ng-if="item_status() != 'grayed'"><a ui-sref="{{getSref()}}">{{strings.sTitle}}</a></span></div>
   <div class="from-parent-res show-large"></div>
   <div class="from-parent-res show-small"></div>
   <div class="from-parent-type show-large task-label task-label-course">Cours</div>
   <div class="from-parent-type show-small task-label task-label-course"><span title="Cours">C</span></div>
</div>
