<div>
  <p>Voici l'historique des sauvegardes et soumissions des membres de votre équipe, pour la tentative courante.</p>
  <div class="well">
    <button class="btn btn-default" ng-disabled="manualSyncDisabled" ng-click="getHistory(true);">Rafraîchir l'historique</button>
    <button class="btn btn-default" ng-disabled="lastSave.sState == user_item.sState && lastSave.sAnswer == user_item.sAnswer" ng-click="keepState();">Sauvegarder la réponse courante</button> <i ng-show="lastSave.sState == user_item.sState && lastSave.sAnswer == user_item.sAnswer">(aucune modification depuis la dernière sauvegarde)</i>
    <table class="table">
      <tr>
        <th>Date/heure</th>
        <th>Type</th>
        <th>Utilisateur</th>
        <th></th>
      <tr>
      <tr ng-show="!users_answers[user_item.idAttemptActive]"><td colspan="4">(aucune réponse enregistrée pour cette tentative)</td></tr>
      <tr ng-repeat="answer in users_answers[user_item.idAttemptActive] | orderObjectBy:'sSubmissionDate':true">
        <td>{{ answer.sSubmissionDate|date:'short' }}</td>
        <td>
          <span ng-if="answer.sType == 'Submission'">soumission (score {{answer.iScore}})</span>
          <span ng-if="answer.sType == 'Saved'">sauvegarde</span>
          <span ng-if="answer.sType == 'Current'">réponse courante</span>
        </td>
        <td>
          {{ teamUsers[answer.idUser].sLogin }}
          <span ng-if="teamUsers[answer.idUser].sFirstName || teamUsers[answer.idUser].sLastName">({{ teamUsers[answer.idUser].sFirstName }} {{ teamUsers[answer.idUser].sLastName }})</span> 
        </td>
        <td><button class="btn btn-default btn-sm" ng-click="loadAnswer(answer);">Recharger</button></td>
      </tr>
    </table>
  </div>
</div>
