<div class="progress-popup" ng-show="progress">
    <div class="popup-close" ng-click="closeProgressPopup();"><span class="material-icons">close</span></div>
    <div><b>Progression</b></div>
    <div>
        Sur cet exercice :
        <uib-progressbar value="progress.score" type="success" ng-if="progress.score == 100">
{{ progress.score }}%
        </uib-progressbar>
        <uib-progressbar value="progress.score" type="warning" ng-if="progress.score != 100">
{{ progress.score }}%
        </uib-progressbar>
    </div>
    <div>
        Sur ce chapitre :
        <div class="progress-area">
            <div ng-repeat="task in progress.scores" class="progress-box" ng-class="getProgressClass(task)">
                {{ task.iScore }}
            </div>
        </div>
    </div>
    <div>
        <b>Score total : {{ progress.total_score }}</b>
    </div>
</div>
