<div class="progress-popup" ng-show="progress">
    <div class="popup-close" ng-click="closeProgressPopup();"><span class="material-icons">close</span></div>
    <div><b ng-i18next="progress"></b></div>
    <div>
        <span ng-i18next="progressPopup_task_title"></span>
        <uib-progressbar value="progress.score" type="success" ng-if="progress.score == 100">
{{ progress.score }}%
        </uib-progressbar>
        <uib-progressbar value="progress.score" type="warning" ng-if="progress.score != 100">
{{ progress.score }}%
        </uib-progressbar>
    </div>
    <div>
        <span ng-i18next="progressPopup_chapter_title"></span>
        <div class="progress-area">
            <div ng-repeat="task in progress.scores" class="progress-box" ng-class="getProgressClass(task)">
                {{ task.iScore }}
            </div>
        </div>
    </div>
    <div>
        <b><span ng-i18next="progressPopup_total_score"></span> {{ progress.total_score }}</b>
    </div>
</div>
