<div ng-if="panel!='right'">
   <h4 style="text-align:center;">{{strings.sTitle}}<br><small>{{strings.sSubtitle}}</small></h4>
</div>

<div ng-if="panel=='right'">
   <h2 style="text-align:center;">{{strings.sTitle}}<br><small>{{strings.sSubtitle}}</small></h2>
   <div ng-bind-html="strings.sDescription"></div>
</div>

<div class="sons-from-parent sons-from-parent-{{panel}}" ng-class="{'sons-from-parent-large': (panel == 'right' && !right_is_small || panel == 'left' && !left_is_small)}">
   <div ng-repeat="item in children track by item.ID" display-item from="parent"></div>
</div>
