<div class="main-titlebar" ng-include="'navigation/views/menubar.html'"></div>
<div ng-controller="taskController" class="main-area main-area-task" id="main-area">
   <div class="first-task">
       <div tabset justified="true" ng-show="taskLoaded || showForum" id="task-tabs"  class="task-tabs">
          <li ng-repeat="view in views" tab heading="{{view.string}}" select="selectTab(view.name)" disabled="view.disabled" active="view.active" class="task-tab" id="view.id" ng-hide="view.name === 'editor' && layout.separateEditorOK">
          </li>
       </div>

     <div ng-include="'forum/thread.html'" ng-show="showForum" ng-controller="forumThreadController" class="forum-in-task" id="forum-in-task"></div>
     <div ng-hide="taskLoaded || showForum" ng-include="viewsBaseUrl+'loading.html'"></div>
     <div ng-show="taskLoaded && !showForum" include-task class="task-container"></div>
  </div>
  <div ng-show="taskLoaded && layout.separateEditorOK" ng-if="hasEditor" class="second-task">
    <div tabset justified="true" ng-show="taskLoaded" id="task-tabs" class="task-tabs">
      <li active="true" class="task-tab" tab heading="Résolution">
      </li>
    </div>
    <div include-task class="task-container" task-name="task-answers"></div>
  </div>
</div>
