<div ng-controller="taskController" class="main-area main-area-task" id="main-area">
   <div class="first-task" style="position: relative;">
     <div ng-include="templatesPrefix+'forum/thread.html'" ng-if="showForum" ng-controller="forumThreadController" class="forum-in-task" id="forum-in-task"></div>
     <div ng-include="templatesPrefix+'navigation/views/attempts.html'" ng-if="tabsService.isTab('attempts')"></div>
     <div ng-include="templatesPrefix+'navigation/views/history.html'" ng-if="tabsService.isTab('history')"></div>
     <div ng-include="templatesPrefix+'navigation/views/modify.html'" ng-if="tabsService.isTab('modify')"></div>
     <!-- the task is still rendered while loaded, as some elements, such as Blockly, glitch when they are loaded while on display: none -->
     <!-- TODO :: it's possible that it's not needed anymore as quickAlgo has fixes for that -->
     <div ng-show="showTask" include-task read-only="{{ item.bReadOnly }}" class="task-container" style="position: relative;"></div>
     <div class="loading" ng-hide="taskLoaded || !showTask" ng-include="viewsBaseUrl+'loading.html'" style="position: absolute; top: 0px; left: 0px; right: 0px; bottom: 0px; height: 100%; width: 100%; z-index: 1; background-color: rgba(255, 255, 255, {{ loadOpacity }});"></div>
  </div>
</div>
