<div ng-controller="taskController">
  <div ng-if="!layout.west_is_open">
    <h2>{{strings.sTitle}}</h2>
    <div uib-tabset justified="true">
       <li ng-repeat="view in views" uib-tab heading="{{view.string}}" select="selectTab(view.name)" disabled="view.disabled" active="view.active">
       </li>
    </div>
  </div>
  <div ng-include="'forum/thread.html'" ng-show="showForum"></div>
  <div class="loading" ng-hide="taskLoaded || !showTask" ng-include="viewsBaseUrl+'loading.html'"></div>
  <div ng-show="taskLoaded && showTask" include-task></div>
</div>
