<div class="main-titlebar task-titlebar" ng-include="templatesPrefix+'navigation/views/menubar.html'"></div>
<div ng-controller="taskController" class="main-area main-area-task" id="main-area main-area-fullscreen">
   <div class="first-task">
       <div uib-tabset justified="true" ng-show="taskLoaded || !showTask" id="task-tabs"  class="task-tabs">
          <li ng-repeat="view in views" uib-tab heading="{{view.string}}" select="selectTab(view.name)" disabled="view.disabled" active="view.active" class="task-tab" id="view.id" ng-hide="view.name === 'editor' && layout.separateEditorOK">
          </li>
       </div>

     <div ng-include="templatesPrefix+'forum/thread.html'" ng-if="showForum" ng-controller="forumThreadController" class="forum-in-task" id="forum-in-task"></div>
     <div class="loading" ng-hide="taskLoaded || !showTask" ng-include="viewsBaseUrl+'loading.html'"></div>
     <div ng-show="taskLoaded && showTask" include-task class="task-container"></div>
  </div>
  <div ng-show="taskLoaded" ng-if="hasEditor && layout.separateEditorOK" class="second-task" ng-controller="taskController">
    <div uib-tabset justified="true" ng-show="taskLoaded" id="task-tabs" class="task-tabs">
      <li active="true" class="task-tab" uib-tab heading="Résolution">
      </li>
    </div>
    <div include-task class="task-container" task-name="task-editor"></div>
  </div>
</div>
