<div class="main-titlebar task-titlebar" ng-if="item.bTitleBarVisible || item.sFullScreen == 'forceYes'" ng-include="templatesPrefix+'navigation/views/menubar.html'"></div>
<div ng-controller="taskController" class="main-area main-area-task" id="main-area main-area-fullscreen">
   <div class="first-task" style="position: relative;">
     <div ng-if="itemType == 'Task'" ng-show="taskLoaded || !showTask" id="task-tabs" class="task-tabs">
       <div class="task-tabs-inner">
         <div ng-repeat="view in views" ng-click="$parent.selectTab(view.name)" class="task-tab" ng-class="{true: 'task-tab-selected'}[view.active]" id="view.id" ng-hide="view.name === 'editor' && layout.separateEditorOK" ng-i18next="{{view.string}}">
         </div>
       </div>
     </div>

     <div ng-include="templatesPrefix+'forum/thread.html'" ng-if="showForum" ng-controller="forumThreadController" class="forum-in-task" id="forum-in-task"></div>
     <div ng-include="templatesPrefix+'navigation/views/attempts.html'" ng-if="showAttempts"></div>
     <div ng-include="templatesPrefix+'navigation/views/history.html'" ng-if="showHistory"></div>
     <!-- the task is still rendered while loaded, as some elements, such as Blockly, glitch when they are loaded while on display: none -->
     <!-- TODO :: it's possible that it's not needed anymore as quickAlgo has fixes for that -->
     <div ng-show="showTask" include-task read-only="{{ item.bReadOnly }}" class="task-container" style="position: relative;"></div>
     <div class="loading" ng-hide="taskLoaded || !showTask" ng-include="viewsBaseUrl+'loading.html'" style="position: absolute; top: 0px; left: 0px; right: 0px; bottom: 0px; height: 100%; width: 100%; z-index: 1; background-color: rgba(255, 255, 255, {{ loadOpacity }});"></div>
  </div>
  <div ng-show="taskLoaded" ng-if="hasEditor && layout.separateEditorOK" class="second-task" ng-controller="taskController">
    <div uib-tabset justified="true" ng-show="taskLoaded" id="task-tabs" class="task-tabs">
      <li active="true" class="task-tab" uib-tab heading="Résolution">
      </li>
    </div>
    <div include-task class="task-container" task-name="task-editor"></div>
  </div>
</div>
