<div style="float: right;">
  <span ng-if="!item.bReadOnly && (!item.bGrayedAccess || item.sDuration) && item.idItemUnlocked && item.idItemUnlocked != ''" class="material-icons {{accessIconClass}}">vpn_key</span>
  <span ng-if="!item.bReadOnly && !item.bGrayedAccess && item_item.sCategory == 'Challenge'" class="material-icons">star</span>
  <span ng-if="!item.bReadOnly && item.bGrayedAccess && !item.sDuration" class="material-icons">lock</span>
  <span ng-if="!item.bReadOnly && item.sDuration" class="material-icons">alarm</span>
  <span ng-if="item.bReadOnly" class="material-icons">visibility</span>
  <span ng-if="iScore > 0">&nbsp;{{ iScore }}%</div>
</div>
<span class="material-icons {{mainIconClass}}" title="{{mainIconTitle}}">{{mainIconName}}</span>
<span ng-if="item_status() == 'grayed'" class="grayed">{{strings.sTitle}}</span>
<span ng-if="item_status() != 'grayed'"><a ui-sref="{{getSref()}}">{{strings.sTitle}}</a></span>
<div class="clear: both;"></div>
